extends ../../../layouts/_layout

block vars
    - var bodyClass = "healthcare financial-integrity-and-compliance"

block content

    article.page-content

        include ../../../includes/_header-L3-healthcare.pug

        include ../../../includes/_page-L3-intro.pug

        include ../../../includes/_page-quote.pug
        
        include ../../../includes/_page-text.pug
                
        include ../../../includes/_page-blog-posts.pug
        
        include ../../../includes/_page-sign-up.pug
