@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
    public static Umbraco.Web.UmbracoHelper umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
}

@model IPublishedContent
@{
    var feedResource1 = ProcessRssFeed(Model.GetPropertyValue<string>("RssFile1"));
    var orderedBlogs1 = feedResource1.OrderByDescending(x => x.PublishDate).ToList<ResourceLink>();
    var feedResource2 = ProcessRssFeed(Model.GetPropertyValue<string>("RssFile2"));
    var orderedBlogs2 = feedResource2.OrderByDescending(x => x.PublishDate).ToList<ResourceLink>();
    var resources = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("resource");
}

        <section id="@Model.UrlName" class="section-blog-posts">
          <div class="container">
            <div class="row">

              <header class="col-12 text-center mb-4 section-blog-posts-header">
                <h2 class="h3">@Model.GetPropertyValue("title")</h2>
              </header>

              <main class="col-12 section-blog-posts-main">
                <div class="row section-blog-posts-row">

                @foreach (var blogpost in orderedBlogs1)
                {
                  <div class="col-md-4 blog-posts-item"><a class="link-block card card-blog-posts" href="@blogpost.Url" role="button"><img class="card-img-top card-blog-posts-img img-fluid" src="@blogpost.ThumbnailUrl" alt="@blogpost.Title">
                      <div class="card-body mt-3 card-blog-posts-body">
                        <h3 class="card-text mb-4 card-blog-posts-h">@blogpost.Title</h3><span class="btn-arrow">Read More</span>
                      </div></a></div>
                }

                @foreach (var blogpost in orderedBlogs2)
                {
                  <div class="col-md-4 blog-posts-item"><a class="link-block card card-blog-posts" href="@blogpost.Url" role="button"><img class="card-img-top card-blog-posts-img img-fluid" src="@blogpost.ThumbnailUrl" alt="@blogpost.Title">
                      <div class="card-body mt-3 card-blog-posts-body">
                        <h3 class="card-text mb-4 card-blog-posts-h">@blogpost.Title</h3><span class="btn-arrow">Read More</span>
                      </div></a></div>
                }
                
                @foreach (var resource in resources)
                {
                    string resourceLink = "";
                    switch (resource.GetPropertyValue<string>("category"))
                    {
                        case "Article":
            			    resourceLink = resource.GetPropertyValue<string>("file");
                            break;
                        case "Infographic":
            			    resourceLink = resource.GetPropertyValue<string>("file");
                            break;
                        case "Whitepaper":
            			    resourceLink = resource.GetPropertyValue<string>("file");
                            break;
                        default:
                            resourceLink = "#";
                            break;
                    }

                    var resourceImgId = resource.GetPropertyValue("thumbnailPhoto");
                    var resourceImg = umbracoHelper.Media(resourceImgId);
                    var resourceImgUrl = resourceImg.Url;

                    <div class="col-md-4 blog-posts-item">
                        <a class="link-block card card-blog-posts" href="@resourceLink" role="button">
                            <img class="card-img-top card-blog-posts-img img-fluid" src="@resourceImgUrl" alt="@resource.Name">
                            <div class="card-body mt-3 card-blog-posts-body">
                                <h3 class="card-text mb-4 card-blog-posts-h">@resource.Name</h3>
                                <span class="btn-arrow">Read More</span>
                            </div>
                        </a>
                    </div>
                }

                </div>
              </main>

              <footer class="section-blog-posts-footer w-100 mt-5 text-center"><a class="btn btn-outline-primary mx-auto" href="@Model.GetPropertyValue("buttonTargetURL")" role="button">@Model.GetPropertyValue("buttonText")</a></footer>

            </div>
          </div>
        </section>

@functions {
	
	public List<ResourceLink> ProcessRssFeed(string fileName)
	{
		List<ResourceLink> feedResources = new List<ResourceLink>();
		
		if (!String.IsNullOrEmpty(fileName))
		{
			var itemCount = 1;
			var filePath = HttpContext.Current.Server.MapPath("~/App_Data/FeedCache/" + fileName);
			var rssFeed = XDocument.Load(filePath);
			
			var posts = (from article in rssFeed.Descendants("item")
						
						select new
						{
							Title = article.Element("title").Value,
							Link = article.Element("link").Value,
							Description = article.Element("description").Value,
							DatePublished = DateTime.Parse(article.Element("pubDate").Value)
						}).Take(itemCount);
			
			if (posts.Any())
			{
				foreach (var post in posts){
						string description = Regex.Replace(System.Net.WebUtility.HtmlDecode(post.Description).ToString(), "<[^>]+>|&nbsp;", "").Trim();
						string imgSrc = Regex.Match(post.Description, "<img.+?src=[\"'](.+?)[\"'].*?>", RegexOptions.IgnoreCase).Groups[1].Value;
						
						Regex trimmer = new Regex("\\s\\s+");
						description = trimmer.Replace(description, " ");
						string[] descriptionWords = description.Split(' ');
						int currentWordCount = 0;
						string shortDescription = "";
						foreach (string word in descriptionWords)
						{
							if (currentWordCount < 30)
							{
								shortDescription += word + " ";
								currentWordCount++;
							}
						}
						shortDescription = shortDescription.Trim() + "...";
					
						var resourceLink = new ResourceLink();
						resourceLink.ContentType = "Blog";
						resourceLink.Category = "Blog";
						resourceLink.SocialMessage = post.Title;
						resourceLink.PublishDate = post.DatePublished;
						resourceLink.ThumbnailUrl = imgSrc;
						resourceLink.Title = post.Title;
						resourceLink.Description = shortDescription;	
						resourceLink.Url = post.Link;
						feedResources.Add(resourceLink);
					
					
				}
			}
		}
		return feedResources;
	}
	
	
	
    public class ResourceLink {
       

		public string Url {get;set;}
		public DateTime PublishDate {get;set;}
		
	
		public string Title {get;set;}
		public string Description {get;set;}
		public string ContentType {get;set;}
		public string Category {get;set;}
		public string SocialMessage {get;set;}
		public string ThumbnailUrl {get;set;}
		public string EventLink {get;set;}
									 
    }
}