@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
  public static Umbraco.Web.UmbracoHelper umbracoHelper = new   Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
  IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@model IPublishedContent
@{
  // Look at what site we're on
  @*var horneCapitalHomeId = 9256; // <- staging *@
  var horneCapitalHomeId = 9374; // <- live
  var hornePuertoRicoHomeId = 9259;
  var homeNodeId = CurrentPage.AncestorOrSelf(1).Id;

  // Mini/external site conditionals
  var isHorneCapital = false;
  var isHornePuertoRico = false;

  // Is this Horne Capital?
  if (homeNodeId == horneCapitalHomeId)
  {
    isHorneCapital = true;
  }
  if (homeNodeId == hornePuertoRicoHomeId)
  {
    isHornePuertoRico = true;
  }

  // Open in new tab?
  var linkTarget = "";
  if (isHorneCapital)
  {
    linkTarget = "_blank";
  }
}

  <section id="@Model.UrlName" class="section-sign-up">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center section-sign-up-wrap">
          <h2 class="h3 section-sign-up-h">@Model.GetPropertyValue("body")<br class="d-lg-none"><a class="btn btn-outline-light mt-4 mt-lg-0 ml-lg-4" href="@Model.GetPropertyValue("buttonTargetURL")" role="button" target="@linkTarget">@Model.GetPropertyValue("buttonText")</a></h2>
        </div>
      </div>
    </div>
  </section>
