@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
    public static Umbraco.Web.UmbracoHelper umbracoHelper = new   Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
    IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@model IPublishedContent
@{
    var teamCount = 0;
    for (var i = 1; i <= 3; i++)
    {
        var teamMemberName = Model.GetPropertyValue<string>("teamMemberName" + i.ToString());
        if (!String.IsNullOrEmpty(teamMemberName))
        {
            teamCount++;
        }
    }

    var teamMemberOverallUrl = Model.GetPropertyValue("teamMemberOverallUrl");

    var headerClasses = "";
    var mainClasses = "";
    var teamItemClasses = "";

    switch (teamCount)
    {
        case 1:
            headerClasses = "col-12 col-md-6 col-lg-9";
            mainClasses = "col-12 col-md-6 col-lg-3 text-center one-team-member";
            teamItemClasses = "col-12";
            break;
        case 2:
            headerClasses = "col-12 col-lg-6";
            mainClasses = "col-12 col-lg-6 two-team-members";
            teamItemClasses = "col-md-6";
            break;
        default:
            headerClasses = "col-12 col-lg-3";
            mainClasses = "col-12 col-lg-9 three-team-members";
            teamItemClasses = "col-md-4";
            break;
    }
}

        <section id="@Model.UrlName" class="section-team" data-team-count="@teamCount">
          <div class="container">
            <div class="row">
              <header class="@headerClasses text-center text-lg-left section-team-header">
                <h2 class="h3">@Model.GetPropertyValue("title")</h2>
                <p>@Model.GetPropertyValue("body")</p>
                <p class="mt-4 d-none d-lg-block"><a class="btn btn-outline-primary" href="@teamMemberOverallUrl" role="button">Meet Our Team</a></p>
              </header>
              <main class="@mainClasses section-team-main">
                <div class="row section-team-row">
                @for (var i = 1; i <= 3; i++)
                {
                    var name = Model.GetPropertyValue<string>("teamMemberName" + i.ToString());
                    var designation = Model.GetPropertyValue("teamMemberDesignation" + i.ToString());
                    var photo = Model.GetPropertyValue("teamMemberPhoto" + i.ToString());
                    var url = Model.GetPropertyValue<string>("teamMemberLinkUrl" + i.ToString());

                    if (!String.IsNullOrEmpty(name))
                    {
                        var urlTargetValue = "";
                        if (url.Contains("http"))
                        {
                            urlTargetValue = "_blank";
                        }

                        <div class="@teamItemClasses team-item">
                            <a class="link-block card card-team" href="@url" target="@urlTargetValue" role="button">
                                <img class="card-img-top card-team-img img-fluid" src="@umbracoHelper.Media(photo).GetCropUrl(cropAlias: "Team Photo Team Blade")" alt="@name">
                                <div class="card-body card-team-body text-left">
                                    <p class="card-text card-team-text">
                                    <strong>@name</strong><br>
                                    @designation
                                    </p>
                                </div>
                            </a>
                        </div>
                    }

                }
                </div>
              </main>
            </div>
          </div>
        </section>
