@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
    public static Umbraco.Web.UmbracoHelper umbracoHelper = new   Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
    IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@model IPublishedContent
@{
    string introParagraph = Model.GetPropertyValue<string>("introParagraph").Replace("<span>", "").Replace("</span>", "");
    @*.Replace("<p>", "").Replace("</p>", "");*@
}

        <a id="services"></a>
        <section id="@Model.UrlName" class="section-subpages">
          <div class="container">
            <header class="row section-subpages-header">
              <div class="col-md-4 subpages-h-wrap">
                <h2 class="subpages-h">@Model.GetPropertyValue("introSentence")</h2>
              </div>
              <div class="col-md-8 subpages-intro">
                @Html.Raw(introParagraph)
              </div>
            </header>
            <main class="row section-subpages-main">
            @for (var i = 1; i <= 9; i++)
            {
                var title = Model.GetPropertyValue<string>("customLinkTitle" + i.ToString());
                var description = Model.GetPropertyValue("customLinkDescription" + i.ToString());
                var button = Model.GetPropertyValue<string>("customLinkButtonLabel" + i.ToString());
                var url = Model.GetPropertyValue<string>("customLinkButtonURL" + i.ToString());
                var icon = Model.GetPropertyValue<string>("customLinkIcon" + i.ToString());
                
                if (!String.IsNullOrEmpty(title))
                {
                <div class="col-6 col-md-4 subpages-item">
                    <a class="link-block d-block subpages-item-inner" href="@url" role="button">
                    <div class="subpages-item-icon">
                    
                      @Html.Partial("IconSwitcher", Model, new ViewDataDictionary {{"IconLabel", @icon}})

                    </div>
                    <div class="subpages-item-content">
                        <h3 class="subpages-item-h">@title</h3>
                        <div class="subpages-item-text">@description</div>
                        <span class="btn-arrow subpages-item-btn">@button</span>
                    </div></a></div>
                }
            }
            
            </main>
          </div>
        </section>
