@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
  public static Umbraco.Web.UmbracoHelper umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
  IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@model IPublishedContent
@{
  // Look at what site we're on
  @*var horneCapitalHomeId = 9256; // <- staging *@
  var horneCapitalHomeId = 9374; // <- live
  var hornePuertoRicoHomeId = 9259;
  var homeNodeId = CurrentPage.AncestorOrSelf(1).Id;

  // Mini/external site conditionals
  var isHorneCapital = false;
  var isHornePuertoRico = false;

  // Is this Horne Capital?
  if (homeNodeId == horneCapitalHomeId)
  {
    isHorneCapital = true;
  }
  if (homeNodeId == hornePuertoRicoHomeId)
  {
    isHornePuertoRico = true;
  }

  // Open in new tab?
  var linkTarget = "";
  if (isHorneCapital)
  {
    linkTarget = "_blank";
  }

	var resourceNode = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("resourceCallout").FirstOrDefault();
	string resourceUrl = "";
	string buttonText = "Download Resource";
	string thumbnailUrl = "";
	bool eventExpired = false;
	if (resourceNode != null)
	{
    //string contentType = resourceNode.ContentType.ToString();
    string contentType = resourceNode.DocumentTypeAlias.ToString();
    string category = resourceNode.GetPropertyValue<string>("category");
    int thumbnailPhotoId = (resourceNode.GetPropertyValue<int>("thumbnailPhoto") == null) ? 4279 : resourceNode.GetPropertyValue<int>("thumbnailPhoto");
		string youtubeId = "";
		switch(contentType)
		{
			case "externalLinkV2":
				resourceUrl = resourceNode.GetPropertyValue<string>("link");
        if (category == "Video")
        {
        @* https://youtube.com/embed/uDOgT69twI?list=PLJbgRI8fMlaOjV4G6B2WgHffwCRcQmeLW *@
        
          var startIndex = resourceUrl.LastIndexOf('/');
          var endIndex = resourceUrl.IndexOf('?');
        
          @* youtubeId = resourceLink.Url.Substring(26,11); *@
          youtubeId = resourceUrl.Substring(startIndex + 1, endIndex - startIndex - 1);
        
          thumbnailUrl  = "http://img.youtube.com/vi/" + youtubeId + "/mqdefault.jpg";
          @*thumbnailUrl = Umbraco.Media(thumbnailPhotoId).Url; @*Umbraco.Media(videoThumbnailId).Url;*@
          buttonText = "View Video";
        }
        else
        {
          thumbnailUrl = umbracoHelper.Media(thumbnailPhotoId).Url; @*Umbraco.Media(docThumbnailId).Url; *@
          buttonText = "Read Article";
				}
				break;
			case "eventLinkV2":
				var eventNode = umbracoHelper.Content(resourceNode.GetPropertyValue<int>("event"));
				if (eventNode != null){
					if (eventNode.StartDate < DateTime.Today)
					{
						eventExpired = true;
					}
				}
				resourceUrl = eventNode.Url;
				thumbnailUrl = umbracoHelper.Media(thumbnailPhotoId).Url; @*Umbraco.Media(docThumbnailId).Url; *@
				buttonText = "View Event Details";
				break;
			default: @* downloadableResourceV2 *@
        @*resourceLink.Url = res.Url;*@
        resourceUrl = resourceNode.GetPropertyValue<string>("file");
        thumbnailUrl = umbracoHelper.Media(thumbnailPhotoId).Url;
        buttonText = "Download Resource";
        break;
		}
	}
}
<section id="@Model.UrlName" class="section-page-text">
  <div class="container">
    <div class="row">
      <header class="col-12 col-md-4 page-text-h-wrap">
        <h1 class="page-text-h pr-md-3 pr-lg-6">@Model.GetPropertyValue("introSentence")</h1>
      </header>
      <main class="col-12 col-md-8 page-text-content">
        @Model.GetPropertyValue("topContent")
        @if (resourceNode != null && !eventExpired)
        {
        <div class="row no-gutters resource-callout text-center text-sm-left">
          <div class="col-sm-5 col-md-4 mb-2 text-sm-center resource-callout-img-wrap">
            <img class="img-fluid resource-callout-img" src="@Model.GetPropertyValue("resourceImage")" alt="image" />
          </div>
          <div class="col-sm-7 col-md-8 resource-callout-body">
            <h2 class="resource-callout-h">@resourceNode.Name</h2>
            <div class="resource-callout-text">
              <p class="mb-3">@Model.GetPropertyValue("resourceSummary")</p><a class="btn btn-outline-primary" href="@resourceUrl" role="button" target="@linkTarget">@Model.GetPropertyValue("resourceButtonText")</a>
            </div>
          </div>
        </div>
        }
        @Model.GetPropertyValue("bottomContent")
      </main>
    </div>
  </div>
</section>