@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
    public static Umbraco.Web.UmbracoHelper umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
    IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@*inherits Umbraco.Web.Mvc.UmbracoTemplatePage<IPublishedContent>*@
@*using Umbraco.Web*@
@model IPublishedContent
@{
    string introText = Model.GetPropertyValue<string>("intro").Replace("<p>", "").Replace("</p>", "").Replace("<span>", "").Replace("</span>", "");
}

<header class="hero-video header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 text-center text-lg-left order-1 order-lg-0 mt-4 mt-lg-0">
                <h1>@Model.GetPropertyValue("title")</h1>
                <p>@Html.Raw(introText)</p>
                <p class="mt-5 mb-0">
                    <a class="btn btn-outline-light" href="#services" role="button">@Model.GetPropertyValue("buttonText")</a>
                </p>
            </div>
            <div class="col-12 col-lg-6 order-0 order-lg-1">
                <div class="hero-video-embed">
                    @Html.Raw(Model.GetPropertyValue("videoEmbed"))
                </div>
            </div>
        </div>
    </div>
</header>
