@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
  public static Umbraco.Web.UmbracoHelper umbracoHelper = new   Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
  IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@model IPublishedContent
@{
  // Look at what site we're on
  @*var horneCapitalHomeId = 9256; // <- staging *@
  var horneCapitalHomeId = 9374; // <- live
  var hornePuertoRicoHomeId = 9259;
  var homeNodeId = CurrentPage.AncestorOrSelf(1).Id;

  // Mini/external site conditionals
  var isHorneCapital = false;
  var isHornePuertoRico = false;

  string teamBioPath = "/about/people/";

  // Is this Horne Capital?
  if (homeNodeId == horneCapitalHomeId)
  {
    isHorneCapital = true;
    teamBioPath = "/horne-capital-team/";
  }
  if (homeNodeId == hornePuertoRicoHomeId)
  {
    isHornePuertoRico = true;
  }

  string quoteText = Model.GetPropertyValue<string>("quote").Replace("<p>", "").Replace("</p>", "").Replace("<span>", "").Replace("</span>", "");
  var teamMember = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("teamMember").First();
  var url = teamBioPath + teamMember.UrlName.ToString();
  var name = teamMember.Name;
  var position = teamMember.GetPropertyValue("EmployeePosition");
  if(isHorneCapital && !String.IsNullOrEmpty(teamMember.GetPropertyValue("EmployeePosition_HC").ToString()))
  {
    position = teamMember.GetPropertyValue("EmployeePosition_HC");
  }
  var photo = umbracoHelper.Media(teamMember.GetPropertyValue("employeephoto")).GetCropUrl(cropAlias: "Team Photo Sidebar");
}

  <section id="@Model.UrlName" class="section-quote">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 text-center">
          <blockquote>
            <p class="quote-text">@quoteText</p>
            <footer class="d-flex justify-content-center quote-footer">
              <div class="d-flex quote-person">
                <a href="@url" class="quote-person-img-wrap d-inline-block align-self-center mr-4 link-plain-reverse link-no-underline">
                  <img class="quote-person-img" src="@photo" alt="@name">
                </a>
                <a href="@url" class="d-inline-block align-self-center text-left link-plain-reverse link-no-underline">
                  <h5 class="quote-person-name">@name</h5><span class="quote-person-title">@position</span>
                </a>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>