@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
    public static Umbraco.Web.UmbracoHelper umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
    IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@model IPublishedContent
@{
    string introText = Model.GetPropertyValue<string>("intro").Replace("<p>", "").Replace("</p>", "").Replace("<span>", "").Replace("</span>", "");
    string titleText = Model.GetPropertyValue<string>("title").Replace("<p>", "").Replace("</p>", "").Replace("<span>", "").Replace("</span>", "");
    string imageLinkURL = Model.GetPropertyValue<string>("imageLinkURL");
    var imageLinkOpen = "";
    var imageLinkClose = "";
    if (!String.IsNullOrEmpty(imageLinkURL)) {
        if (imageLinkURL.Contains("http")) {
            imageLinkOpen = "<a href='" + imageLinkURL + "' target='_blank'>";
        } else {
            imageLinkOpen = "<a href='" + imageLinkURL + "'>";
        }
        imageLinkClose = "</a>";
    }
    string buttonTargetURL = Model.GetPropertyValue<string>("buttonTargetURL");
    var btnTargetValue = "";
    if (buttonTargetURL.Contains("http")) {
        btnTargetValue = "_blank";
    }
}
        <section class="section-L3-intro">
          <nav class="page-breadcrumb d-none d-md-block" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="@CurrentPage.Parent.Url">@CurrentPage.Parent.Name</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="#">@CurrentPage.Name</a></li>
            </ol>
          </nav>
          <div class="container">
            <header class="row section-L3-intro-header">
              <div class="col-12 text-center L3-intro-h-wrap">
                <h1 class="L3-intro-h">@titleText</h1>
              </div>
            </header>
            <main class="row">
              <div class="col-12 col-md-4 text-center text-md-left">
                  @Html.Raw(imageLinkOpen)
                  <img class="img-fluid mb-3 mb-sm-4 L3-intro-img" src="@Model.GetPropertyValue("image")" alt="image">
                  @Html.Raw(imageLinkClose)
                </div>
              <div class="col-12 col-md-8">
                @Model.GetPropertyValue("intro")
                <p class="mt-5 mb-0 text-center text-md-left"><a class="btn btn-outline-primary" href="@Model.GetPropertyValue("buttonTargetURL")" target="@btnTargetValue" role="button">@Model.GetPropertyValue("buttonText")</a></p>
              </div>
            </main>
          </div>
        </section>