@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
  public static Umbraco.Web.UmbracoHelper umbracoHelper = new   Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
  IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@model IPublishedContent
@{
  string introParagraph = Model.GetPropertyValue<string>("introParagraph").Replace("<span>", "").Replace("</span>", "");
  @*.Replace("<p>", "").Replace("</p>", "");*@
}

<a id="services"></a>
<section id="@Model.UrlName" class="section-subpages">
  <div class="container">
    <header class="row section-subpages-header">
      <div class="col-md-4 subpages-h-wrap">
        <h2 class="subpages-h">@Model.GetPropertyValue("introSentence")</h2>
      </div>
      <div class="col-md-8 subpages-intro">
        @Html.Raw(introParagraph)
      </div>
    </header>
    <main class="row section-subpages-main">
    @foreach (var child in CurrentPage.Children)
    {
      if (!child.GetPropertyValue<bool>("hideFromNavigation"))
      {
        var title = child.Name;
        var url = child.Url;
        var summary = child.GetPropertyValue("summary");
        var icon = child.GetPropertyValue("icon");
        
        <div class="col-6 col-md-4 subpages-item">
          <a class="link-block d-block subpages-item-inner" href="@url" role="button">
            <div class="subpages-item-icon">

            @Html.Partial("IconSwitcher", child, new ViewDataDictionary {{"IconLabel", @icon}})

            </div>
            <div class="subpages-item-content">
              <h3 class="subpages-item-h">@title</h3>
              <div class="subpages-item-text">@summary</div><span class="btn-arrow subpages-item-btn">Learn More</span>
            </div>
          </a>
        </div>
      }
    }
    
    </main>
  </div>
</section>
