@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
    public static Umbraco.Web.UmbracoHelper umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
    IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@*inherits Umbraco.Web.Mvc.UmbracoTemplatePage<IPublishedContent>*@
@*using Umbraco.Web*@
@model IPublishedContent
@{
    string introText = Model.GetPropertyValue<string>("intro").Replace("<p>", "").Replace("</p>", "").Replace("<span>", "").Replace("</span>", "");
    string buttonURL = "#services";
    if (!String.IsNullOrEmpty(Model.GetPropertyValue("buttonURL").ToString()))
    {
      buttonURL = Model.GetPropertyValue("buttonURL").ToString();
    }
}

        <header class="section-L2-header">
          <div class="jumbotron jumbotron-fluid">
            <nav class="page-breadcrumb d-none d-md-block" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">@CurrentPage.Name</a></li>
              </ol>
            </nav>
            <div class="container">
              <div class="row">
                <div class="col-12 col-lg-6 text-center text-lg-left">
                  <h1 class="L2-header-h">@Model.GetPropertyValue("title")</h1>
                  <p class="lead L2-header-lead">@introText</p>
                  <p class="mt-5 mb-0"><a class="btn btn-outline-light" href="@buttonURL" role="button">@Model.GetPropertyValue("buttonText")</a></p>
                </div>
              </div>
            </div>
          </div>
        </header>
