@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
  public static Umbraco.Web.UmbracoHelper umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
  IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@model IPublishedContent
@{
  // Look at what site we're on
  @*var horneCapitalHomeId = 9256; // <- staging *@
  var horneCapitalHomeId = 9374; // <- live
  var hornePuertoRicoHomeId = 9259;
  var homeNodeId = CurrentPage.AncestorOrSelf(1).Id;

  // Mini/external site conditionals
  var isHorneCapital = false;
  var isHornePuertoRico = false;

  // Is this Horne Capital?
  if (homeNodeId == horneCapitalHomeId)
  {
    isHorneCapital = true;
  }
  if (homeNodeId == hornePuertoRicoHomeId)
  {
    isHornePuertoRico = true;
  }

  // Open in new tab?
  var linkTarget = "";
  if (isHorneCapital)
  {
    linkTarget = "_blank";
  }

  var resources = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("resources");
}

<section id="@Model.UrlName" class="section-resources">
  <div class="container">
    <div class="row">
      <header class="col-12 text-center mb-4 section-resources-header">
        <h2 class="h3">Get the Latest @CurrentPage.Name Resources</h2>
      </header>
      <main class="col-12 section-resources-main">
        <div class="row section-resources-row">
        @foreach (var resource in resources)
        {
          string resourceLink = "";
          switch (resource.GetPropertyValue<string>("category"))
          {
            case "Article":
              resourceLink = resource.GetPropertyValue<string>("file");
              break;
            case "Infographic":
              resourceLink = resource.GetPropertyValue<string>("file");
              break;
            case "Whitepaper":
              resourceLink = resource.GetPropertyValue<string>("file");
              break;
            case "Video":
              resourceLink = resource.GetPropertyValue<string>("link");
              break;
            case "Blog":
              resourceLink = resource.GetPropertyValue<string>("link");
              break;
            case "Event":
              resourceLink = resource.GetPropertyValue<string>("event");
              break;
            default:
              resourceLink = "#";
              break;
          }
          <div class="col-md-4 mb-2 resources-item"><a class="link-block card card-resources" href="@resourceLink" role="button" target="@linkTarget">
              <div class="card-resources-img">
                @switch (resource.GetPropertyValue<string>("category"))
                {
                  case "Article":
                  <svg class="icn-page-w-line-graph" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.26 17.93">
                    <defs>
                      <style>.cls-1{fill:#c62036;}</style>
                    </defs>
                    <title>red_icon_1</title>
                    <path class="cls-1" d="M1.4,16.53V1.4H8.64V4.92a.7.7,0,0,0,.7.7h3.52V16.53ZM11.87,4.22H10V2.39ZM9.63,0H0V17.93H14.26V4.63Z"></path>
                    <rect class="cls-1" x="3.12" y="13.9" width="8.02" height="0.93"></rect>
                    <rect class="cls-1" x="3.12" y="5.14" width="4.76" height="0.93"></rect>
                    <polygon class="cls-1" points="9.47 8.11 9.99 8.11 7.99 10.11 6.43 8.54 2.98 12 3.63 12.66 6.43 9.86 7.99 11.42 10.65 8.77 10.65 9.28 11.58 9.28 11.58 7.17 9.47 7.17 9.47 8.11"></polygon>
                    <rect class="cls-1" x="3.12" y="3.1" width="4.76" height="0.93"></rect>
                  </svg>
                  break;
                case "Infographic":
                  <svg class="icn-pie-chart" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.98 17.98">
                    <defs>
                      <style>.cls-1{fill:none;}.cls-2{fill:#c62036;}</style>
                    </defs>
                    <title>red_icon_3</title>
                    <path class="cls-1" d="M15.14,9.59q0-.3,0-.6A6.13,6.13,0,0,0,4.46,4.9a5.09,5.09,0,0,0-1,1.51.35.35,0,0,0,.19.51l5.1,2A.49.49,0,0,1,9,9.34v5.41a.33.33,0,0,0,.34.37A6,6,0,0,0,15.14,9.59Z"></path>
                    <path class="cls-2" d="M15.14,9.59q0-.3,0-.6A6.13,6.13,0,0,0,4.46,4.9a5.09,5.09,0,0,0-1,1.51.35.35,0,0,0,.19.51l5.1,2A.49.49,0,0,1,9,9.34v5.41a.33.33,0,0,0,.34.37A6,6,0,0,0,15.14,9.59Z"></path>
                    <path class="cls-2" d="M9,16.28A7.29,7.29,0,1,1,16.28,9a5.53,5.53,0,0,1,0,.71A7.28,7.28,0,0,1,9,16.28ZM9,0a9,9,0,1,0,9,9.71q0-.36,0-.72A9,9,0,0,0,9,0Z"></path>
                  </svg>
                  break;
                case "Whitepaper":
                  <svg class="icn-stack-of-papers" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.67 18.35">
                    <defs>
                      <style>.cls-1{fill:#c62036;}</style>
                    </defs>
                    <title>red_icon_2</title>
                    <path class="cls-1" d="M3.27,7.39,11.6,10c.93-.44,3.8-1.78,5.54-2.51s2-1.38,2-3.31L10,1.89A4.13,4.13,0,0,1,7.24,5.72ZM0,7.56a.84.84,0,0,1,.51-.81L6.59,4.18c1.2-.5,1.77-1.13,1.77-3.35A.82.82,0,0,1,8.68.18.82.82,0,0,1,9.39,0L20.18,2.68a.83.83,0,0,1,.63.81v.13c0,2.46,0,4.09-3,5.36-2,.85-5.73,2.61-5.77,2.62a.72.72,0,0,1-.35.08,1,1,0,0,1-.25,0L.59,8.31A.82.82,0,0,1,0,7.56Zm11.61,5.73L1.08,10.05a.84.84,0,0,0-.49,1.6L11.42,15a1,1,0,0,0,.25,0,.81.81,0,0,0,.34-.08l9.17-4.16a.84.84,0,0,0,.41-1.11.83.83,0,0,0-1.1-.41Zm10-.28a.83.83,0,0,1-.41,1.1L12,18.28a.8.8,0,0,1-.34.07.69.69,0,0,1-.25,0L.59,15a.83.83,0,0,1,.49-1.59l10.53,3.24,8.88-4A.83.83,0,0,1,21.59,13Z"></path>
                  </svg>
                  break;
                case "Video":
                  <svg class="icn-video" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 17.93 17.93">
                    <defs>
                      <style>.cls-1{fill:#c82036;}</style>
                    </defs>
                    <title>video</title>
                    <g id="slideshow">
                      <path class="cls-1" d="M7,5v8l5-4Zm9-5H2A2,2,0,0,0,0,2v14a2,2,0,0,0,2,2h14a2,2,0,0,0,2-2V2A2,2,0,0,0,15.94,0ZM14.81,15.94H3.12A1.13,1.13,0,0,1,2,14.81V3.12A1.14,1.14,0,0,1,3.12,2H14.81a1.13,1.13,0,0,1,1.13,1.13V14.81A1.12,1.12,0,0,1,14.81,15.94Z"></path>
                    </g>
                  </svg>
                  break;
                case "Blog":
                  <svg class="icn-blogging" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 15.02 17.93">
                    <defs>
                      <style>
                        .cls-1 {
                        fill: #c82036;
                        }
                      </style>
                    </defs>
                    <title>004-blogging</title>
                    <g>
                      <path class="cls-1" d="M12.06,0H2.77A3,3,0,0,0,0,3.05v9.86A2.13,2.13,0,0,0,1.56,15v2.41a.56.56,0,0,0,.32.51.52.52,0,0,0,.24.05.55.55,0,0,0,.35-.12L6,15h4.59a2.13,2.13,0,0,0,2.12-2.13V4.68h1.76A.55.55,0,0,0,15,4.12V3A3,3,0,0,0,12.06,0ZM10.58,13.92H5.8a.55.55,0,0,0-.35.12L2.68,16.22V14.48a.56.56,0,0,0-.56-.56,1,1,0,0,1-1-1V3.05A1.89,1.89,0,0,1,2.84,1.13H3a1.83,1.83,0,0,1,1.25.5A1.81,1.81,0,0,1,4.81,3V4.12a.56.56,0,0,0,.56.56h6.21v8.23h0A1,1,0,0,1,10.58,13.92ZM13.9,3.56h-8V3a3,3,0,0,0-.64-1.85h6.77A1.85,1.85,0,0,1,13.9,3v.59Z"></path>
                      <path class="cls-1" d="M9.81,6.38H3.22a.42.42,0,0,0-.42.42.42.42,0,0,0,.42.42H9.81a.42.42,0,0,0,.42-.42A.42.42,0,0,0,9.81,6.38Z"></path>
                      <path class="cls-1" d="M9.81,8.72H3.22a.42.42,0,1,0,0,.84H9.81a.42.42,0,0,0,0-.84Z"></path>
                      <path class="cls-1" d="M9.81,11.07H3.22a.42.42,0,1,0,0,.84H9.81a.42.42,0,0,0,0-.84Z"></path>
                    </g>
                  </svg>
                  break;
                case "Event":
                  <svg class="icn-calendar" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 17.93 17.93">
                    <defs>
                      <style>.cls-1{fill:#c52035;}</style>
                    </defs>
                    <title>event</title>
                    <path class="cls-1" d="M16.46,10.58V3.07a1.6,1.6,0,0,0-1.6-1.6H12.77v-1a.49.49,0,1,0-1,0v1H5.41v-1A.5.5,0,0,0,4.91,0a.49.49,0,0,0-.49.49v1H1.6A1.6,1.6,0,0,0,0,3.07V14.86a1.6,1.6,0,0,0,1.6,1.6h9a4.17,4.17,0,1,0,5.88-5.88Zm-1-.63a4.29,4.29,0,0,0-1.72-.37,4.18,4.18,0,0,0-4.18,4.18A4.25,4.25,0,0,0,10,15.48H1.6A.62.62,0,0,1,1,14.86V6.14h14.5Zm-1.72.61a3.2,3.2,0,1,1-3.2,3.2A3.2,3.2,0,0,1,13.76,10.56ZM4.42,3a.86.86,0,1,0,1,.85V2.46h6.38V3a.86.86,0,0,0,.12,1.71.86.86,0,0,0,.86-.86V2.46h2.09a.61.61,0,0,1,.62.61V5.16H1V3.07a.61.61,0,0,1,.62-.61H4.42Z"></path>
                    <path class="cls-1" d="M12.67,15.58a.51.51,0,0,0,.7,0L16,13a.5.5,0,0,0,.14-.35A.52.52,0,0,0,16,12.3a.5.5,0,0,0-.7,0L13,14.54l-.76-.76a.49.49,0,1,0-.69.69Z"></path>
                  </svg>
                  break;
                default:
                  break;
                }
              </div>
              <div class="card-body card-resources-body">
                <h3 class="card-resources-h">@resource.Name</h3>
                <p class="card-text card-resources-text">@resource.GetPropertyValue("summary")</p><span class="btn-arrow resources-item-btn">Get the @resource.GetPropertyValue("category")</span>
              </div></a></div>
        }
        </div>
      </main>
      <footer class="section-resources-footer w-100 mt-5 text-center"><a class="btn btn-outline-primary mx-auto" href="@Model.GetPropertyValue("buttonTargetURL")" role="button" target="@linkTarget">All Resources</a></footer>
    </div>
  </div>
</section>
