@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
  public static Umbraco.Web.UmbracoHelper umbracoHelper = new Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
  IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@model IPublishedContent
@{
  // Look at what site we're on
  @*var horneCapitalHomeId = 9256; // <- staging *@
  var horneCapitalHomeId = 9374; // <- live
  var hornePuertoRicoHomeId = 9259;
  var homeNodeId = CurrentPage.AncestorOrSelf(1).Id;

  // Mini/external site conditionals
  var isHorneCapital = false;
  var isHornePuertoRico = false;

  // Is this Horne Capital?
  if (homeNodeId == horneCapitalHomeId)
  {
    isHorneCapital = true;
  }
  if (homeNodeId == hornePuertoRicoHomeId)
  {
    isHornePuertoRico = true;
  }

  // Open in new tab?
  var linkTarget = "";
  if (isHorneCapital)
  {
    linkTarget = "_blank";
  }

  var ctaHeader = Model.GetPropertyValue<string>("ctaHeader");
  var ctaButton2Text = Model.GetPropertyValue<string>("ctaButton2Text");
}

<section id="@Model.UrlName" class="cta-container bg-secondary">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">

      @if(!String.IsNullOrEmpty(ctaHeader))
      {
      <div class="cta-text flex-grow-1 text-center text-md-left mb-4 mb-md-0 mx-2">
        <h3>@Model.GetPropertyValue("ctaHeader")</h3>
      </div>
      }

      <div class="text-center">
        <a class="btn btn-outline-light mx-2" href="@Model.GetPropertyValue("ctaButtonUrl")" role="button" target="@linkTarget">@Model.GetPropertyValue("ctaButtonText")</a>

        @if(!String.IsNullOrEmpty(ctaButton2Text))
        {
          <a class="btn btn-outline-light mx-2" href="@Model.GetPropertyValue("ctaButton2Url")" role="button" target="@linkTarget">@Model.GetPropertyValue("ctaButton2Text")</a>
        }
      </div>

    </div>
  </div>
</section>