@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions

@functions
{
    public static Umbraco.Web.UmbracoHelper umbracoHelper = new   Umbraco.Web.UmbracoHelper(Umbraco.Web.UmbracoContext.Current);
    IPublishedContent CurrentPage = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
}

@model IPublishedContent
@{
  // Look at what site we're on
  @*var horneCapitalHomeId = 9256; // <- staging *@
  var horneCapitalHomeId = 9374; // <- live
  var hornePuertoRicoHomeId = 9259;
  var homeNodeId = CurrentPage.AncestorOrSelf(1).Id;

  // Mini/external site conditionals
  var isHorneCapital = false;
  var isHornePuertoRico = false;

  // Is this Horne Capital?
  if (homeNodeId == horneCapitalHomeId)
  {
    isHorneCapital = true;
  }
  if (homeNodeId == hornePuertoRicoHomeId)
  {
    isHornePuertoRico = true;
  }

	string pageName = CurrentPage.Name;
	string teamUrl = "";
  string teamBioPath = "/about/people/";
	switch (pageName)
	{
	    case "Healthcare":
	        teamUrl = "/about/people?group=Health%20Care%20Leadership";
	        break;
	    default:
	        teamUrl = "/about/people";
	        break;
	}

  // Is this Horne Capital?
  if (homeNodeId == horneCapitalHomeId)
  {
    isHorneCapital = true;
    teamUrl = "/horne-capital-team/";
    teamBioPath = "/horne-capital-team/";
  }
  if (homeNodeId == hornePuertoRicoHomeId)
  {
    isHornePuertoRico = true;
  }

    var teamMembers = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("teamMembers");
    var teamCount = teamMembers.Count();

    var headerClasses = "";
    var mainClasses = "";
    var teamItemClasses = "";

    switch (teamCount)
    {
        case 1:
            headerClasses = "col-12 col-md-6 col-lg-9";
            mainClasses = "col-12 col-md-6 col-lg-3 text-center one-team-member";
            teamItemClasses = "col-12";
            break;
        case 2:
            headerClasses = "col-12 col-lg-6";
            mainClasses = "col-12 col-lg-6 two-team-members";
            teamItemClasses = "col-md-6";
            break;
        default:
            headerClasses = "col-12 col-lg-3";
            mainClasses = "col-12 col-lg-9 three-team-members";
            teamItemClasses = "col-md-4";
            break;
    }
}

        <section id="@Model.UrlName" class="section-team">
          <div class="container">
            <div class="row">
              <header class="@headerClasses text-center text-lg-left section-team-header">
                <h2 class="h3">@Model.GetPropertyValue("title")</h2>
                <p>@Model.GetPropertyValue("body")</p>
                <p class="mt-4 d-none d-lg-block"><a class="btn btn-outline-primary" href="@teamUrl" role="button">Meet Our Team</a></p>
              </header>
              <main class="@mainClasses section-team-main">
                <div class="row section-team-row">
                @foreach (var member in teamMembers)
                {
                  var teamMemberName = member.GetPropertyValue("EmployeeFirstName") + " " +member.GetPropertyValue("EmployeeMiddleName") + " " + member.GetPropertyValue("EmployeeLastName");

                  <div class="@teamItemClasses team-item" data-member="@member.Id"><a class="link-block card card-team" href="@teamBioPath@member.UrlName" role="button"><img class="card-img-top card-team-img img-fluid" src="@umbracoHelper.Media(member.GetPropertyValue("employeephoto")).GetCropUrl(cropAlias: "Team Photo Team Blade")" alt="@teamMemberName">
                      <div class="card-body card-team-body text-left">
                        <p class="card-text card-team-text">
                          <strong>@teamMemberName</strong><br>
                          @member.GetPropertyValue("EmployeeProfessionalDesignation")<br>

                          @if(isHorneCapital && !String.IsNullOrEmpty(member.GetPropertyValue("EmployeePosition_HC").ToString()))
                          {
                            @member.GetPropertyValue("EmployeePosition_HC")
                          }
                          else
                          {
                            @member.GetPropertyValue("EmployeePosition")
                          }
                          
                        </p>
                      </div></a></div>
                }
                </div>
              </main>
              <footer class="section-team-footer w-100 mt-5 text-center d-lg-none"><a class="btn btn-outline-primary mx-auto" href="@teamUrl" role="button">Meet Our Team</a></footer>
            </div>
          </div>
        </section>
