@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	@* Get locations for map *@
	//var locations = CurrentPage.Descendants("FirmOffice");
	var locationTopNode = Umbraco.Content(2335);
	var locations = locationTopNode.Descendants("FirmOffice");
	int locationCount = locations.Count();
	string[] locationInfo = new string[locationCount];
	int i = 0;
	foreach(var locationNode in locations)
	{
		locationInfo[i] = locationNode.OfficeName + "|" + locationNode.OfficeAddress1 + "|" + locationNode.OfficeCity + ", " + locationNode.Parent.Abbreviation + " " + locationNode.OfficeZipCode + "|" + locationNode.NiceUrl() + "|" + locationNode.officeLatitude + "|" + locationNode.officeLongitude;
		i++;
	}
	
	@* Sort and output locations for text below map *@
	
	var states = locationTopNode.Children.OrderBy("Name");
	string column1 = "";
	string column2 = "";
	string column3 = "";
	@*int locationCount = 0;
	foreach (var state in states)
	{
		locationCount += state.Children.Count();
	}*@
	
	decimal columnSwitchCount = Math.Floor((decimal)locationCount/3);

	int runningColumnCount = 0;
	foreach (var state in states)
	{
		string currentLocationString = "<h3 class='location-state-h mt-5 mb-5'>" + state.Name + "</h3>";
		foreach (var location in state.Children)
		{
			currentLocationString += "<!--" + runningColumnCount + ", " + columnSwitchCount + "--><address class='location-info mb-4' data-count='" + runningColumnCount + "'>";
			@*currentLocationString += "<a href='" + location.Url + "'>" + location.OfficeName + "</a><br/>";*@
			currentLocationString += "<h4 class='location-h'>" + location.OfficeName + "</h4>";
			currentLocationString += location.OfficeAddress1 + "<br/>";
			if (!string.IsNullOrEmpty(location.OfficeAddress2))
			{
				currentLocationString += location.OfficeAddress2 + "<br/>";
			}
			currentLocationString += location.OfficeCity + ", " + state.Abbreviation + " " + location.OfficeZipCode + "<br/>";
			currentLocationString += location.OfficePhone + "<br/>";
			if (!string.IsNullOrEmpty(location.OfficePhoneTollFree))
			{
				currentLocationString += location.OfficePhoneTollFree + "<br/>";
			}
			string googleMapsParam = location.OfficeAddress1 + ", " + location.OfficeCity + ", " + state.Abbreviation + ", " + location.OfficeZipCode;

			@* Hattiesburg does not display correctly in Google Maps so add additional info to force correct address: *@
			if (location.Id == 1683)
			{
				googleMapsParam = "HORNE LLP Hattiesburg, " + googleMapsParam;
			}
			@*currentLocationString += "<a href='http://maps.google.com/?q=" + googleMapsParam + "' target='_blank'>Click Here for Map</a>";*@
			currentLocationString += "<a class='link-plain font-weight-bold' href='" + location.OfficeMapUrl + "' target='_blank'>Click Here for Map</a>";
			currentLocationString += "</address>";
		}
		
		if (runningColumnCount <= columnSwitchCount)
		{
			column1 += currentLocationString;
		}
		else if (runningColumnCount > columnSwitchCount && runningColumnCount <= (columnSwitchCount * 2) )
		{
			column2 += currentLocationString;
		}
        else
        {
            column3 += currentLocationString;
        }
		runningColumnCount += state.Children.Count();
	}
}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-SoQNik-Gz32PM5S-jgHq15_2nBK0htw&amp;sensor=false"></script>
<script type="text/javascript" src="/assets/js/firm-office-map.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		var locations = new Array();
		var locationsArray = @Html.Raw(Json.Encode(locationInfo));
		for(var i = 0; i < locationsArray.length;++i){
			locations[i] = locationsArray[i];
		}
		
		CreateMap(locations, @locationCount);
	});
</script>

<div class="container py-5">
	<div class="row py-md-5">
        <div class="col-12">
            <h1 class="L3-intro-h text-center">@CurrentPage.Header</h1>
        </div>
	</div>
</div>
	
<div id="locationPopupDiv" style="display:none;">
    <div class="google-popup">
        <ul>
            <li>
                <p>
                    <a href="#LOCATION_URL#">#LOCATION_NAME#</a><br>
                    #STREET_ADDRESS#<br>
                    #CITY_STATE_ZIP#
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="embed-responsive embed-responsive-21by9" id="locationMap"></div>
<div style="clear:both;"></div>

<div class="container py-4 py-md-5">
    <div class="row py-md-3">
        <div class="col-12 col-sm-4">
            @Html.Raw(column1)
        </div>
        <div class="col-12 col-sm-4">
            @Html.Raw(column2)
        </div>
        <div class="col-12 col-sm-4">
            @Html.Raw(column3)
        </div>
    </div>
</div>