@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	@* Get locations for map *@
	//var locations = CurrentPage.Descendants("FirmOffice");
	var locationTopNode = Umbraco.Content(2335);
	var locations = locationTopNode.Descendants("FirmOffice");
	int locationCount = locations.Count();
	string[] locationInfo = new string[locationCount];
	int i = 0;
	foreach(var locationNode in locations)
	{
		locationInfo[i] = locationNode.OfficeName + "|" + locationNode.OfficeAddress1 + "|" + locationNode.OfficeCity + ", " + locationNode.Parent.Abbreviation + " " + locationNode.OfficeZipCode + "|" + locationNode.NiceUrl() + "|" + locationNode.officeLatitude + "|" + locationNode.officeLongitude;
		i++;
	}
	
	@* Sort and output locations for text below map *@
	
	var states = locationTopNode.Children.OrderBy("Name");
	string column1 = "";
	string column2 = "";
	@*int locationCount = 0;
	foreach (var state in states)
	{
		locationCount += state.Children.Count();
	}*@
	
	decimal columnSwitchCount = Math.Floor((decimal)locationCount/2);

	int runningColumnCount = 0;
	foreach (var state in states)
	{
		string currentLocationString = "<h2>" + state.Name + "</h2>";
		foreach (var location in state.Children)
		{
			currentLocationString += "<address class='unit-item location-item'>";
			@*currentLocationString += "<a href='" + location.Url + "'>" + location.OfficeName + "</a><br/>";*@
			currentLocationString += location.OfficeName + "<br/>";
			currentLocationString += location.OfficeAddress1 + "<br/>";
			if (!string.IsNullOrEmpty(location.OfficeAddress2))
			{
				currentLocationString += location.OfficeAddress2 + "<br/>";
			}
			currentLocationString += location.OfficeCity + ", " + state.Abbreviation + " " + location.OfficeZipCode + "<br/>";
			currentLocationString += location.OfficePhone + "<br/>";
			if (!string.IsNullOrEmpty(location.OfficePhoneTollFree))
			{
				currentLocationString += location.OfficePhoneTollFree + "<br/>";
			}
			string googleMapsParam = location.OfficeAddress1 + ", " + location.OfficeCity + ", " + state.Abbreviation + ", " + location.OfficeZipCode;

			@* Hattiesburg does not display correctly in Google Maps so add additional info to force correct address: *@
			if (location.Id == 1683)
			{
				googleMapsParam = "HORNE LLP Hattiesburg, " + googleMapsParam;
			}
			@*currentLocationString += "<a href='http://maps.google.com/?q=" + googleMapsParam + "' target='_blank'>Click Here for Map</a>";*@
			currentLocationString += "<a href='" + location.OfficeMapUrl + "' target='_blank'>Click Here for Map</a>";
			currentLocationString += "</address>";
		}
		
		if (runningColumnCount < columnSwitchCount)
		{
			column1 += currentLocationString;
		}
		else
		{
			column2 += currentLocationString;
		}
		runningColumnCount += state.Children.Count();
	}
}


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-SoQNik-Gz32PM5S-jgHq15_2nBK0htw&amp;sensor=false"></script>
<script type="text/javascript" src="/scripts/FirmOfficeMap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		var locations = new Array();
		var locationsArray = @Html.Raw(Json.Encode(locationInfo));
		for(var i = 0; i < locationsArray.length;++i){
			locations[i] = locationsArray[i];
		}
		
		CreateMap(locations, @locationCount);
	});
</script>


<div class="col-md-6 no-gutter-left no-gutter-right split-scroll split-scroll_tall">
	<div class="inset reverse-block resource-block_hdr bg-dark">
		<h1 class="reverse-hdr ghost">Office locations</h1>
	</div>
	
	<div id="locationPopupDiv" style="display:none;">
		<div class="google-popup">
	    <ul>
	        <li>
	            <p>
	                <a href="#LOCATION_URL#">#LOCATION_NAME#</a><br>
	                #STREET_ADDRESS#<br>
	                #CITY_STATE_ZIP#
	            </p>
	        </li>
	    </ul>
		</div>
	</div>
	@*<div class="map-full-width" id="locationMap"></div>*@
	<div class="embed-responsive embed-responsive_locations" id="locationMap"></div>
	<div style="clear:both;"></div>

	<div class="inset">
		<div class="row">
	        <div class="col-xs-6">
				@Html.Raw(column1)
			</div>
	        <div class="col-xs-6">
				@Html.Raw(column2)
			</div>
		</div>
	</div>
</div>
