@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>

	@{
		var menuRootId = ViewData["menuRootId"];
		var menuRootNode = @Umbraco.TypedContent(1115);

	}



<!--=BRAND HEADER NAV-->
<nav role="navigation" class="navbar navbar-expand-md navbar-static-top navbar_site-brand-hdr">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            <img src="/media/1588/logo-horne-web-v2.svg" alt="HORNE CPAs and Business Advisors" class="site-brand-logo">
        </a>
    </div>
    <div id="brandNav" class="w-100">
        <ul class="nav navbar-nav justify-content-center justify-content-md-end justify-content-lg-end justify-content-xl-end navbar-nav_brand">
            @foreach (var menuItem in menuRootNode.Children()){
                if (menuItem.Children().Any()){
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" href="#" class="nav-link">@menuItem.Name</a>
                    <div class="nav-stacked nav-stacked_rules dropdown-menu pull-center">
                        @foreach (var subItem in menuItem.Children()){
                        <a class="dropdown-item" href="@GetMenuItemUrl(subItem)">@subItem.Name</a>
                        }
                    </div>
                </li>
                }
                else{
                <li class="nav-item"><a class="nav-link" href="@GetMenuItemUrl(menuItem)">@menuItem.Name</a></li>
                }

            }
        </ul>
    </div>
</nav>



@helper GetMenuItemUrl(dynamic item) {
	var isStaging = Request.Url.Host.ToLower().StartsWith("staging");
var mainDomain = (isStaging) ? "staging.hornellp.com" : "hornellp.com";
var wealthDomain = (isStaging) ? "staging.hornewealth.com" : "hornewealth.com";
var cyberDomain = (isStaging) ? "staging.hornecyber.com" : "hornecyber.com";
	umbraco.NodeFactory.Node node = new umbraco.NodeFactory.Node(item.Id);
	if (item.DocumentTypeAlias == "MenuLinkExternal"){
		@node.GetProperty("linkToPage").Value.Replace("hornellp.com",mainDomain).Replace("hornewealth.com",wealthDomain).Replace("hornecyber.com",cyberDomain)

	}
	if (item.DocumentTypeAlias == "MenuLinkInternal"){
		@Umbraco.Content(node.GetProperty("linkToPage").Value).Url.Replace("www.", String.Empty).Replace("hornellp.com",mainDomain).Replace("hornewealth.com",wealthDomain).Replace("hornecyber.com",cyberDomain)
	}
}
