@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>

@{
    var menuRootId = ViewData["rootMenuId"];
    var menuRootNode = @Umbraco.TypedContent(menuRootId);
}

<ul class="navbar-nav navbar-nav-main-v2 mr-xl-auto align-items-stretch" data-menu-id="@menuRootId">

    @foreach (var menuItem in menuRootNode.Children())
    {
        if (menuItem.Children().Any())
        {
            var menuIdName = @menuItem.Name.Replace(" ", "");
            <li class="nav-item">
                <a class="nav-link" id="@(menuIdName)Dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @menuItem.Name
                    <span class="icn-dropdown">
                        <svg class="icn-angle-down" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
                            <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"></path>
                        </svg>
                    </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="@(menuIdName)Dropdown">
                @foreach (var subItem in menuItem.Children())
                {
                    if (subItem.Children().Any())
                    {
                        <li class="dropdown-item">
                            <a href="@GetMenuItemUrl(subItem)">@subItem.Name</a>
                            <ul>
                                @foreach (var subSubItem in subItem.Children())
                                {
                                    <li><a href="@GetMenuItemUrl(subSubItem)">@subSubItem.Name</a></li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown-item"><a href="@GetMenuItemUrl(subItem)">@subItem.Name</a></li>
                    }
                }
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item"><a class="nav-link" href="@GetMenuItemUrl(menuItem)">@menuItem.Name</a></li>
        }
    }

</ul>

@helper GetMenuItemUrl(dynamic item) {
	var isStaging = Request.Url.Host.ToLower().StartsWith("staging");
    var mainDomain = (isStaging) ? "staging.hornellp.com" : "hornellp.com";
    var wealthDomain = (isStaging) ? "staging.hornewealth.com" : "hornewealth.com";
    var cyberDomain = (isStaging) ? "staging.hornecyber.com" : "hornecyber.com";
	umbraco.NodeFactory.Node node = new umbraco.NodeFactory.Node(item.Id);
	if (item.DocumentTypeAlias == "MenuLinkExternal")
    {
		@node.GetProperty("linkToPage").Value.Replace("hornellp.com",mainDomain).Replace("hornewealth.com",wealthDomain).Replace("hornecyber.com",cyberDomain)
	}
	if (item.DocumentTypeAlias == "MenuLinkInternal")
    {
		@Umbraco.Content(node.GetProperty("linkToPage").Value).Url.Replace("www.", String.Empty).Replace("hornellp.com",mainDomain).Replace("hornewealth.com",wealthDomain).Replace("hornecyber.com",cyberDomain)
	}
}
