@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
	
	@{
		var officeNodeId = ViewData["officeNodeId"];
		var officeNode = @Umbraco.TypedContent(officeNodeId);
		
	}

@if(!String.IsNullOrEmpty(officeNode.GetProperty("OfficePhone").Value.ToString())){@Html.Raw("Main: <a href='tel:1" + officeNode.GetProperty("OfficePhone").Value + "'>" + officeNode.GetProperty("OfficePhone").Value + "</a>")} 