@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
	
	@{
		var officeNodeId = ViewData["officeNodeId"];
		var officeNode = @Umbraco.TypedContent(officeNodeId);
		
	}

@if(!String.IsNullOrEmpty(officeNode.GetProperty("OfficeAddress1").Value.ToString())){@Html.Raw(officeNode.GetProperty("OfficeAddress1").Value + "<br />")}
@if(!String.IsNullOrEmpty(officeNode.GetProperty("OfficeAddress2").Value.ToString())){@Html.Raw(officeNode.GetProperty("OfficeAddress2").Value + "<br />")}
<span>@officeNode.GetProperty("OfficeCity").Value, @officeNode.Parent.GetProperty("Abbreviation").Value @officeNode.GetProperty("OfficeZipCode").Value</span><br />
@if(!String.IsNullOrEmpty(officeNode.GetProperty("OfficePhone").Value.ToString())){@Html.Raw("Main: <a href='tel:1" + officeNode.GetProperty("OfficePhone").Value + "'>" + officeNode.GetProperty("OfficePhone").Value + "</a>")} 
@if(!String.IsNullOrEmpty(officeNode.GetProperty("OfficePhoneTollFree").Value.ToString())){@Html.Raw(" Toll Free: <a href='tel:1" + officeNode.GetProperty("OfficePhoneTollFree").Value + "'>" + officeNode.GetProperty("OfficePhoneTollFree").Value + "</a>")}