@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	string group = "";
	string[] allowedGroups = new string[9]
	{
		"Partners",
		"Banking Leadership",
		"Construction Leadership",
		"Government Services Leadership",
		"Health Care Leadership",
		"Franchise Leadership",
		"Public Middle Market Leadership",
		"Fraud Forensic Litigation Leadership",
		"Private Wealth Leadership"
	};
	if (Request.QueryString["group"] != null)
	{
		if (allowedGroups.Contains(Request.QueryString["group"]))
		{
			group = Request.QueryString["group"]; @* %20 is automatically converted to space *@
		}
		else
		{
			group = "Partners";
		}
	}
	else
	{
		group = "Partners";
	}
	@*string groupText = (group == "Public Mid-Market Leadership") ? groupText = "Public & Mid-Market Leadership" : group;*@
	string groupText = "";
	switch (group)
	{
		case "Public Middle Market Leadership":
			groupText = "Public & Middle Market Leadership";
			group = "Public";
			break;
		case "Fraud Forensic Litigation Leadership":
			groupText = "Fraud, Forensic & Litigation Leadership";
			group = "Fraud";
			break;
		case "Health Care Leadership":
			groupText = "Healthcare Leadership";
			break;
		case "Banking Leadership":
			groupText ="Financial Institutions Leadership";
			break;
		default:
			groupText = group;
			break;
	}
	
	var peopleNode = Umbraco.Content(2363);
	var teamMembers = peopleNode.Children().OrderBy("EmployeeLastName");
	var teamMembersInGroup = teamMembers.Where("employeeGroup.Contains(\"" + group + "\")");
	List<int> teamMemberIdsSortedByPosition = new List<int>();
	@* Sort differently for Partners vs. all other areas: *@
	if (group == "Partners")
	{
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition == "Executive Partner")
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Partner") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
	}
	else
	{
		foreach (var m in teamMembersInGroup)
		{
			if (m.boardMember)
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if ((m.EmployeePosition.Contains("Partner in Charge")) && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Partner") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if ((m.EmployeePosition.Contains("Senior Manager") || m.EmployeePosition.Contains("Director")) && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Manager") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Technology Risk Analyst") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Associate") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		@*
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Supervisor") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Senior Associate") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Administrative") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		*@		
	}

}

      <div class="container">
        <div class="row prepend-top-lg append-btm-sm">
          <div class="col-sm-12 text-center">
            <ul class="list-inline no-margin">
              <li id="dropdownFocusAreas" class="dropdown-special-wrapper dropdown-focus-areas append-btm-sm"><a href="#" class="btn btn-primary">Areas <span class="fa fa-chevron-circle-down"></span></a>
                <div id="menuFocusAreas" class="dropdown-special"><a href="#" class="btn">Area <span class="fa fa-chevron-circle-down"></span></a>
                  <ul class="nav nav-stacked append-btm-sm" id="FocusAreaDropdown">
                    <li><a href="/about/people?group=Partners">Partners</a></li>
                   
                    <li><a href="/about/people?group=Construction%20Leadership">Construction Leadership</a></li>
					<li><a href="/about/people?group=Banking%20Leadership">Financial Institutions Leadership</a></li>
                    <li><a href="/about/people?group=Franchise%20Leadership">Franchise Leadership</a></li>
                    <li><a href="/about/people?group=Fraud%20Forensic%20Litigation%20Leadership">Fraud, Forensic & Litigation Leadership</a></li>
                    <li><a href="/about/people?group=Government%20Services%20Leadership">Government Services Leadership</a></li>
                    <li><a href="/about/people?group=Health%20Care%20Leadership">Healthcare Leadership</a></li>
                    <!--<li><a href="/about/people?group=HORNE%20Cyber%20Leadership">HORNE Cyber Solutions Leadership</a></li>-->
                    <li><a href="/about/people?group=Private%20Wealth%20Leadership">Private Wealth Leadership</a></li>
                    <li><a href="/about/people?group=Public%20Middle%20Market%20Leadership">Public &amp; Mid-Market Leadership</a></li>
                  </ul>
                </div>
              </li>
              <li id="dropdownLastName" class="dropdown-special-wrapper dropdown-name"><a href="#" class="btn btn-default">Last Name <span class="fa fa-chevron-circle-down"></span></a>
                <div id="menuLastName" class="dropdown-special"><a href="#" class="btn">Last Name <span class="fa fa-chevron-circle-down"></span></a>
                  <ul class="nav nav-stacked nav-stacked_tight append-btm-sm">
			@{
				string currentLetter = "";
				bool firstEntry = true;
				foreach (var teamMember in teamMembers)
				{
					//if (teamMember.employeeGroup.Contains(group))
					//{
					
						if (currentLetter != teamMember.EmployeeLastName.Substring(0,1))
						{
							currentLetter = teamMember.EmployeeLastName.Substring(0,1);
							if (firstEntry)
							{
								firstEntry = false;
							}
							else
							{
								@:	</ul>
								@:</li>
							}
							@:<li><a href="#">@currentLetter</a>
						  	@:	<ul class="nav nav-stacked inset-top-sm inset-btm-sm">
						}
						@:<li>
						if (String.IsNullOrEmpty(teamMember.employeebio.ToString()))
						{
							@:<a href="@teamMember.Url.TrimEnd('/')">
						}
						else
						{
							@:<a href="@teamMember.Url?alttemplate=LightboxBioPage" data-fancybox-type="ajax" class="fancybox">
						}
						@teamMember.Name
						@:</a>
						@:</li>
					//}
				}
				if (teamMembers.Any())
				{
					@:</ul></li>
				}
			}

                  </ul>
                </div>
              </li>

					  
            </ul>
          </div>
        </div>
      </div>

					  
        <!-- TEAM BLOCKS-->
		@if (CurrentPage.Id == 2363)
		{
        <div class="container container_team">
          <div class="row row_team append-btm-lg">
            <div class="team-block team-block_hdr">
              <div class="inset">
                <h2 class="h1 no-margin reverse-hdr ghost">@groupText</h2>
              </div>
            </div>
			@foreach (var id in teamMemberIdsSortedByPosition)
			{
				var teamMember = Umbraco.Content(id);
				var photo = Umbraco.Media(teamMember.employeephoto).GetCropUrl(cropAlias: "Team Photo Grid 350x250");
            	@:<div class="team-block">
					if (String.IsNullOrEmpty(teamMember.employeebio.ToString()))
					{
						@:<a href="@teamMember.Url.TrimEnd('/')">
					}
					else
					{
						@:<a href="@teamMember.Url?alttemplate=LightboxBioPage" data-fancybox-type="ajax" class="fancybox">
					}
                	@:<div class="block-default"><img src='@photo' alt="@teamMember.Name" class="img-responsive"></div>
                	@:<div class="block-footer inset-sm reverse-block"><span class="bold">@teamMember.Name</span></div></a>
				@:</div>
			}

          </div>
        </div>
		}
