@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	string group = "HORNE Capital Leadership";
	string groupText = group;

  string teamBioPath = "/horne-capital-team/";
  string teamBioUrl = "";
	
	@*var peopleNode = Umbraco.Content(9447); // <- staging *@
	var peopleNode = Umbraco.Content(9377); // <- live
	var teamMemberPointers = peopleNode.Children().OrderBy("SortOrder");
	List<int> teamMemberIdsSorted = new List<int>();
	foreach (var m in teamMemberPointers)
	{
		teamMemberIdsSorted.Add(int.Parse(m.teamMember));
	}
}

  <div class="container py-5 mt-4">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="mb-0">@groupText</h2>
      </div>
    </div>
  </div>

  <section class="section-people-list">
    <div class="container mt-3 mb-3">
      <div id="hexTeamListWrapper" class="row align-content-start row-people-list">

        @foreach (var id in teamMemberIdsSorted)
        {
          var teamMember = Umbraco.Content(id);
          var photo = Umbraco.Media(teamMember.employeephoto).GetCropUrl(cropAlias: "Team Photo Team Blade");
          var employeeEmail = "";
          if (!String.IsNullOrEmpty(teamMember.EmployeeEmailAddress_HC.ToString())) {
            employeeEmail = teamMember.EmployeeEmailAddress_HC;
          } else {
            employeeEmail = teamMember.EmployeeemailAddress.Replace("horne-llp","hornellp");
          }
          var companyName = "";
          if (employeeEmail.Contains("hornellp"))
          {
            companyName = "HORNE LLP";
          }
          else if (employeeEmail.Contains("hornewealth"))
          {
            companyName = "HORNE Wealth";
          }
          else if (employeeEmail.Contains("hornecapital"))
          {
            companyName = "HORNE Capital";
          }
          var teamMemberName = teamMember.EmployeeFirstName + " " + teamMember.EmployeeLastName;
                
          <div class="people-list-person col-12 col-sm-6 col-md-4 col-lg-3 mb-4">

            <div class="reveal-wrapper element-links-white">

              <button class="btn btn-link close-reveal-wrapper"><img src="/assets/img/icn-x-white.svg" alt="Close"></button>

              <a class="people-list-link link-block-reverse" href="@teamMember.Url.TrimEnd('/')">

                @*<img src='@photo' alt="@teamMemberName" class="people-list-img people-hex-photo">*@

                <svg class="people-list-img-svg" viewBox="0 0 100 115">
                  <image class='people-svg' xlink:href="@photo" width="100%" height="100%" />
                </svg>

                <div class="people-list-name color-white bg-color-secondary text-center p-1 mt-2">
                  @teamMemberName
                  @if (!String.IsNullOrEmpty(teamMember.employee360TeamTitle_HC))
                  {
                    <span class="people-team-title">@teamMember.employee360TeamTitle_HC</span>
                  }
                </div>
              </a>

              <div class="people-list-person-summary">

                <h2 class="people-list-person-h">@teamMemberName@{if (!String.IsNullOrEmpty(teamMember.EmployeeProfessionalDesignation)){@Html.Raw(", " + teamMember.EmployeeProfessionalDesignation) }}</h2>
                <ul class="list-unstyled mb-0">

                  @if(!String.IsNullOrEmpty(teamMember.EmployeePosition_HC.ToString()))
                  {
                    <li>@teamMember.EmployeePosition_HC</li>
                  }
                  else
                  {
                    <li>@teamMember.EmployeePosition</li>
                  }

                  <li><a href="mailto:@employeeEmail">@employeeEmail</a></li>
                  <li class="mt-3">
                    @companyName<br>
                    @Html.Partial("OfficeCityState", new ViewDataDictionary { { "officeNodeId", @teamMember.EmployeeOfficeLocation } })
                  </li>
                </ul>

                <ul class="list-inline d-none d-sm-block">
                  <li class="list-inline-item">
                    @Html.Partial("OfficeMainPhone", new ViewDataDictionary { { "officeNodeId", @teamMember.EmployeeOfficeLocation } })
                  </li>
                  @if(!String.IsNullOrEmpty(teamMember.EmployeePhoneMain.ToString()))
                  {
                    <li class="list-inline-item">
                    @Html.Raw("Main: <a href='tel:1" + teamMember.EmployeePhoneMain + "'>" + teamMember.EmployeePhoneMain + "</a>")	
                    </li>
                  }
                  @if(!String.IsNullOrEmpty(teamMember.EmployeePhoneDirect.ToString()))
                  {
                    <li class="list-inline-item">
                    @Html.Raw("Direct: <a href='tel:1" + teamMember.EmployeePhoneDirect + "'>" + teamMember.EmployeePhoneDirect + "</a>")	
                    </li>
                  }
                </ul>

              </div>

              @{
                var employeeResourcePath = "";
                var resourceGroup = teamMember.EmployeeGroup;
                
                if (resourceGroup.Contains("Banking Leadership"))
                {
                  employeeResourcePath = "/resources/financial-institutions/";
                }
                else if (resourceGroup.Contains("Construction Leadership"))
                {
                  employeeResourcePath = "/resources/construction/";
                }
                else if (resourceGroup.Contains("Franchise Leadership"))
                {
                  employeeResourcePath = "/resources/franchise/";
                }
                else if (resourceGroup.Contains("Government Services Leadership"))
                {
                  employeeResourcePath = "/resources/government-services/";
                }
                else if (resourceGroup.Contains("Health Care Leadership"))
                {
                  employeeResourcePath = "/resources/healthcare/";
                }
                else if (resourceGroup.Contains("HORNE Wealth Advisors Leadership"))
                {
                  employeeResourcePath = "/resources/private-wealth/";
                }
                else if (resourceGroup.Contains("Private Wealth Leadership"))
                {
                  employeeResourcePath = "/resources/private-wealth/";
                }
                else if (resourceGroup.Contains("HORNE Wealth Strategies Leadership"))
                {
                  employeeResourcePath = "/resources/private-wealth/";
                }
                else if (resourceGroup.Contains("Public & Middle Market Leadership"))
                {
                  employeeResourcePath = "/resources/public-middle-market/";
                }
                else
                {
                  employeeResourcePath = "/resources/horne/";
                }
              }

              <div class="people-list-person-info container-fluid mt-3 mt-md-2 mt-lg-3" data-employee-group="@teamMember.EmployeeGroup">
                <div class="row no-gutters">
                  <div class="people-list-person-social col-6 col-lg-2 text-left text-lg-center">
                    <ul class="list-unstyled">
                      @if (!String.IsNullOrEmpty(teamMember.LinkedInUrl))
                      {
                        string linkedInUrl = (teamMember.LinkedInUrl.Contains("http")) ? teamMember.LinkedInUrl : "http://" + teamMember.LinkedInUrl;
                        <li class="d-inline mr-2 d-lg-block mr-lg-0 mb-lg-2"><a href="@linkedInUrl" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
                      }
                      @if (!String.IsNullOrEmpty(teamMember.TwitterUrl))
                      {
                        string TwitterUrl = (teamMember.TwitterUrl.Contains("http")) ? teamMember.TwitterUrl : "http://" + teamMember.TwitterUrl;
                        <li class="d-inline mr-2 d-lg-block mr-lg-0 mb-lg-2"><a href="@TwitterUrl" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>
                      }
                      @if (!String.IsNullOrEmpty(teamMember.BlogUrl))
                      {
                        string BlogUrl = (teamMember.BlogUrl.Contains("http")) ? teamMember.BlogUrl : "http://" + teamMember.BlogUrl;
                        <li class="d-inline mr-2 d-lg-block mr-lg-0 mb-lg-2"><a href="@BlogUrl" target="_blank"><i class="fa fa-2x fa-blog-temp"></i></a></li>
                      }
                      @if (!String.IsNullOrEmpty(employeeResourcePath))
                      {
                        <li class="d-inline mr-2 d-lg-block mr-lg-0 mb-lg-2"><a href="@employeeResourcePath" target="_blank"><i class="fa fa-2x fa-lightbulb-white"></i></a></li>
                      }
                    </ul>
                  </div>
                  <div class="col-6 col-lg-9">
                    <div class="people-employee-summary text-left d-none d-lg-block">
                      @if (!String.IsNullOrEmpty(teamMember.EmployeeIntro_HC.ToString()))
                      {
                        @teamMember.EmployeeIntro_HC
                        teamBioUrl = teamBioPath.ToString() + "" + teamMember.UrlName.ToString();
                      }
                      else
                      {
                        @teamMember.EmployeeIntro
                        teamBioUrl = teamMember.Url;
                      }
                    </div>
                    <div class="text-right mt-lg-2">
                      <a class="link-plus-caps" href="@teamBioUrl">Read More</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        }

        <svg id="people-list-img-svg-defs" viewBox="0 0 100 115">
          <clipPath id="people-img-hex-clip" clipPathUnits="objectBoundingBox">
            <polygon points="0.5 0, 1 .25, 1 0.75, 0.5 1, 0 0.75, 0 .25" />
          </clipPath>
        </svg>

      </div>
    </div>
  </section>
