@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	string group = "";
	string[] allowedGroups = new string[9]
	{
		"Partners",
		"Banking Leadership",
		"Construction Leadership",
		"Government Services Leadership",
		"Health Care Leadership",
		"Franchise Leadership",
		"Public Middle Market Leadership",
		"Fraud Forensic Litigation Leadership",
		"HORNE Cyber Leadership"
	};
	if (Request.QueryString["group"] != null)
	{
		if (allowedGroups.Contains(Request.QueryString["group"]))
		{
			group = Request.QueryString["group"]; @* %20 is automatically converted to space *@
		}
		else
		{
			group = "Partners";
		}
	}
	else
	{
		group = "Partners";
	}
	@*string groupText = (group == "Public Mid-Market Leadership") ? groupText = "Public & Mid-Market Leadership" : group;*@
	string groupText = "";
	switch (group)
	{
		case "Public Middle Market Leadership":
			groupText = "Public & Middle Market Leadership";
			group = "Public";
			break;
		case "Fraud Forensic Litigation Leadership":
			groupText = "Fraud, Forensic & Litigation Leadership";
			group = "Fraud";
			break;
		case "Health Care Leadership":
			groupText = "Healthcare Leadership";
			break;
		default:
			groupText = group;
			break;
	}
	
  @* TODO: can we dynamically set this node? *@
	var peopleNode = Umbraco.Content(2363);
	var teamMembers = peopleNode.Children().OrderBy("EmployeeLastName");
	var teamMembersInGroup = teamMembers.Where("employeeGroup.Contains(\"" + group + "\")");
	List<int> teamMemberIdsSortedByPosition = new List<int>();
	@* Sort differently for Partners vs. all other areas: *@
	if (group == "Partners")
	{
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition == "Executive Partner")
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Partner") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
	}
	else
	{
		foreach (var m in teamMembersInGroup)
		{
			if (m.boardMember)
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if ((m.EmployeePosition.Contains("Partner in Charge")) && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Partner") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if ((m.EmployeePosition.Contains("Senior Manager") || m.EmployeePosition.Contains("Director")) && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Manager") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		@*
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Supervisor") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Senior Associate") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		foreach (var m in teamMembersInGroup)
		{
			if (m.EmployeePosition.Contains("Administrative") && !teamMemberIdsSortedByPosition.Contains(m.Id))
			{
				teamMemberIdsSortedByPosition.Add(m.Id);
			}
		}
		*@		
	}

}

    <div class="container py-5">
        <div class="row">
            <div class="col-sm-12 text-center">

                <ul class="list-inline py-5">
                    <li id="dropdownFocusAreas" class="dropdown-special-wrapper dropdown-focus-areas list-inline-item">
                        <a href="#" class="btn btn-outline-dark">Sort by Area</a>
                        <div id="menuFocusAreas" class="dropdown-special">
                            <a href="#" class="btn">Sort by Area</a>
                            <ul class="nav nav-stacked mb-3" id="FocusAreaDropdown">
                                <li><a href="/about/people?group=Partners">Partners</a></li>
                                <li><a href="/about/people?group=Banking%20Leadership">Banking Leadership</a></li>
                                <li><a href="/about/people?group=Construction%20Leadership">Construction Leadership</a></li>
                                <li><a href="/about/people?group=Franchise%20Leadership">Franchise Leadership</a></li>
                                <li><a href="/about/people?group=Fraud%20Forensic%20Litigation%20Leadership">Fraud, Forensic & Litigation Leadership</a></li>
                                <li><a href="/about/people?group=Government%20Services%20Leadership">Government Services Leadership</a></li>
                                <li><a href="/about/people?group=Health%20Care%20Leadership">Healthcare Leadership</a></li>
                                <li><a href="/about/people?group=HORNE%20Cyber%20Leadership">HORNE Cyber Solutions Leadership</a></li>
                                <li><a href="/about/people?group=Public%20Middle%20Market%20Leadership">Public &amp; Mid-Market Leadership</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="dropdownLastName" class="dropdown-special-wrapper dropdown-name list-inline-item">
                        <a href="#" class="btn btn-outline-dark">Find by Last Name</a>
                        <div id="menuLastName" class="dropdown-special"><a href="#" class="btn">Find by Last Name</a>
                            <ul class="nav nav-stacked nav-stacked_tight mb-2">
                            @{
                                string currentLetter = "";
                                bool firstEntry = true;
                                foreach (var teamMember in teamMembers)
                                {
                                    if (teamMember.hideEmployeeFromHornellpcom != true)
                                    {
                                        if (currentLetter != teamMember.EmployeeLastName.Substring(0,1))
                                        {
                                            currentLetter = teamMember.EmployeeLastName.Substring(0,1);
                                            if (firstEntry)
                                            {
                                                firstEntry = false;
                                            }
                                            else
                                            {
                                                @: </ul>
                                                @: </li>
                                            }
                                            @: <li><a href="#">@currentLetter</a>
                                            @: <ul class="nav nav-stacked pt-1 pb-1">
                                        }
                                        @:<li>
                                        if (String.IsNullOrEmpty(teamMember.employeebio.ToString()))
                                        {
                                            @:<a href="@teamMember.Url.TrimEnd('/')">
                                        }
                                        else
                                        {
                                            @:<a href="@teamMember.Url?alttemplate=LightboxBioPage" data-fancybox-type="ajax" class="fancybox">
                                        }
                                        @teamMember.Name
                                        @:</a>
                                        @:</li>
                                    }
                                }
                                if (teamMembers.Any())
                                {
                                    @:</ul></li>
                                }
                            }

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 text-center">
                <h2>@groupText</h2>
            </div>
        </div>
    </div>

    
    @if (CurrentPage.Id == 2363)
    {
        <section class="section-people-list">
            <div class="container mt-3 mb-3">
                <div class="row">

                    @foreach (var id in teamMemberIdsSortedByPosition)
                    {
                        var teamMember = Umbraco.Content(id);
                        var photo = Umbraco.Media(teamMember.employeephoto).GetCropUrl(cropAlias: "Team Photo Team Blade");
                        var employeeEmail = teamMember.EmployeeemailAddress.Replace("horne-llp","hornellp");
                        
                        <div class="people-list-person col-6 col-md-4 col-lg-3 mb-4">

                            <div class="reveal-wrapper element-links-white">

                                <button class="btn btn-link close-reveal-wrapper"><img src="/assets/img/icn-x-white.svg" alt="Close"></button>

                                <a class="people-list-link link-block-reverse" href="@teamMember.Url.TrimEnd('/')">
                                    <img src='@photo' alt="@teamMember.Name" class="people-list-img people-hex-photo">
                                    <div class="people-list-name color-white bg-color-secondary text-center p-1 mt-2">@teamMember.Name</div>
                                </a>

                                <div class="people-list-person-summary">

                                    <h2 class="people-list-person-h">@teamMember.Name@{if (!String.IsNullOrEmpty(teamMember.EmployeeProfessionalDesignation)){@Html.Raw(", " + teamMember.EmployeeProfessionalDesignation) }}</h2>
                                    <ul class="list-unstyled mb-0">
                                        <li>@teamMember.EmployeePosition</li>
                                        <li><a href="mailto:@employeeEmail">@employeeEmail</a></li>
                                        <li class="mt-3">@Html.Partial("OfficeCityState", new ViewDataDictionary { { "officeNodeId", @teamMember.EmployeeOfficeLocation } })</li>
                                    </ul>

                                    <ul class="list-inline d-none d-sm-block">
                                        @if(!String.IsNullOrEmpty(teamMember.EmployeePhoneDirect.ToString()))
                                        {
                                            <li class="list-inline-item">
                                            @Html.Raw("Direct: <a href='tel:1" + teamMember.EmployeePhoneDirect + "'>" + teamMember.EmployeePhoneDirect + "</a>")	
                                            </li>
                                        }
                                        @if(!String.IsNullOrEmpty(teamMember.EmployeeFax.ToString()))
                                        {
                                            <li class="list-inline-item">
                                            @Html.Raw("FAX: " + teamMember.EmployeeFax)
                                            </li>	
                                        }
                                    </ul>

                                </div>

                                @{
                                    var employeeResourcePath = "";
                                    var resourceGroup = teamMember.EmployeeGroup;
                                    
                                    if (resourceGroup.Contains("Banking Leadership"))
                                    {
                                        employeeResourcePath = "/resources/financial-institutions/";
                                    }
                                    else if (resourceGroup.Contains("Construction Leadership"))
                                    {
                                        employeeResourcePath = "/resources/construction/";
                                    }
                                    else if (resourceGroup.Contains("Franchise Leadership"))
                                    {
                                        employeeResourcePath = "/resources/franchise/";
                                    }
                                    else if (resourceGroup.Contains("Government Services Leadership"))
                                    {
                                        employeeResourcePath = "/resources/government-services/";
                                    }
                                    else if (resourceGroup.Contains("Health Care Leadership"))
                                    {
                                        employeeResourcePath = "/resources/healthcare/";
                                    }
                                    else if (resourceGroup.Contains("HORNE Wealth Advisors Leadership"))
                                    {
                                        employeeResourcePath = "/resources/private-wealth/";
                                    }
                                    else if (resourceGroup.Contains("Private Wealth Leadership"))
                                    {
                                        employeeResourcePath = "/resources/private-wealth/";
                                    }
                                    else if (resourceGroup.Contains("HORNE Wealth Strategies Leadership"))
                                    {
                                        employeeResourcePath = "/resources/private-wealth/";
                                    }
                                    else if (resourceGroup.Contains("Public & Middle Market Leadership"))
                                    {
                                        employeeResourcePath = "/resources/public-middle-market/";
                                    }
                                    else
                                    {
                                        employeeResourcePath = "/resources/horne/";
                                    }
                                }

                                <div class="people-list-person-info container-fluid mt-2 mt-lg-3" data-employee-group="@teamMember.EmployeeGroup">
                                    <div class="row no-gutters">
                                        <div class="people-list-person-social col-6 col-lg-2 text-left text-lg-center">
                                            <ul class="list-unstyled">
                                                @if (!String.IsNullOrEmpty(teamMember.LinkedInUrl))
                                                {
                                                    string linkedInUrl = (teamMember.LinkedInUrl.Contains("http")) ? teamMember.LinkedInUrl : "http://" + teamMember.LinkedInUrl;
                                                    <li class="d-inline mr-2 d-lg-block mr-lg-0 mb-lg-2"><a href="@linkedInUrl" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
                                                }
                                                @if (!String.IsNullOrEmpty(teamMember.TwitterUrl))
                                                {
                                                    string TwitterUrl = (teamMember.TwitterUrl.Contains("http")) ? teamMember.TwitterUrl : "http://" + teamMember.TwitterUrl;
                                                    <li class="d-inline mr-2 d-lg-block mr-lg-0 mb-lg-2"><a href="@TwitterUrl" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>
                                                }
                                                @if (!String.IsNullOrEmpty(teamMember.BlogUrl))
                                                {
                                                    string BlogUrl = (teamMember.BlogUrl.Contains("http")) ? teamMember.BlogUrl : "http://" + teamMember.BlogUrl;
                                                    <li class="d-inline mr-2 d-lg-block mr-lg-0 mb-lg-2"><a href="@BlogUrl" target="_blank"><i class="fa fa-2x fa-blog-temp"></i></a></li>
                                                }
                                                @if (!String.IsNullOrEmpty(employeeResourcePath))
                                                {
                                                    <li class="d-inline mr-2 d-lg-block mr-lg-0 mb-lg-2"><a href="@employeeResourcePath" target="_blank"><i class="fa fa-2x fa-lightbulb-white"></i></a></li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="col-6 col-lg-9">
                                            <div class="people-employee-summary text-left d-none d-lg-block">
                                                @teamMember.EmployeeIntro
                                            </div>
                                            <div class="text-right mt-lg-2">
                                                <a class="link-plus-caps" href="@teamMember.Url.TrimEnd('/')">Read More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }

                </div>
            </div>
        </section>
    }
