@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	string group = "HORNE Wealth Advisors Leadership";
	string groupText = group;
	
	@*var peopleNode = Umbraco.Content(2363);*@
	var peopleNode = Umbraco.Content(4154);
	var teamMemberPointers = peopleNode.Children().OrderBy("SortOrder");
	List<int> teamMemberIdsSorted = new List<int>();
	foreach (var m in teamMemberPointers)
	{
		teamMemberIdsSorted.Add(int.Parse(m.teamMember));
	}
}

      <div class="container">
        <div class="row prepend-top-lg append-btm-sm">
          <div class="col-sm-12 text-center">
          </div>
        </div>
      </div>

					  
        <!-- TEAM BLOCKS-->
        <div class="container container_team">
          <div class="row row_team append-btm-lg">
            <div class="team-block team-block_hdr">
              <div class="inset" style="background-color:#DD9D54;">
                <h2 class="h1 no-margin reverse-hdr ghost">@groupText</h2>
              </div>
            </div>
			@foreach (var id in teamMemberIdsSorted)
			{				
				var teamMemberPointerNodes = CurrentPage.Children().Where("teamMember.Contains(\"" + id + "\")");
				if (teamMemberPointerNodes.Any())
				{
					var pointerNode = teamMemberPointerNodes.First();
					var teamMember = Umbraco.Content(id);
					var photo = Umbraco.Media(teamMember.employeephoto).GetCropUrl(cropAlias: "Team Photo Grid 350x250");
	            	@:<div class="team-block">
						if (String.IsNullOrEmpty(teamMember.employeebio.ToString()))
						{
							@:<a href="@pointerNode.Url">
						}
						else
						{
							@:<a href="@pointerNode.Url?alttemplate=LightboxBioPageHW&teammember=@teamMember.Id" data-fancybox-type="ajax" class="fancybox">
						}
	                	@:<div class="block-default"><img src='@photo' alt="@teamMember.Name" class="img-responsive"></div>
	                	@:<div class="block-footer inset-sm reverse-block"><span class="bold">@teamMember.Name</span></div></a>
					@:</div>
				}
			}

          </div>
        </div>
