.hero-video {
  background-color: $primary;
  background-image: url('../img/hc-homepage-mobile@2x.png');
  background-position: top 0 right 0;
  padding-top: calculateRem(40px);
  padding-bottom: calculateRem(40px);
  color: #fff;

  h1 {
    font-size: 2.25rem;
  }
  

  @include media-breakpoint-up(md) {
    background-position: bottom right;
    padding-top: calculateRem(100px);
    padding-bottom: calculateRem(90px);

    h1 {
      font-size: 3rem;
    }
  }
}

@include media-breakpoint-up(xl) {
    .hero-video-embed {
        width: 112%;
    }
}