svg.icn-video(data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 17.93 17.93")
    defs
        style.
            .cls-1{fill:#c82036;}
    title video
    g#slideshow
        path.cls-1(d="M7,5v8l5-4Zm9-5H2A2,2,0,0,0,0,2v14a2,2,0,0,0,2,2h14a2,2,0,0,0,2-2V2A2,2,0,0,0,15.94,0ZM14.81,15.94H3.12A1.13,1.13,0,0,1,2,14.81V3.12A1.14,1.14,0,0,1,3.12,2H14.81a1.13,1.13,0,0,1,1.13,1.13V14.81A1.12,1.12,0,0,1,14.81,15.94Z")
