svg.icn-article(data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14.6 17.93")
    defs
        style.
            .cls-1{fill:#c62036;}
    title article
    path.cls-1(d="M13.71,0H.9A.87.87,0,0,0,0,.9V17a.87.87,0,0,0,.9.89H13.71A.87.87,0,0,0,14.6,17V.9A.87.87,0,0,0,13.71,0Zm-.39,16.65h-12V1.28h12V16.65Z")
    path.cls-1(d="M11.78,2.5h-9a.57.57,0,0,0-.57.64V5.89a.57.57,0,0,0,.57.64h9a.57.57,0,0,0,.57-.64V3.14A.57.57,0,0,0,11.78,2.5Zm-.57,2.75H3.4V3.78h7.81V5.25Z")
    path.cls-1(d="M11.78,7.49h-9a.58.58,0,0,0-.57.64.57.57,0,0,0,.57.64h9a.57.57,0,0,0,.57-.64A.57.57,0,0,0,11.78,7.49Z")
    path.cls-1(d="M11.78,9.67h-9a.58.58,0,0,0-.57.64.57.57,0,0,0,.57.64h9a.57.57,0,0,0,.57-.64A.57.57,0,0,0,11.78,9.67Z")
    path.cls-1(d="M11.78,11.91H2.9a.58.58,0,0,0-.58.64.57.57,0,0,0,.58.64h8.88a.57.57,0,0,0,.57-.64A.57.57,0,0,0,11.78,11.91Z")
    path.cls-1(d="M8.78,14.16H2.9a.64.64,0,0,0,0,1.28H8.78a.64.64,0,0,0,0-1.28Z")
