svg.icn-svg.icn-dollar-sign-shining(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 60.1 60")
    defs
        style.
            .cls-1{fill:#fff;opacity:0.7;}.cls-2{fill:#2c2c43;}
    title payment_model_reform
    g#Layer_2(data-name="Layer 2")
        path.cls-1(d="M28,41.58a13.49,13.49,0,1,0-13.5-13.49A13.49,13.49,0,0,0,28,41.58ZM24.58,28a4,4,0,0,1,0-5.77,4.2,4.2,0,0,1,2.76-1.18V19.85h2.33v1.21a4.21,4.21,0,0,1,2.76,1.17,4.07,4.07,0,0,1,1.22,2.9H31.31a1.75,1.75,0,0,0-.53-1.27,1.84,1.84,0,0,0-1.28-.52h-2a1.81,1.81,0,0,0-1.28.53,1.75,1.75,0,0,0-.53,1.26,1.78,1.78,0,0,0,.53,1.26,1.84,1.84,0,0,0,1.28.52h2a4.17,4.17,0,0,1,2.93,1.19,4,4,0,0,1,0,5.77,4.15,4.15,0,0,1-2.77,1.18v1.22H27.34V35.05a4.14,4.14,0,0,1-2.76-1.17A4.07,4.07,0,0,1,23.37,31H25.7a1.77,1.77,0,0,0,.54,1.27,1.79,1.79,0,0,0,1.27.51h2a1.84,1.84,0,0,0,1.29-.52A1.81,1.81,0,0,0,31.31,31a1.72,1.72,0,0,0-.53-1.26,1.8,1.8,0,0,0-1.28-.52h-2A4.16,4.16,0,0,1,24.58,28Z")
    g#Layer_1(data-name="Layer 1")
        path.cls-2(d="M9,28.09a19,19,0,1,0,19-19A19,19,0,0,0,9,28.09ZM28,11.36A16.73,16.73,0,1,1,11.22,28.09,16.75,16.75,0,0,1,28,11.36Z")
        rect.cls-2(x="26.84" width="2.3" height="4.8" rx="1.15" ry="1.15")
        rect.cls-2(x="17.05" y="1.94" width="2.29" height="4.81" rx="1.15" ry="1.15" transform="translate(-0.28 7.3) rotate(-22.5)")
        rect.cls-2(x="8.75" y="7.48" width="2.29" height="4.81" rx="1.15" ry="1.15" transform="translate(-4.09 9.9) rotate(-45.01)")
        rect.cls-2(x="3.21" y="15.76" width="2.29" height="4.81" rx="1.15" ry="1.15" transform="translate(-14.09 15.24) rotate(-67.5)")
        rect.cls-2(y="26.79" width="4.81" height="2.29" rx="1.15" ry="1.15")
        rect.cls-2(x="1.95" y="36.56" width="4.8" height="2.3" rx="1.15" ry="1.15" transform="matrix(0.92, -0.38, 0.38, 0.92, -14.11, 4.54)")
        rect.cls-2(x="7.5" y="44.85" width="4.8" height="2.3" rx="1.15" ry="1.15" transform="translate(-29.63 20.47) rotate(-45)")
        rect.cls-2(x="15.8" y="50.39" width="4.8" height="2.3" rx="1.15" ry="1.15" transform="translate(-36.37 48.62) rotate(-67.49)")
        rect.cls-2(x="26.84" y="51.08" width="2.3" height="4.8" rx="1.15" ry="1.15")
        rect.cls-2(x="36.64" y="49.13" width="2.29" height="4.81" rx="1.15" ry="1.15" transform="translate(-16.83 18.37) rotate(-22.48)")
        rect.cls-2(x="50.49" y="35.31" width="2.29" height="4.81" rx="1.15" ry="1.15" transform="translate(-2.97 70.98) rotate(-67.49)")
        rect.cls-2(x="51.18" y="26.79" width="4.81" height="2.29" rx="1.15" ry="1.15")
        rect.cls-2(x="49.23" y="17.02" width="4.8" height="2.3" rx="1.15" ry="1.15" transform="matrix(0.92, -0.38, 0.38, 0.92, -3.02, 21.14)")
        rect.cls-2(x="43.69" y="8.73" width="4.8" height="2.3" rx="1.15" ry="1.15" transform="translate(6.51 35.48) rotate(-45)")
        rect.cls-2(x="35.39" y="3.2" width="4.8" height="2.3" rx="1.15" ry="1.15" transform="translate(19.32 37.6) rotate(-67.52)")
        path.cls-2(d="M44.28,45.67l4.59,12.66a1.15,1.15,0,0,0,1.89.42L54,55.52l4.14,4.14a1.15,1.15,0,0,0,1.63,0h0a1.16,1.16,0,0,0,0-1.62L55.62,53.9l3.23-3.23a1.15,1.15,0,0,0-.42-1.89L45.75,44.2A1.15,1.15,0,0,0,44.28,45.67Zm6.14,10.18-3.14-8.66L56,50.33Z")
