svg#Layer_1.icn-pie-chart(data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 17.98 17.98")
    defs
        style.
            .cls-1{fill:none;}.cls-2{fill:#c62036;}
    title red_icon_3
    path.cls-1(d="M15.14,9.59q0-.3,0-.6A6.13,6.13,0,0,0,4.46,4.9a5.09,5.09,0,0,0-1,1.51.35.35,0,0,0,.19.51l5.1,2A.49.49,0,0,1,9,9.34v5.41a.33.33,0,0,0,.34.37A6,6,0,0,0,15.14,9.59Z")
    path.cls-2(d="M15.14,9.59q0-.3,0-.6A6.13,6.13,0,0,0,4.46,4.9a5.09,5.09,0,0,0-1,1.51.35.35,0,0,0,.19.51l5.1,2A.49.49,0,0,1,9,9.34v5.41a.33.33,0,0,0,.34.37A6,6,0,0,0,15.14,9.59Z")
    path.cls-2(d="M9,16.28A7.29,7.29,0,1,1,16.28,9a5.53,5.53,0,0,1,0,.71A7.28,7.28,0,0,1,9,16.28ZM9,0a9,9,0,1,0,9,9.71q0-.36,0-.72A9,9,0,0,0,9,0Z")
