svg#Layer_1.icn-page-w-line-graph(data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14.26 17.93")
    defs
        style.
            .cls-1{fill:#c62036;}
    title red_icon_1
    path.cls-1(d="M1.4,16.53V1.4H8.64V4.92a.7.7,0,0,0,.7.7h3.52V16.53ZM11.87,4.22H10V2.39ZM9.63,0H0V17.93H14.26V4.63Z")
    rect.cls-1(x="3.12" y="13.9" width="8.02" height="0.93")
    rect.cls-1(x="3.12" y="5.14" width="4.76" height="0.93")
    polygon.cls-1(points="9.47 8.11 9.99 8.11 7.99 10.11 6.43 8.54 2.98 12 3.63 12.66 6.43 9.86 7.99 11.42 10.65 8.77 10.65 9.28 11.58 9.28 11.58 7.17 9.47 7.17 9.47 8.11")
    rect.cls-1(x="3.12" y="3.1" width="4.76" height="0.93")
