svg.icn-svg.icn-padlock-cyber(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 60.08 60")
    defs
        style.
            .cls-1{opacity:0.7;}.cls-2{fill:#fff;}.cls-3{fill:#2c2c43;}
    title cybersecurity
    g#Layer_2(data-name="Layer 2")
        g.cls-1
            path.cls-2(d="M33.55,27.52H3.87A2.92,2.92,0,0,0,.94,30.44V53a2.93,2.93,0,0,0,2.93,2.93H33.55A2.93,2.93,0,0,0,36.47,53V30.44A2.92,2.92,0,0,0,33.55,27.52ZM22.14,49H15.27l1-6.44c-1.59-.58-1.7-2.09-1.7-3.88a4.13,4.13,0,0,1,8.25,0c0,1.79-.11,3.3-1.7,3.88Z")
    g#Layer_1(data-name="Layer 1")
        path.cls-3(d="M57.66,41.46a2.43,2.43,0,0,0-2.22,1.47h-18V40h8.36a1,1,0,0,0,.7-.31l7.35-8.08a2.41,2.41,0,1,0-1.4-1.27l-7.07,7.77H37.41V30.27a3.69,3.69,0,0,0-3.22-3.65V15.49a15.49,15.49,0,1,0-31,0V26.62A3.69,3.69,0,0,0,0,30.27V53.18a3.7,3.7,0,0,0,3.69,3.7h30a3.7,3.7,0,0,0,3.69-3.7V49.37h8l7.14,7.41a2.31,2.31,0,1,0,3.79-.69,2.31,2.31,0,0,0-2.49-.56l-7.4-7.69a.9.9,0,0,0-.65-.28H37.41V44.82h18a2.42,2.42,0,1,0,2.22-3.36ZM18.71,2.11A13.4,13.4,0,0,1,32.09,15.49V26.57H28.93V15.8a10.23,10.23,0,0,0-20.45,0V26.57H5.33V15.49A13.39,13.39,0,0,1,18.71,2.11Zm8.11,24.46H10.59V15.8a8.12,8.12,0,0,1,16.23,0Zm8.7,26.61A1.81,1.81,0,0,1,33.72,55h-30a1.81,1.81,0,0,1-1.8-1.81V30.27a1.81,1.81,0,0,1,1.8-1.81h30a1.81,1.81,0,0,1,1.8,1.81Z")
        path.cls-3(d="M23.74,38.71a5,5,0,1,0-8.55,3.59,61.65,61.65,0,0,1-.81,6.59.88.88,0,0,0,.2.73.9.9,0,0,0,.69.32h6.87a.9.9,0,0,0,.7-.33.92.92,0,0,0,.19-.75c-.48-2.48-1-5.41-1-6.37A5,5,0,0,0,23.74,38.71Zm-3.12,2.58c-.48.35-.75.55.43,6.84H16.33c1-6.36.66-6.65.27-7a3.19,3.19,0,0,1-1.12-2.43,3.23,3.23,0,0,1,6.45,0A3.17,3.17,0,0,1,20.62,41.29Z")
