svg#Layer_1.icn-svg.icn-hand-holding-money(data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 72.13 60")
    defs
        style.
            .cls-1{fill:#fff;opacity:0.7;}.cls-2{fill:#2c2c43;}
    title reimbursement_advisory
    g#Layer_2(data-name="Layer 2")
        polygon.cls-1(points="71.16 35.9 35.27 0.97 29.37 7.03 15.89 11.6 22.5 31.12 27.65 25.65 31.08 25.65 31.31 25.87 47.19 25.87 44.75 31.98 44.83 32.3 44.83 32.3 41.09 33.2 32.32 32.93 31.31 39.31 26.57 43.13 31.96 59.03 51.63 52.37 48.46 43.02 56.68 50.78 71.16 35.9")
    path.cls-2(d="M71.84,35.2,35.94.27A1,1,0,0,0,35.25,0a1,1,0,0,0-.68.29l-5.73,5.9L15.58,10.68a.94.94,0,0,0-.56.49,1,1,0,0,0,0,.74l6.38,18.84a2.16,2.16,0,0,1-1,.26H12.93V27.1a1,1,0,0,0-1-1H1a1,1,0,0,0-1,1v3.65a1,1,0,0,0,1.94,0V28.06H11V57.89h-9V51.53H6.05a1,1,0,1,0,0-1.94H1a1,1,0,0,0-1,1v8.3a1,1,0,0,0,1,1H12a1,1,0,0,0,1-1v-2.7H30L31,59.34a.94.94,0,0,0,.49.56A.91.91,0,0,0,32,60a1.12,1.12,0,0,0,.31,0l19.67-6.66a1,1,0,0,0,.55-.49,1,1,0,0,0,0-.74l-1.92-5.67L56,51.48a1,1,0,0,0,1.36,0L71.85,36.57a1,1,0,0,0,.28-.69A1,1,0,0,0,71.84,35.2ZM35,6.16,41.3,24.91H28.87c-2.3,0-3.75,1.81-5,3.41-.3.38-.6.75-.9,1.09L17.11,12.2ZM47.19,24.91H43.34l-.92-2.73a5.11,5.11,0,0,1,7.14,0,5.13,5.13,0,0,1-2.49,8.7,7,7,0,0,0,1.09-3.75V25.87A1,1,0,0,0,47.19,24.91ZM12.93,54.22V33h7.39c2.3,0,3.75-1.82,5-3.42,1.11-1.38,2.15-2.69,3.52-2.69H46.23v.3a5.11,5.11,0,0,1-5.1,5.1h-8.6a1,1,0,0,0-1,1c0,.41-.13,10-11.25,10v1.94a15.7,15.7,0,0,0,5.6-.94l3.39,10Zm25.86-20a5.09,5.09,0,0,1-5,4.17,5.2,5.2,0,0,1-1.42-.22,14.54,14.54,0,0,0,1.09-3.95ZM32.56,57.81l-4.88-14.4a10.9,10.9,0,0,0,3.73-3.54,6.92,6.92,0,0,0,2.35.41,7,7,0,0,0,7-6c0-.05,0-.09,0-.14h.39a7,7,0,0,0,3.07-.71l6.2,18.3Zm24.09-8.39L49.3,42.48,46.07,33A7.07,7.07,0,0,0,50.9,20.8a7,7,0,0,0-4.92-2h-.11a7.05,7.05,0,0,0-4.12,1.4L36.47,4.62A1,1,0,0,0,36,4.06a1,1,0,0,0-.74,0l-2.38.8,2.42-2.48,34.5,33.58Z")
    path.cls-2(d="M55.11,44.27a6.13,6.13,0,0,0,.94.76.94.94,0,0,0,.53.16,1,1,0,0,0,.81-.43,1,1,0,0,0-.27-1.35,4.22,4.22,0,0,1-.67-.53,4.8,4.8,0,0,1,3.22-8.26A4.86,4.86,0,0,1,63.09,36a5.16,5.16,0,0,1,.73.89,1,1,0,1,0,1.63-1,7.15,7.15,0,0,0-1-1.25,6.74,6.74,0,0,0-9.52.2A6.73,6.73,0,0,0,55.11,44.27Z")
    path.cls-2(d="M27.45,19.92A6.73,6.73,0,0,0,33.81,11a6.48,6.48,0,0,0-.5-1.1,1,1,0,1,0-1.68.94,7,7,0,0,1,.35.79,4.79,4.79,0,0,1-6.63,5.88,4.76,4.76,0,0,1-2.43-2.74,4.86,4.86,0,0,1-.25-1.13,1,1,0,0,0-1.92.18,6.55,6.55,0,0,0,.34,1.58A6.73,6.73,0,0,0,27.45,19.92Z")
    path.cls-2(d="M37.68,44a6.73,6.73,0,0,0-4.16,8.56,7.23,7.23,0,0,0,.49,1.1,1,1,0,0,0,.85.5.9.9,0,0,0,.47-.13,1,1,0,0,0,.37-1.32,4.54,4.54,0,0,1-.35-.78,4.79,4.79,0,0,1,9.06-3.14,4.38,4.38,0,0,1,.24,1.13,1,1,0,1,0,1.93-.19,6.58,6.58,0,0,0-.34-1.57A6.73,6.73,0,0,0,37.68,44Z")
