svg.icn-link(data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 17.93 17.93")
    defs
        style.
            .cls-1{fill:#c82036;}
    title link
    path.cls-1(d="M4,17.93a4,4,0,0,1-2.83-1.16,4,4,0,0,1,0-5.64L4.67,7.66A5.27,5.27,0,0,1,8.21,5.92a3.07,3.07,0,0,1,2.23,1,.73.73,0,0,1,.22.52.74.74,0,0,1-.21.53.77.77,0,0,1-.53.22.75.75,0,0,1-.53-.22A1.72,1.72,0,0,0,8.16,7.4,3.93,3.93,0,0,0,5.72,8.72L2.23,12.18a2.49,2.49,0,0,0,0,3.54,2.55,2.55,0,0,0,3.57,0l1-1a.74.74,0,0,1,.53-.21.69.69,0,0,1,.52.22A.73.73,0,0,1,8,15.3a.75.75,0,0,1-.22.53l-1,.94A4,4,0,0,1,4,17.93Z")
    path.cls-1(d="M9.81,12.24a3.26,3.26,0,0,1-2.32-1A.75.75,0,0,1,8,9.93a.78.78,0,0,1,.52.21,1.78,1.78,0,0,0,1.29.61A3.26,3.26,0,0,0,12,9.59l3.73-3.7a2.49,2.49,0,0,0,0-3.54,2.77,2.77,0,0,0-1.88-.85,2,2,0,0,0-1.46.62L11.18,3.3a.72.72,0,0,1-.52.21.71.71,0,0,1-.53-.22.74.74,0,0,1,0-1l1.19-1.17A3.5,3.5,0,0,1,13.83,0a4.19,4.19,0,0,1,2.93,1.3,3.92,3.92,0,0,1,1.17,2.82,3.92,3.92,0,0,1-1.17,2.82L13,10.64A4.74,4.74,0,0,1,9.81,12.24Z")
