svg.icn-calendar(data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 17.93 17.93")
    defs
        style.
            .cls-1{fill:#c52035;}
    title event
    path.cls-1(d="M16.46,10.58V3.07a1.6,1.6,0,0,0-1.6-1.6H12.77v-1a.49.49,0,1,0-1,0v1H5.41v-1A.5.5,0,0,0,4.91,0a.49.49,0,0,0-.49.49v1H1.6A1.6,1.6,0,0,0,0,3.07V14.86a1.6,1.6,0,0,0,1.6,1.6h9a4.17,4.17,0,1,0,5.88-5.88Zm-1-.63a4.29,4.29,0,0,0-1.72-.37,4.18,4.18,0,0,0-4.18,4.18A4.25,4.25,0,0,0,10,15.48H1.6A.62.62,0,0,1,1,14.86V6.14h14.5Zm-1.72.61a3.2,3.2,0,1,1-3.2,3.2A3.2,3.2,0,0,1,13.76,10.56ZM4.42,3a.86.86,0,1,0,1,.85V2.46h6.38V3a.86.86,0,0,0,.12,1.71.86.86,0,0,0,.86-.86V2.46h2.09a.61.61,0,0,1,.62.61V5.16H1V3.07a.61.61,0,0,1,.62-.61H4.42Z")
    path.cls-1(d="M12.67,15.58a.51.51,0,0,0,.7,0L16,13a.5.5,0,0,0,.14-.35A.52.52,0,0,0,16,12.3a.5.5,0,0,0-.7,0L13,14.54l-.76-.76a.49.49,0,1,0-.69.69Z")
