svg.icn-svg.icn-calculator(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 34.29 60")
    defs
        style.
            .cls-1,.cls-2{fill:#fff;}.cls-1{opacity:0.7;}.cls-3{fill:#2c2c43;}
    title managed_accounting
    g#Layer_2(data-name="Layer 2")
        path.cls-1(d="M30.43,15.08H29v2.14a1.11,1.11,0,0,1-1.11,1.1H6.42a1.1,1.1,0,0,1-1.1-1.1V15.08H3.86A2.89,2.89,0,0,0,1,18V56.14A2.89,2.89,0,0,0,3.86,59H30.43a2.89,2.89,0,0,0,2.89-2.89V18A2.89,2.89,0,0,0,30.43,15.08Z")
    g#Layer_1(data-name="Layer 1")
        circle.cls-2(cx="8.63" cy="35.26" r="2.47")
        circle.cls-2(cx="17.31" cy="35.26" r="2.47")
        circle.cls-2(cx="25.99" cy="35.26" r="2.47")
        circle.cls-2(cx="8.63" cy="43.43" r="2.47")
        circle.cls-2(cx="17.31" cy="43.43" r="2.47")
        circle.cls-2(cx="25.99" cy="43.43" r="2.47")
        circle.cls-2(cx="8.63" cy="51.6" r="2.47")
        circle.cls-2(cx="17.31" cy="51.6" r="2.47")
        circle.cls-2(cx="25.99" cy="51.6" r="2.47")
        path.cls-3(d="M30.43,60H3.86A3.86,3.86,0,0,1,0,56.14V18a3.86,3.86,0,0,1,3.86-3.86H5.18a1,1,0,0,1,0,1.93H3.86A1.93,1.93,0,0,0,1.94,18V56.14a1.92,1.92,0,0,0,1.92,1.92H30.43a1.92,1.92,0,0,0,1.92-1.92V18A1.93,1.93,0,0,0,30.43,16H29.08a1,1,0,1,1,0-1.93h1.35A3.86,3.86,0,0,1,34.29,18V56.14A3.86,3.86,0,0,1,30.43,60Z")
        rect.cls-3(x="5.55" y="21.86" width="23.53" height="6.44" rx="1.05" ry="1.05")
        path.cls-3(d="M8.63,38.69a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,8.63,38.69Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,8.63,33.76Z")
        path.cls-3(d="M17.31,38.69a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,17.31,38.69Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,17.31,33.76Z")
        path.cls-3(d="M26,38.69a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,26,38.69Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,26,33.76Z")
        path.cls-3(d="M8.63,46.86a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,8.63,46.86Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,8.63,41.93Z")
        path.cls-3(d="M17.31,46.86a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,17.31,46.86Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,17.31,41.93Z")
        path.cls-3(d="M26,46.86a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,26,46.86Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,26,41.93Z")
        path.cls-3(d="M8.63,55a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,8.63,55Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,8.63,50.1Z")
        path.cls-3(d="M17.31,55a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,17.31,55Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,17.31,50.1Z")
        path.cls-3(d="M26,55a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,26,55Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,26,50.1Z")
        path.cls-3(d="M26.45,18.33H24.51V2.66l-2,1.18a1,1,0,0,1-1.12-.1L19.62,2.22l-2,1.55a1,1,0,0,1-1.17,0L14.34,2.21l-1.7,1.52a1,1,0,0,1-1.16.1L9.77,2.74V18.33H7.84V1a1,1,0,0,1,.5-.85,1,1,0,0,1,1,0L11.9,1.8,13.64.25A1,1,0,0,1,14.86.19L17,1.79l2-1.58a1,1,0,0,1,1.23,0l1.84,1.58L25,.13a1,1,0,0,1,1,0,1,1,0,0,1,.49.84Z")
        path.cls-3(d="M20.93,9.17H13.36a1,1,0,1,1,0-1.94h7.57a1,1,0,0,1,0,1.94Z")
        path.cls-3(d="M20.93,12.74H13.36a1,1,0,1,1,0-1.93h7.57a1,1,0,1,1,0,1.93Z")
        path.cls-3(d="M16.85,16.32H13.36a1,1,0,1,1,0-1.94h3.49a1,1,0,0,1,0,1.94Z")
