svg.icn-blogging(data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 15.02 17.93")
    defs
        style.
            .cls-1 {
            fill: #c82036;
            }
    title 004-blogging
    g
        path.cls-1(d="M12.06,0H2.77A3,3,0,0,0,0,3.05v9.86A2.13,2.13,0,0,0,1.56,15v2.41a.56.56,0,0,0,.32.51.52.52,0,0,0,.24.05.55.55,0,0,0,.35-.12L6,15h4.59a2.13,2.13,0,0,0,2.12-2.13V4.68h1.76A.55.55,0,0,0,15,4.12V3A3,3,0,0,0,12.06,0ZM10.58,13.92H5.8a.55.55,0,0,0-.35.12L2.68,16.22V14.48a.56.56,0,0,0-.56-.56,1,1,0,0,1-1-1V3.05A1.89,1.89,0,0,1,2.84,1.13H3a1.83,1.83,0,0,1,1.25.5A1.81,1.81,0,0,1,4.81,3V4.12a.56.56,0,0,0,.56.56h6.21v8.23h0A1,1,0,0,1,10.58,13.92ZM13.9,3.56h-8V3a3,3,0,0,0-.64-1.85h6.77A1.85,1.85,0,0,1,13.9,3v.59Z")
        path.cls-1(d="M9.81,6.38H3.22a.42.42,0,0,0-.42.42.42.42,0,0,0,.42.42H9.81a.42.42,0,0,0,.42-.42A.42.42,0,0,0,9.81,6.38Z")
        path.cls-1(d="M9.81,8.72H3.22a.42.42,0,1,0,0,.84H9.81a.42.42,0,0,0,0-.84Z")
        path.cls-1(d="M9.81,11.07H3.22a.42.42,0,1,0,0,.84H9.81a.42.42,0,0,0,0-.84Z")
