svg.icn-svg.icn-sneaky-man(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 58.91 60")
    defs
        style.
            .cls-1{fill:#fff;opacity:0.7;}.cls-2{fill:#2c2c43;}
    title fraud_litigation
    g#Layer_2(data-name="Layer 2")
        polygon.cls-1(points="8.23 16.57 19.62 0 33.08 6.21 47.58 4.14 53.79 23.81 8.23 16.57")
        path.cls-1(d="M47.06,26.41a39.6,39.6,0,0,0-4.27.26c.39.13,3.1,4.27,3.1,4.27" transform="translate(0 -0.01)")
    g#Layer_1(data-name="Layer 1")
        path.cls-2(d="M58.1,23.89,4.26,14.57a1,1,0,0,0-1.14.8,1,1,0,0,0,.8,1.14l6.21,1.07a36.39,36.39,0,0,0,2.33,9.62L5.43,25a1,1,0,0,0-1.25,1.22L9.14,43C3.09,46.8.16,58.28,0,58.78A1,1,0,0,0,.74,60a1,1,0,0,0,1.2-.72c0-.12,3.07-12,8.8-14.89l.11-.08.09,0c.07-.06,6.79-5.5,22.53,8.27a1,1,0,0,0,.65.25,1,1,0,0,0,.74-.34,1,1,0,0,0-.1-1.39C21.36,39.31,13.7,40.74,10.89,42L6.59,27.39,55.5,43,51.87,50.3a1,1,0,0,0-.07.68l2.07,8.28a1,1,0,0,0,1.19.72,1,1,0,0,0,.72-1.2l-2-7.93,4-8a1,1,0,0,0,0-.83,1,1,0,0,0-.61-.55L50.58,39.4l.3-2.36,3.22.68a1,1,0,0,0,1.15-1.23L51.85,24.8l5.91,1,.17,0a1,1,0,0,0,.17-1.95ZM52.9,35.46l-2.66-.57a1,1,0,0,0-.78.16,1,1,0,0,0-.4.68l-.38,3.06L15,28a33.45,33.45,0,0,1-2.82-10.08l37.54,6.5Z" transform="translate(0 -0.01)")
        path.cls-2(d="M42.26,27.49c.37.39,1.73,2.34,2.81,4a1,1,0,0,0,.82.44,1,1,0,0,0,.54-.16,1,1,0,0,0,.29-1.36c-.87-1.32-1.51-2.26-2-2.92.72,0,1.57-.07,2.36-.09a1,1,0,0,0,0-2h0c-4.91.14-5.1.15-5.24,1.09A1,1,0,0,0,42.26,27.49Z" transform="translate(0 -0.01)")
