svg#Layer_1.icn-stack-of-papers(data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 21.67 18.35")
    defs
        style.
            .cls-1{fill:#c62036;}
    title red_icon_2
    path.cls-1(d="M3.27,7.39,11.6,10c.93-.44,3.8-1.78,5.54-2.51s2-1.38,2-3.31L10,1.89A4.13,4.13,0,0,1,7.24,5.72ZM0,7.56a.84.84,0,0,1,.51-.81L6.59,4.18c1.2-.5,1.77-1.13,1.77-3.35A.82.82,0,0,1,8.68.18.82.82,0,0,1,9.39,0L20.18,2.68a.83.83,0,0,1,.63.81v.13c0,2.46,0,4.09-3,5.36-2,.85-5.73,2.61-5.77,2.62a.72.72,0,0,1-.35.08,1,1,0,0,1-.25,0L.59,8.31A.82.82,0,0,1,0,7.56Zm11.61,5.73L1.08,10.05a.84.84,0,0,0-.49,1.6L11.42,15a1,1,0,0,0,.25,0,.81.81,0,0,0,.34-.08l9.17-4.16a.84.84,0,0,0,.41-1.11.83.83,0,0,0-1.1-.41Zm10-.28a.83.83,0,0,1-.41,1.1L12,18.28a.8.8,0,0,1-.34.07.69.69,0,0,1-.25,0L.59,15a.83.83,0,0,1,.49-1.59l10.53,3.24,8.88-4A.83.83,0,0,1,21.59,13Z")
