svg.icn-svg.icn-checkbox(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 66.48 60")
    defs
        style.
            .cls-1{opacity:0.7;}.cls-2{fill:#fff;}.cls-3{fill:#2c2c43;}
    title financial integrity
    g#Layer_2(data-name="Layer 2")
        g.cls-1
            polygon.cls-2(points="29.83 49.4 11.22 31.27 17.68 24.64 29.16 35.81 58.35 1.05 65.44 7 29.83 49.4")
    g#Layer_1(data-name="Layer 1")
        path.cls-3(d="M41.15,54.91H9.1a4,4,0,0,1-4-4V17.58a4,4,0,0,1,4-4h31a1,1,0,0,1,0,2.1H9.1a1.92,1.92,0,0,0-1.91,1.91V50.9A1.92,1.92,0,0,0,9.1,52.81H41.15a1.92,1.92,0,0,0,1.92-1.91V41.44a1,1,0,1,1,2.09,0V50.9A4,4,0,0,1,41.15,54.91Z")
        path.cls-3(d="M41.29,60H9a9,9,0,0,1-9-9V17.44a9,9,0,0,1,9-9H45.22a1,1,0,1,1,0,2.1H9a6.88,6.88,0,0,0-6.87,6.86V51A6.89,6.89,0,0,0,9,57.91H41.29A6.88,6.88,0,0,0,48.16,51V34.22a1,1,0,0,1,2.1,0V51A9,9,0,0,1,41.29,60Z")
        path.cls-3(d="M29.83,50.45a1.06,1.06,0,0,1-.73-.3L10.49,32a1.05,1.05,0,0,1,0-1.48l6.46-6.63a1,1,0,0,1,.74-.32h0a1,1,0,0,1,.73.3L29.08,34.28,57.55.37A1,1,0,0,1,59,.24l7.09,6a1.08,1.08,0,0,1,.37.71,1.05,1.05,0,0,1-.24.76l-35.6,42.4a1,1,0,0,1-.75.37ZM12.7,31.25,29.76,47.86,64,7.13,58.48,2.52,30,36.49a1.08,1.08,0,0,1-.75.37,1.06,1.06,0,0,1-.79-.3L17.7,26.12Z")
