svg#Layer_1.icn-svg.icn-coin-up-arrow(data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 54.63 60")
    defs
        style.
            .cls-1{opacity:0.7;}.cls-2{fill:#fff;}.cls-3{fill:#2c2c43;}
    title valuation
    g#Layer_2(data-name="Layer 2")
        g.cls-1
            path.cls-2(d="M14.11,56.82A14.11,14.11,0,1,0,0,42.71,14.11,14.11,0,0,0,14.11,56.82ZM10.59,42.63a4.21,4.21,0,0,1,0-6,4.35,4.35,0,0,1,2.88-1.24V34.09h2.44v1.27a4.42,4.42,0,0,1,2.88,1.22,4.26,4.26,0,0,1,1.28,3H17.63a1.86,1.86,0,0,0-.56-1.32,1.92,1.92,0,0,0-1.34-.54H13.66a1.89,1.89,0,0,0-1.35.55,1.83,1.83,0,0,0-.55,1.32,1.86,1.86,0,0,0,.56,1.32,1.92,1.92,0,0,0,1.34.54h2.07a4.38,4.38,0,0,1,3.07,1.24,4.24,4.24,0,0,1,0,6A4.44,4.44,0,0,1,15.91,50v1.26H13.47V50a4.39,4.39,0,0,1-2.88-1.23,4.25,4.25,0,0,1-1.27-3h2.44a1.88,1.88,0,0,0,1.9,1.87h2.07a1.93,1.93,0,0,0,1.35-.55,1.85,1.85,0,0,0,0-2.63,1.93,1.93,0,0,0-1.35-.55H13.66A4.33,4.33,0,0,1,10.59,42.63Z" transform="translate(0)")
    path.cls-3(d="M27.26,60a1,1,0,0,1-.58-1.74c4.19-3.14,7-8.14,7-10.84V18.82H23.22a1,1,0,0,1-.89-.58,1,1,0,0,1,.17-1L37.72.31a1,1,0,0,1,1.44,0L54.38,17.2a1,1,0,0,1,.17,1,1,1,0,0,1-.89.58H44.07v28.6c0,10.23-16,12.48-16.68,12.57ZM25.39,16.88h9.26a1,1,0,0,1,1,1V47.42c0,2.8-2.1,6.78-5,9.92,4.43-1.18,11.56-4,11.56-9.92V17.85a1,1,0,0,1,1-1h8.39L38.44,2.4Z" transform="translate(0)")
