header.section-L2-header
    .jumbotron.jumbotron-fluid
        nav.page-breadcrumb.d-none.d-md-block(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="#") Home
                li.breadcrumb-item
                    a(href="#") Focus Areas
                li.breadcrumb-item.active(aria-current="page")
                    a(href="#") Healthcare
        .container
            .row
                .col-12.col-lg-6.text-center.text-lg-left
                    h1.L2-header-h Analytical insights.<br>New perspectives.
                    p.lead.L2-header-lead
                        | With a focus on helping senior healthcare executives and physicians anticipate change, we provide guidance on making the right business decisions for growth. As you look to interpret regulations, identify new revenue sources, protect your margins, and activate strategies for health care reform, we’re here to help.
                    p.mt-5.mb-0
                        a.btn.btn-outline-light(href="#", role="button") View Healthcare Offerings