header.section-L3-header
    .jumbotron.jumbotron-fluid
        .container-fluid
            .row.text-center
                .col-12
                    include ../includes/svg/_icn-checkbox-svg.pug
                    h1.L3-header-h Financial Integrity &amp; Compliance
                    h2.L3-header-sub-h Healthcare