footer.site-footer-v2(role="contentinfo")
  div.container
    div.row.d-flex.justify-content-center
      div.col-md-5.col-lg-6.mb-2.mb-md-0
        form#footerSearch.footer-search-form-v2.form-inline(action="/search", method="get")
          img.icn-search-v2(src=path + "/assets/img/icn-search.svg", alt="Search")
          button#footerBtnSearchClose.btn-search-close.hide-me.btn.btn-link.d-none.d-md-inline(aria-label="Close search")
            img.icn-search-close(src=path + "/assets/img/icn-x-circle.svg", alt="Close")
          input#footerSearchInput.footer-search-input.form-control(type="search" placeholder="How can we help you?" aria-label="How can we help you?")
          button.btn.btn-outline-primary.my-2.my-sm-0.sr-only(type="submit") Search

        div.contact-info
          div
            h3 Contact Us
            p.footer-phone-number
              img.icn-18px.mr-2(src=path + "/assets/img/icn-phone.svg", alt="Call")
              a.align-middle(href="tel:+1-601-326-1000") 601-326-1000
      div.col-md-3.col-lg-3.mb-2.mb-md-0
        nav
          h3 Client Tools
          ul.list-unstyled
            li
              a(href="#") Client Login
            li
              a(href="#") Bill Pay
            li
              a(href="#") Tax Returns
            li
              a(href="#") Franchise Forward
      div.col-md-4.col-lg-3
        h3 Join the Conversation
        ul.footer-social-links.list-unstyled.d-flex.flex-column.flex-wrap
          li
            img.icn-18px.mr-2(src=path + "/assets/img/icn-twitter-circle.svg", alt="")
            a.align-middle(href="#") Twitter
          li
            img.icn-18px.mr-2(src=path + "/assets/img/icn-facebook-circle.svg", alt="")
            a.align-middle(href="#") Facebook
          li
            img.icn-18px.mr-2(src=path + "/assets/img/icn-instagram-circle.svg", alt="")
            a.align-middle(href="#") Instagram
          li
            img.icn-18px.mr-2(src=path + "/assets/img/icn-linkedin-circle.svg", alt="")
            a.align-middle(href="#") LinkedIn
          li
            img.icn-18px.mr-2(src=path + "/assets/img/icn-googleplus-circle.svg", alt="")
            a.align-middle(href="#") Google+
          li
            img.icn-18px.mr-2(src=path + "/assets/img/icn-youtube-circle.svg", alt="")
            a.align-middle(href="#") YouTube
div.footer-nav.container
  div.row.flex-column.justify-content-around.align-items-center.flex-md-row.justify-content-md-start.align-items-md-start
    div.logo.col-md-3
      a(href="#")
          img(src=path + "/assets/img/logo-horne-web-v2.svg", alt="HORNE LLP | CPAs &amp; Business Advisors")
    div.col-md-9.ml-md-4.text-center.text-md-left
      nav.mb-2.mb-md-0
        ul.list-inline.mb-0
          li.list-inline-item.mb-2.mb-md-0
            a(href="#").footer-nav-link Privacy Policy
          li.list-inline-item.mb-2.mb-md-0
            a(href="#").footer-nav-link Legal Disclaimer
          li.list-inline-item.mb-2.mb-md-0
            a(href="#").footer-nav-link Sitemap
          li.list-inline-item.mb-2.mb-md-0
            a(href="#").footer-nav-link Team Member Login
      p.footer-copyright &copy; 2018 Horne LLP