header#siteHeaderV2.site-header-v2(role="banner")
    nav.site-header-navbar-v2.navbar.navbar-expand-xl.navbar-light.bg-white(role="navigation")
        .container-fluid

            a.navbar-brand.mr-lg-5(href=path + "/")
                img.site-logo-v2(src=path + "/assets/img/logo-horne-web-v2.svg", alt="HORNE LLP | CPAs &amp; Business Advisors")

            button.navbar-toggler.collapsed(type="button", data-toggle="collapse", data-target="#navbarMainContent", aria-controls="navbarMainContent", aria-expanded="false", aria-label="Toggle Navigation")
                span.navbar-toggler-icon
                span.navbar-close-icon
            
            #navbarMainContent.collapse.navbar-collapse.navbar-main-content-v2

                +searchMobile('nav')

                //- Main nav
                ul.navbar-nav.navbar-nav-main-v2.mr-xl-auto.align-items-stretch
                    li.nav-item
                        a#FocusAreaDropdown.nav-link(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Focus Areas
                            span.icn-dropdown
                                include ../includes/svg/_icn-angle-down.pug
                        ul.dropdown-menu(aria-labelledby="FocusAreaDropdown")
                            li.dropdown-item
                                a(href="#") Sub item
                            li.dropdown-item
                                a(href="#") Sub item name that is long
                                ul
                                    li
                                        a(href="#") Sub item
                                    li
                                        a(href="#") Sub item
                            li.dropdown-item
                                a(href="#") Sub item
                    li.nav-item
                        a#ServicesDropdown.nav-link(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Services
                            span.icn-dropdown
                                include ../includes/svg/_icn-angle-down.pug
                        ul.dropdown-menu(aria-labelledby="ServicesDropdown")
                            li.dropdown-item
                                a(href="#") Sub item
                            li.dropdown-item
                                a(href="#") Sub item name that is long
                                ul
                                    li
                                        a(href="#") Sub item
                                    li
                                        a(href="#") Sub item
                            li.dropdown-item
                                a(href="#") Sub item
                    li.nav-item
                        a#ResourcesDropdown.nav-link(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Resources
                            span.icn-dropdown
                                include ../includes/svg/_icn-angle-down.pug
                        ul.dropdown-menu(aria-labelledby="ResourcesDropdown")
                            li.dropdown-item
                                a(href="#") Sub item
                            li.dropdown-item
                                a(href="#") Sub item name that is long
                                ul
                                    li
                                        a(href="#") Sub item
                                    li
                                        a(href="#") Sub item
                            li.dropdown-item
                                a(href="#") Sub item
                    li.nav-item
                        a#AboutUsDropdown.nav-link(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") About Us
                            span.icn-dropdown
                                include ../includes/svg/_icn-angle-down.pug
                        ul.dropdown-menu(aria-labelledby="AboutUsDropdown")
                            li.dropdown-item
                                a(href="#") Sub item
                            li.dropdown-item
                                a(href="#") Sub item name that is long
                                ul
                                    li
                                        a(href="#") Sub item
                                    li
                                        a(href="#") Sub item
                            li.dropdown-item
                                a(href="#") Sub item
                    li.nav-item
                        a#OurCultureDropdown.nav-link(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Our Culture
                            span.icn-dropdown
                                include ../includes/svg/_icn-angle-down.pug
                        ul.dropdown-menu(aria-labelledby="OurCultureDropdown")
                            li.dropdown-item
                                a(href="#") Sub item
                            li.dropdown-item
                                a(href="#") Sub item name that is long
                                ul
                                    li
                                        a(href="#") Sub item
                                    li
                                        a(href="#") Sub item
                            li.dropdown-item
                                a(href="#") Sub item

                //- Little screen contact
                a#navbarContactMobileBtn.btn.btn-primary.btn-navbar-contact-mobile-v2(href="#") Contact Us
            
            +searchDesktop('nav')