header.site-header(role="banner")
      nav.site-header.navbar.navbar-expand-lg.navbar-light.bg-white(role="navigation")
        .container-fluid
          a.navbar-brand(href=path + "/")
            img.site-logo(src=path + "/assets/img/logo-horne-web-v2.svg")