section.section-quote
    .container
        .row
            .col-md-10.offset-md-1.text-center
                blockquote
                    p.quote-text
                        | “Clients come to us to help them think about what they should they be anticipating. They want insights into what areas present the best opportunities for growth and how should they transform moving forward.”
                    footer.d-flex.justify-content-center.quote-footer
                        .d-flex.quote-person
                            a(href="#").quote-person-img-wrap.d-inline-block.align-self-center.mr-4.link-plain-reverse.link-no-underline
                                img.quote-person-img(src=path + "/assets/img/kathywatts_09.jpg" alt="Katherine Watts")
                            a(href="#").d-inline-block.align-self-center.text-left.link-plain-reverse.link-no-underline
                                h5.quote-person-name Katherine Watts
                                span.quote-person-title
                                    | Partner in Charge