section.section-L3-intro
    nav.page-breadcrumb.d-none.d-md-block(aria-label="breadcrumb")
        ol.breadcrumb
            li.breadcrumb-item
                a(href="#") Home
            li.breadcrumb-item
                a(href="#") Focus Areas
            li.breadcrumb-item
                a(href="#") Healthcare
            li.breadcrumb-item.active(aria-current="page")
                a(href="#") Financial Integrity &amp; Compliance
    .container
        header.row.section-L3-intro-header
            .col-12.text-center.L3-intro-h-wrap
                h1.L3-intro-h Getting the facts right matters.
        main.row
            .col-12.col-md-4.text-center.text-md-left
                img.img-fluid.mb-3.mb-sm-4.L3-intro-img(src=path + "/assets/img/financial-integrity-compliance@2x.png", alt="image")
            .col-12.col-md-8
                p Whether you are expanding existing financial arrangements, seeking new capital, considering affiliation, or embarking on other strategic initiatives, you need assurance regarding the integrity of the financial statements which support those decisions. 
                p At HORNE, our opinion is more than simply providing compliance. Our integrated approach combines healthcare knowledge from our assurance, reimbursement, valuation and tax teams so that we can translate your data into knowledge and actionable insights. Insights that help identify emerging risks, as well as growth opportunities within your organization.
                p.mt-5.mb-0.text-center.text-md-left
                    a.btn.btn-outline-primary(href="#", role="button") Meet Our Healthcare Team