section.section-page-text
    .container
        .row
            header.col-12.col-md-4.text-center.text-md-left.page-text-h-wrap
                h1.page-text-h.pr-md-3.pr-lg-6 Access our full range of services that provide insights and solutions for the best path forward.
            main.col-12.col-md-8.page-text-content
                h2 External and Internal Audits
                
                p Whether to satisfy state regulations, long-term debt covenants, or governance requirements, you need financial opinions that lend integrity and trust of the data on which your stakeholders, potential acquirers and regulators rely. Our credentialed healthcare team prepares your audits to help you mitigate risk and succeed in an ever-changing healthcare economy. 

                p Our healthcare auditors have wide-ranging experience performing audits for compliance requirements such as:
                ul
                    li Office of Management and Budget Uniform Guidance
                    li United States Housing and Urban Development (HUD)
                    li United States Department of Agriculture (USDA)
                    li 340B Drug Pricing Program

                h2 Financial Forecasting, Modeling and Disclosures 

                p The uncertainty around changing payment models and reporting standards could have significant impacts on what to expect and what is required to be disclosed. Our financial modeling and forecasting can help you evaluate and interpret your financial and operational data to anticipate and resolve any potential issues and improve performance. We deploy methodologies based on industry and organizational hard trends to develop assumptions that provide you with confidence and to fully meet emerging reporting standard requirements. 

                .row.no-gutters.resource-callout.text-center.text-sm-left
                    .col-sm-5.col-md-4.mb-2.text-sm-center.resource-callout-img-wrap
                        img.img-fluid.resource-callout-img(src=path+"/assets/img/icn-medkit-w-umbrella.png" alt="image")
                    .col-sm-7.col-md-8.resource-callout-body
                        h2.resource-callout-h MACRA Toolkit
                        .resource-callout-text
                            p.mb-3 Download our MACRA toolkit and access a MIPS vs APM ebook, payment model reform infographic, preparing for MACRA checklists, overview video and more.
                            a.btn.btn-outline-primary(href="#", role="button") Download Toolkit
                
                h2 Nonprofit Tax Compliance

                p Nonprofit status for healthcare entities is under more scrutiny due to increased enforcement of regulations. We provide accurate, up-to-date tax reports that comply with statutory criteria to protect your nonprofit status.

                h2 Our strategic and reporting services include:
                ul
                    li Community Benefit Calculations for Form 990 Reporting
                    li Community Hospital Needs Assessments
                    li Executive Compensation Reporting Requirements
                    li Financial Assistance Policy Review for Adherence with 501(r) Regulations

                h2 HIPAA Compliance
                
                p Your board, executive management, regulators and other stakeholders need assurance that the organization complies with HIPAA privacy and security rules.  Our HIPAA risk assessments rank privacy and security issues by risk and difficulty, providing priorities to ensure the appropriate protection of electronic health information.  