section.section-resources
    .container
        .row
            header.col-12.text-center.mb-4.section-resources-header
                h2.h3 Get the Latest Healthcare Resources
            main.col-12.section-resources-main
                .row.section-resources-row

                    .col-md-4.mb-3.resources-item
                        a.link-block.card.card-resources(href="#", role="button")
                            .card-resources-img
                                include ../includes/svg/_icn-page-w-line-graph-svg.pug
                            .card-body.card-resources-body
                                h3.card-resources-h
                                    | MACRA Q &amp; A
                                p.card-text.card-resources-text
                                    | A quick fact sheet with definitions, timelines, reporting requirements and more.
                                span.btn-arrow.resources-item-btn Get the Data

                    .col-md-4.mb-3.resources-item
                        a.link-block.card.card-resources(href="#", role="button")
                            .card-resources-img
                                include ../includes/svg/_icn-pie-chart-svg.pug
                            .card-body.card-resources-body
                                h3.card-resources-h
                                    | 6 Considerations In Choosing a Healthcare Valuation Appraiser
                                p.card-text.card-resources-text
                                    | Review this checklist to ensure you’re receiving the best valuation counsel.
                                span.btn-arrow.resources-item-btn Get the Infographic

                    .col-md-4.mb-3.resources-item
                        a.link-block.card.card-resources(href="#", role="button")
                            .card-resources-img
                                include ../includes/svg/_icn-stack-of-papers-svg.pug
                            .card-body.card-resources-body
                                h3.card-resources-h
                                    | 5 Steps for Revenue Recognition
                                p.card-text.card-resources-text
                                    | Understand the impact of Accounting Standard Update 2014-09 on your financial health.
                                span.btn-arrow.resources-item-btn Get the Whitepaper
                                
                    .col-md-4.mb-3.resources-item
                        a.link-block.card.card-resources(href="#", role="button")
                            .card-resources-img
                                include ../includes/svg/_icn-article-svg.pug
                            .card-body.card-resources-body
                                h3.card-resources-h
                                    | Article Resource
                                p.card-text.card-resources-text
                                    | A quick fact sheet with definitions, timelines, reporting requirements and more.
                                span.btn-arrow.resources-item-btn Get the Article

                    .col-md-4.mb-3.resources-item
                        a.link-block.card.card-resources(href="#", role="button")
                            .card-resources-img
                                include ../includes/svg/_icn-blogging-svg.pug
                            .card-body.card-resources-body
                                h3.card-resources-h
                                    | Blogging Resource
                                p.card-text.card-resources-text
                                    | Review this checklist to ensure you’re receiving the best valuation counsel.
                                span.btn-arrow.resources-item-btn Read the Post

                    .col-md-4.mb-3.resources-item
                        a.link-block.card.card-resources(href="#", role="button")
                            .card-resources-img
                                include ../includes/svg/_icn-link-svg.pug
                            .card-body.card-resources-body
                                h3.card-resources-h
                                    | Link Resource
                                p.card-text.card-resources-text
                                    | Understand the impact of Accounting Standard Update 2014-09 on your financial health.
                                span.btn-arrow.resources-item-btn Visit Link
                                
                    .col-md-4.mb-3.resources-item
                        a.link-block.card.card-resources(href="#", role="button")
                            .card-resources-img
                                include ../includes/svg/_icn-video-svg.pug
                            .card-body.card-resources-body
                                h3.card-resources-h
                                    | Video Resource
                                p.card-text.card-resources-text
                                    | Understand the impact of Accounting Standard Update 2014-09 on your financial health.
                                span.btn-arrow.resources-item-btn Watch Video
                                
            footer.section-resources-footer.w-100.mt-5.text-center
                a.btn.btn-outline-primary.mx-auto(href="#", role="button") See All Resources
