section.section-blog-posts
    .container
        .row
            header.col-12.text-center.mb-4.section-blog-posts-header
                h2.h3 Read the Latest HORNE Blog Posts 
            main.col-12.section-blog-posts-main
                .row.section-blog-posts-row
                    .col-md-4.blog-posts-item
                        a.link-block.card.card-blog-posts(href="#", role="button")
                            img.card-img-top.card-blog-posts-img.img-fluid(src=path + "/assets/img/bipartisan-budget-act-2018-1.jpg" alt="Blog post FPO")
                            .card-body.mt-3.card-blog-posts-body
                                h3.card-text.mb-4.card-blog-posts-h
                                    | CMS Bundled Payment Train Back on Track. Should You Board?
                                span.btn-arrow Read More
                    .col-md-4.blog-posts-item
                        a.link-block.card.card-blog-posts(href="#", role="button")
                            img.card-img-top.card-blog-posts-img.img-fluid(src=path + "/assets/img/Tax-Reform-2-040200-edited.webp" alt="Blog post FPO")
                            .card-body.mt-3.card-blog-posts-body
                                h3.card-text.mb-4.card-blog-posts-h
                                    | House Tax Reform Details Unveiled
                                span.btn-arrow Read More
                    .col-md-4.blog-posts-item
                        a.link-block.card.card-blog-posts(href="#", role="button")
                            img.card-img-top.card-blog-posts-img.img-fluid(src=path + "/assets/img/blog-train-fpo.jpg" alt="Blog post FPO")
                            .card-body.mt-3.card-blog-posts-body
                                h3.card-text.mb-4.card-blog-posts-h
                                    | MedPAC on MIPS: What You Need to Know Now
                                span.btn-arrow Read More
            footer.section-blog-posts-footer.w-100.mt-5.text-center
                a.btn.btn-outline-primary.mx-auto(href="#", role="button") Visit Our Blog
