section.section-news-and-events
    .container
        .row
            header.col-12.text-center.mb-4.section-news-and-events-header
                h2.h3 News and Events
            main.col-12.section-news-and-events-main
                .row.section-news-and-events-row

                    .col-md-4.mb-3.news-and-events-item
                        a.link-block.card.card-news-and-events(href="#", role="button")
                            .card-news-and-events-img
                                include ../includes/svg/_icn-calendar-svg.pug
                            .card-body.card-news-and-events-body
                                h3.card-news-and-events-h
                                    | MACRA Q &amp; A
                                p.card-text.card-news-and-events-text
                                    | A quick fact sheet with definitions, timelines, reporting requirements and more.
                                span.btn-arrow.news-and-events-item-btn Learn More

                    .col-md-4.mb-3.news-and-events-item
                        a.link-block.card.card-news-and-events(href="#", role="button")
                            .card-news-and-events-img
                                include ../includes/svg/_icn-calendar-svg.pug
                            .card-body.card-news-and-events-body
                                h3.card-news-and-events-h
                                    | 6 Considerations In Choosing a Healthcare Valuation Appraiser
                                p.card-text.card-news-and-events-text
                                    | Review this checklist to ensure you’re receiving the best valuation counsel.
                                span.btn-arrow.news-and-events-item-btn Learn More

                    .col-md-4.mb-3.news-and-events-item
                        a.link-block.card.card-news-and-events(href="#", role="button")
                            .card-news-and-events-img
                                include ../includes/svg/_icn-calendar-svg.pug
                            .card-body.card-news-and-events-body
                                h3.card-news-and-events-h
                                    | 5 Steps for Revenue Recognition
                                p.card-text.card-news-and-events-text
                                    | Understand the impact of Accounting Standard Update 2014-09 on your financial health.
                                span.btn-arrow.news-and-events-item-btn Learn More
                                                                                                
            footer.section-news-and-events-footer.w-100.mt-5.text-center
                a.btn.btn-outline-light.mx-auto(href="#", role="button") See All News and Events
