section.section-sign-up
    .container
        .row
            .col-12.text-center.section-sign-up-wrap
                h2.h3.section-sign-up-h Keep up-to-date with the latest news and insights.
                    br.d-lg-none
                    a.btn.btn-outline-light.mt-4.mt-lg-0.ml-lg-4(href="#", role="button") Sign Up Now
