section.section-subpages
    .container
        header.row.section-subpages-header
            .col-md-4.subpages-h-wrap
                h2.subpages-h Uncover opportunity in the new healthcare economy.
            .col-md-8.subpages-intro
                p As healthcare continues to evolve, so must your financial strategies. Whether you need to transform your care delivery models or affirm you’re on the right path, the decision insights we provide are designed to help improve your overall financial strength and increase market share.
                p Experience the HORNE difference firsthand, choose the service that best meets your needs.
        main.row.section-subpages-main
            .col-6.col-md-4.subpages-item
                a.link-block.d-block.subpages-item-inner(href="#", role="button")
                    .subpages-item-icon
                        include ../includes/svg/_icn-dollar-sign-shining-svg.pug
                    .subpages-item-content
                        h3.subpages-item-h Payment Model Reform
                        .subpages-item-text Access a suite of solutions designed to assess performance and provide strategies to help you be successful in value-based reimbursement. 
                        span.btn-arrow.subpages-item-btn Learn More

            .col-6.col-md-4.subpages-item
                a.link-block.d-block.subpages-item-inner(href="#", role="button")
                    .subpages-item-icon
                        include ../includes/svg/_icn-coin-up-arrow-svg.pug
                    .subpages-item-content
                        h3.subpages-item-h Valuation
                        .subpages-item-text Get fair value assessments and relevant market insights to help support and guide your strategic alignment decisions. 
                        span.btn-arrow.subpages-item-btn Learn More

            .col-6.col-md-4.subpages-item
                a.link-block.d-block.subpages-item-inner(href="#", role="button")
                    .subpages-item-icon
                        include ../includes/svg/_icn-hand-holding-money-svg.pug
                    .subpages-item-content
                        h3.subpages-item-h Reimbursement &amp; Advisory
                        .subpages-item-text Understand the impact of new payment models on the reimbursement you receive and what to do today to improve and protect your operating margins.
                        span.btn-arrow.subpages-item-btn Learn More

            .col-6.col-md-4.subpages-item
                a.link-block.d-block.subpages-item-inner(href="#", role="button")
                    .subpages-item-icon
                        include ../includes/svg/_icn-checkbox-svg.pug
                    .subpages-item-content
                        h3.subpages-item-h Financial Integrity &amp; Compliance
                        .subpages-item-text Experienced audit and compliance teams provide assurance of integrity of your data, along with actionable insights on what you can do differently in your strategic initiatives.
                        span.btn-arrow.subpages-item-btn Learn More

            .col-6.col-md-4.subpages-item
                a.link-block.d-block.subpages-item-inner(href="#", role="button")
                    .subpages-item-icon
                        include ../includes/svg/_icn-sneaky-man-svg.pug
                    .subpages-item-content
                        h3.subpages-item-h Fraud &amp; Litigation
                        .subpages-item-text Reduce your exposure and quickly resolve your fraud investigation, forensic analysis, compliance or litigation case with our team of certified professionals. 
                        span.btn-arrow.subpages-item-btn Learn More

            .col-6.col-md-4.subpages-item
                a.link-block.d-block.subpages-item-inner(href="#", role="button")
                    .subpages-item-icon
                        include ../includes/svg/_icn-calculator-svg.pug
                    .subpages-item-content
                        h3.subpages-item-h Real Time Accounting &amp; Tax
                        .subpages-item-text Free up time and valuable resources by letting us manage your accounting and tax operations.
                        span.btn-arrow.subpages-item-btn Learn More

            .col-6.col-md-4.subpages-item
                a.link-block.d-block.subpages-item-inner(href="#", role="button")
                    .subpages-item-icon
                        include ../includes/svg/_icn-padlock-cyber-svg.pug
                    .subpages-item-content
                        h3.subpages-item-h Cybersecurity
                        .subpages-item-text Strengthen your IT infrastructure to protect your data and operations with a full range of cyber resilience services.
                        span.btn-arrow.subpages-item-btn Learn More
