section.section-team
    .container
        .row
            header.col-12.col-lg-3.text-center.text-lg-left.section-team-header
                h2.h3 Proactive thinking grounded in experience.
                p Clients value the responsive, proactive approach our healthcare team provides.
                p.mt-4.d-none.d-lg-block
                    a.btn.btn-outline-primary(href="#", role="button") Meet Our Team
            main.col-12.col-lg-9.section-team-main
                .row.section-team-row
                    .col-md-4.team-item
                        a.link-block.card.card-team(href="#", role="button")
                            img.card-img-top.card-team-img.img-fluid(src=path + "/assets/img/kathywatts-cropped.jpg" alt="Kathy Watts")
                            .card-body.card-team-body
                                p.card-text.card-team-text
                                    | <strong>Kathy Watts</strong><br>
                                    | CPA, CHC<br>
                                    | Partner in Charge
                    .col-md-4.team-item
                        a.link-block.card.card-team(href="#", role="button")
                            img.card-img-top.card-team-img.img-fluid(src=path + "/assets/img/kathywatts-cropped.jpg" alt="Kathy Watts")
                            .card-body.card-team-body
                                p.card-text.card-team-text
                                    | <strong>Kathy Watts</strong><br>
                                    | CPA, CHC<br>
                                    | Partner in Charge
                    .col-md-4.team-item
                        a.link-block.card.card-team(href="#", role="button")
                            img.card-img-top.card-team-img.img-fluid(src=path + "/assets/img/kathywatts-cropped.jpg" alt="Kathy Watts")
                            .card-body.card-team-body
                                p.card-text.card-team-text
                                    | <strong>Kathy Watts</strong><br>
                                    | CPA, CHC<br>
                                    | Partner in Charge
            footer.section-team-footer.w-100.mt-5.text-center.d-lg-none
                a.btn.btn-outline-primary.mx-auto(href="#", role="button") Meet Our Team
