extends ../../layouts/_layout

block vars
    - var bodyClass = "healthcare"

block content

    article.page-content

        include ../../includes/_header-L2-healthcare.pug

        include ../../includes/_page-quote.pug

        include ../../includes/components/_person.pug

        include ../../includes/_page-team.pug

        include ../../includes/components/_hero-video.pug
        
        include ../../includes/_page-section-subpages.pug

        include ../../includes/components/_cta.pug
        
        include ../../includes/_page-resources.pug
        
        include ../../includes/_page-blog-posts.pug
        
        include ../../includes/_page-news-and-events.pug
