div.cta-container.container-fluid.bg-secondary.d-flex.justify-content-center.align-items-center
  div.row.d-flex.justify-content-center.align-items-center
    div.cta-text.col-md-6.text-center.text-md-left.mb-4.mb-md-0
      h3 Just add a .d-none class to parent to hide me
    div.col.text-center
      a(href="#" role="button").btn.btn-outline-light.mx-auto CTA 1 goes here
    div.col.text-center
      a(href="#" role="button").btn.btn-outline-light.mx-auto CTA 2 goes here