.hero-video.header
  .container
    .row
      .col-12.col-lg-6.text-center.text-lg-left.order-1.order-lg-0.mt-4.mt-lg-0
        h1 Our foundation is built on We & Service.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur expedita praesentium, eaque reprehenderit dolorem impedit corporis sequi veritatis nemo optio sit hic molestiae eius iure aperiam dolore! Quo, numquam ea!
        
        p.mt-5.mb-0
          a.btn.btn-outline-light(href="#", role="button") View Healthcare Offerings

      .col-12.col-lg-6.order-0.order-lg-1
        .hero-video-embed
            | <script src="//fast.wistia.com/embed/medias/j38ihh83m5.jsonp" async></script>
            | <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
            | <div class="wistia_embed wistia_async_j38ihh83m5" style="height:320px;width:100%">&nbsp;</div>