.person-container.container-fluid
  .person-inner.container
    .row.d-flex.align-items-start.justify-content-center
      .col-12.col-md-6.col-lg-9.text-center.text-md-left.pt-4.pr-4.order-1.order-md-0
        h3.pb-2 Headline copy would go in this space and would go on two or three lines

        p.pb-4 This space would have room for a small paragraph of copy about the person. It may be just the first part of their bio or some other interesting piece of information. This will only be used on a few pages. We would have copy here. I am just typing now to fill up the space. This is placeholder text.

        a.btn.btn-outline-primary.mx-auto.text-left(href="#", role="button") Meet Our Team
      .col-8.col-md-6.col-lg-3.order-0.order-md-1
        a.link-block.card.card-team(href="#", role="button")
          img.card-img-top.card-team-img.img-fluid(src=path + "/assets/img/kathywatts-cropped.jpg" alt="Kathy Watts")
          .card-body.card-team-body
            p.card-text.card-team-text
              | <strong>Kathy Watts</strong><br>
              | CPA, CHC<br>
              | Partner in Charge
