mixin searchMobile(location)
  if location == 'nav'
    //- Little screen search
    form#navbarSearchMobile.form-inline.form-navbar-search-v2.form-navbar-search-mobile-v2
      img.icn-search-v2(src=path + "/assets/img/icn-search.svg", alt="Search")
      input.form-control.form-control-search-v2(type="search" placeholder="How can we help you?" aria-label="How can we help you?")
      button.btn.btn-outline-primary.my-2.my-sm-0.sr-only(type="submit") Search

mixin searchDesktop(location)
  if location == 'nav'
    //- Big screen search and contact
    form#navbarSearch.form-inline.my-2.my-lg-0.form-navbar-search-v2
      img.icn-search-v2(src=path + "/assets/img/icn-search.svg", alt="Search")
      button#btnSearchClose.btn-search-close.hide-me.btn.btn-link(aria-label="Close search")
        img.icn-search-close(src=path + "/assets/img/icn-x-circle.svg", alt="Close")
      input#navbarSearchInput.form-control.form-control-search-v2.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
      button.btn.btn-outline-primary.my-2.my-sm-0.sr-only(type="submit") Search
    a#navbarContactBtn.btn.btn-primary.btn-navbar-contact-v2(href="#") Contact Us