@using Examine.LuceneEngine.SearchCriteria
@using Examine

@*@using Examine;
@using UmbracoExamine;
@using Examine.LuceneEngine.SearchCriteria;*@


@inherits Umbraco.Web.Macros.PartialViewMacroPage

@helper Pager(int currentPage, double totalPages, string searchTerm) {  
	
	<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    @for(int i = 0; i < totalPages; ++i)
		{
			var displayNextPage = i + 1;
			if(i == (currentPage - 1))
			{
            	<li><a href="#" class="pagelink currentresult">@(i + 1)</a></li>
			}
			else
			{
            	<li><a href="/search?q=@searchTerm&amp;page=@displayNextPage" class="pagelink">@(i + 1)</a></li>
			}
		}
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
	
	
	
}

@helper WordSplit(string content, int wordCount){
var wordSplit = content.Split (' ');
               if (wordSplit.Count() > wordCount)
               { @Html.Raw(String.Join (" ", wordSplit, 0, wordCount) + " <strong>...</strong>"); }
               else { @Html.Raw(content) }
               
	
}

@{
	string searchTerm = Request.QueryString["q"];
	if (String.IsNullOrWhiteSpace(searchTerm))
	{
		searchTerm = "";
	}

	var searcher = ExamineManager.Instance.SearchProviderCollection["HorneSearcher"]; ;

	var searchCriteria = searcher.CreateSearchCriteria();

	var query = searchCriteria.GroupedOr(new[] { "nodeName", "name", "title", "articleBody", "body", "pageBody", "introText", "highlightsText", "summary", "EmployeeSummary", "LeftFooterContent", "CenterFooterContent", "RightFooterContent" }, searchTerm).Compile();

	var searchResults = searcher.Search(query).Where(r => r["__IndexType"] == "content").ToList();
	//var searchResults = (SearchResults)searcher.Search(query).Where(r => r["__IndexType"] == "content");


}

@if (searchResults.Any())
{
	int pageNumber = string.IsNullOrEmpty(Request.QueryString["page"]) ? 1 : int.Parse(Request.QueryString["page"]);
	int pageSize = 8;
	double totalPages = Math.Ceiling((double)searchResults.Count / (double)pageSize);
	
	
	<ul class="search-results-box list-unstyled">
		@foreach (var result in searchResults.Skip((pageNumber < 2 ? 0 : pageNumber - 1) * pageSize).Take(pageSize))
		{
			var node = Umbraco.TypedContent(result.Id);
			if (node == null){
				continue;
			}
			var pathIds = result["__Path"].Split(',');

			var path = Umbraco.TypedContent(pathIds).Where(p => p != null).Select(p => new { p.Name }).ToList();
			var title = result.Fields.ContainsKey("pageHeading") ? result["pageHeading"] : result["nodeName"];
			var photoUrl = (result.Fields.ContainsKey("EmployeeSummary")) ? @Umbraco.Media(node.GetProperty("EmployeePhoto").Value).GetCropUrl(cropAlias: "Team Photo Sidebar") : "";

			<li>
				<section class="results-box">
					@if (result.Fields.ContainsKey("EmployeeSummary")){
            <div class="media">
              <div class="media-left media-middle">
              <a href="@node.Url">
                <img class="media-object" src="@photoUrl" alt="@title">
              </a>
              </div>
              <div class="media-body">
              <strong class="media-heading"><a href="@node.Url">@title</a></strong>
              <br />
              <a href="@node.Url" class="results-url">@node.Url</a>	
              
              <p>@WordSplit(result["EmployeeSummary"],80)</p>
              </div>
            </div>
					}else{
					
					<strong>
					@*<a href="@node.Url">@String.Join(" > ", path.Select(p => p.Name))</a>*@
					<a href="@node.Url">@title</a>
					</strong><br />
					<a href="@node.Url" class="results-url">@node.Url</a>

					if (result.Fields.ContainsKey("title"))
					{
						<p class="results-title"><strong>@result["title"]</strong></p>
					}

					if (result.Fields.ContainsKey("articleBody"))
					{
						<p>@WordSplit(result["articleBody"],30)</p>
					}
					if (result.Fields.ContainsKey("body"))
					{
						<p>@WordSplit(result["body"],30)</p>
					}
					if (result.Fields.ContainsKey("pagebody"))
					{
						<p>@WordSplit(result["pagebody"],30)</p>
					}
					if (result.Fields.ContainsKey("summary"))
					{
						<p>@WordSplit(result["summary"],30)</p>
					}
					@*
					@if (result.Fields.ContainsKey("EmployeeSummary"))
					{
						<p>@WordSplit(result["EmployeeSummary"],30)</p>
					}
					*@

					@* Uncomment this to see all the fields returned in the search
						<p>
							@foreach (var field in result.Fields)
							{
								<text>[<strong>@field.Key</strong>]@field.Value<br/></text>
							}

						</p>*@
					}
				</section>
				<hr />
			</li>
		}
	</ul>
	@Pager(@pageNumber, @totalPages, @searchTerm)
}
else
{
	<p>
		There are no results matching your search criteria:

		@if (!String.IsNullOrWhiteSpace(searchTerm))
		{
			<text>'@searchTerm'</text>
		}
	</p>
}

