/**umb_name:Header 1*/
h1{}

/**umb_name:Header 2*/
h2{}

/**umb_name:Header 3*/
h3{}

/**umb_name:Header 4*/
h4{}

/**umb_name:Unstyled List*/
.list-unstyled{padding-left: 0; list-style: none;}

/**umb_name:Image Float Right*/
.img-inset-right{float: right; margin: 3px 0 6px 14px;}

/**umb_name:Image Float Left*/
.img-inset-left{float: left; margin: 3px 18px 6px 0;}

hr { clear: both; }