@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
	
	string bodyClass = "";
	// TODO: configure for other page names once CSS is ready.
	string pageName = CurrentPage.AncestorOrSelf(2).Name;
	string teamUrl = "";
	switch (pageName)
	{
	    case "Franchise":
	        bodyClass = "franchise";
	        break;
	    case "Government Services":
	        bodyClass = "government";
	        break;
	    case "Public & Middle Market":
	        bodyClass = "public-mid-market";
	        break;
	    case "Construction":
	        bodyClass = "construction";
	        break;
	    case "HORNE Cyber":
	        bodyClass = "cyber";
	        break;
	    case "Healthcare":
	        bodyClass = "healthcare";
	        break;
	    case "Private Wealth":
	        bodyClass = "private-wealth";
	        break;
	    case "Financial Integrity & Compliance":
	        bodyClass = "financial";
	        break;
	    case "HORNE Capital":
	        bodyClass = "capital";
	        break;
	    case "HORNE Puerto Rico":
	        bodyClass = "puerto-rico";
	        break;
	    case "Work Here":
	        bodyClass = "work-here";
	        break;
	    default:
	        bodyClass = ""; // TODO: figure out correct class for default
	        break;
	}
	
    var meta = Model.Content.GetPropertyValue<SEOChecker.MVC.MetaData>("seoChecker");
    var joinTheConversationUrl = (Model.Content.Id == 2320) ? "http://connect.hornellp.com/contact-us": "http://hornellp.com/resources/horne-blogs/";
    var isStaging = Request.Url.Host.ToLower().StartsWith("staging");
    var mainDomain = (isStaging) ? "staging.hornellp.com" : "hornellp.com";
    var wealthDomain = (isStaging) ? "staging.hornewealth.com" : "hornewealth.com";
    var cyberDomain = (isStaging) ? "staging.hornecyber.com" : "hornecyber.com";
}

<!DOCTYPE html>
<html lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@meta.Title</title>
    <meta name="keywords" content="@meta.Keywords" />
    <meta name="description" content="@meta.Description" />
    <link rel="canonical" href="@meta.CanonicalUrl" />
    <meta name="robots" content="@meta.Robots" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.typekit.net/xaj2isa.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/horne.css?v=2018.6.1" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
  @*<script src="/scripts/webfont.js.download" type="text/javascript" async=""></script>*@
  @if (!isStaging)
  {
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-58VR9X');</script>
    <!-- End Google Tag Manager -->

	<!-- Hotjar Tracking Code for www.hornellp.com -->
	<script>
		(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:47008,hjsv:5};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
		})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
  }
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/345447.js"></script>
    <!-- End of HubSpot Embed Code -->
  </head>
  <body class="@bodyClass">
  @if (isStaging){
	<div style="background-color: green; color: #fff; height: 30px; padding: 5px;">
		<i class="fa fa-exclamation-triangle fa-fw"></i>&nbsp;You are on the HORNE Staging Site
	</div>	
  }
  else {
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58VR9X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  }
  <!--=GLOBAL UTILITY NAV-->
  <nav role="navigation" class="navbar navbar-expand-xl navbar-light navbar-static-top navbar_utility">
    <ul class="navbar-nav mr-auto navbar_site-toggle">
      <li class="nav-item nav-itm_brand-horne active"><a class="nav-link" href="/">Horne LLP</a></li>
      <li class="nav-item nav-itm_brand-cyber"><a class="nav-link" href="http://@cyberDomain">Cyber</a></li>
      <li class="nav-item nav-itm_brand-wealth"><a class="nav-link" href="http://@wealthDomain">Wealth</a></li>
      <li class="nav-item nav-itm_brand-federal"><a class="nav-link" href="http://hornefederal.com">Federal</a></li>
    </ul>
    <button type="button" data-toggle="collapse" data-target="#utilityNav" class="navbar-toggler collapsed"><span class="navbar-toggler-icon"></span></button>
    <div id="utilityNav" class="collapse navbar-collapse navbar-collapse_utility justify-content-end">
      <ul class="nav navbar-nav navbar-nav_utility">
        <li class="nav-item nav-itm_join-our-team"><a class="nav-link" href="/join-our-team">Join Our Team</a></li>
        <li class="nav-item nav-itm_news-room"><a class="nav-link" href="/news-room">Newsroom</a></li>
        <li class="nav-item nav-itm_blogs"><a class="nav-link" href="/resources/horne-blogs">Blogs <span class="fa fa-chevron-circle-right fa-brand-red"></span></a></li>
        <li class="nav-item nav-itm_contact-us"><a class="nav-link" href="/about/our-offices">Contact Us <span class="fa fa-chevron-circle-right"></span></a></li>
        <li class="nav-item nav-itm_twitter nav-itm_no-divide"><a class="nav-link" target="_blank" href="https://twitter.com/horne_llp"><span class="fa fa-twitter"></span></a></li>
        <li class="nav-item nav-itm_linkedin nav-itm_no-divide"><a class="nav-link" target="_blank" href="https://www.linkedin.com/company/horne-llp"><span class="fa fa-linkedin"></span></a></li>
        <li class="nav-item nav-itm_linkedin nav-itm_no-divide"><a class="nav-link" target="_blank" href="https://www.facebook.com/HORNELLP"><span class="fa fa-facebook-square"></span></a></li>
        <li class="nav-item nav-itm_linkedin nav-itm_no-divide"><a class="nav-link" target="_blank" href="https://www.instagram.com/hornellp"><span class="fa fa-instagram"></span></a></li>
        <li class="nav-item nav-itm_linkedin nav-itm_no-divide"><a class="nav-link" target="_blank" href="https://plus.google.com/104641593324473533369"><span class="fa fa-google-plus"></span></a></li>
        <li class="nav-item nav-itm_linkedin nav-itm_no-divide"><a class="nav-link" target="_blank" href="http://www.youtube.com/user/HORNECPA?ob=5"><span class="fa fa-youtube"></span></a></li>
        <li class="nav-item nav-itm_client-login nav-itm_bold"><a class="nav-link" href="https://clients.horne-llp.com">Client Login <span class="fa fa-chevron-circle-right"></span></a></li>
      </ul>
      <form role="search" action="/search" method="get" class="form-inline navbar-form_search clearfix">
        <div class="form-group">
          <input type="text" name="q" placeholder="Search" class="form-control">
        </div>
        <button type="submit" class="btn btn-default btn-sm"><span class="fa fa-search"></span></button>
      </form>
    </div>
  </nav>

  <!-- main navigation -->
  @*@Html.CachedPartial("MainTempNavigation2018",Model.Content,3600)*@
  @Html.Partial("MainTempNavigation2018",Model.Content)
  <!-- end main navigation -->
  
    @*<header class="site-header" role="banner">
      <nav class="site-header navbar navbar-expand-lg navbar-light bg-white" role="navigation">
        <div class="container-fluid"><a class="navbar-brand" href="/"><img class="site-logo" src="/assets/img/logo-horne-web-v2.svg"></a></div>
      </nav>
    </header>*@
    
    @* begin do not modify *@
    @RenderSection("Body", false)
    @* end do not modify *@
    
    @*<footer class="site-footer" role="contentinfo"></footer>*@
    
  <!--=SITE FOOTER-->
  <footer class="site-footer">
    <div class="container-fluid container_footer-info">
      <div class="row">
        <div class="col-sm-4 col-lg-6">
          <h3 class="regular h4">About HORNE:</h3>
          <p>Clients turn to HORNE for the foresight, straight talk, and collaboration needed to navigate the challenges of growth, regulatory compliance and risk mitigation. HORNE is a decidedly different CPA and advisory firm who goes beyond traditional accounting services, steering clients through the uncertainties and opportunities ahead.</p>
          <div class="social-icons prepend-top">
            <ul class="list-inline">
              <li class="list-inline-item"><a target="_blank" href="http://twitter.com/HORNE_LLP"><i class="fa fa-twitter fa_square-wrap"></i></a></li>
              <li class="list-inline-item"><a target="_blank" href="https://www.linkedin.com/company/horne-llp"><i class="fa fa-linkedin fa_square-wrap"></i></a></li>
              <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/HORNELLP"><i class="fa fa-facebook fa_square-wrap"></i></a></li>
			    <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/hornellp"><i class="fa fa-instagram fa_square-wrap"></i></a></li>	  
              <li class="list-inline-item"><a target="_blank" href="https://plus.google.com/104641593324473533369"><i class="fa fa-google-plus fa_square-wrap"></i></a></li>
              <li class="list-inline-item"><a target="_blank" href="http://www.youtube.com/user/HORNECPA?ob=5"><i class="fa fa-youtube fa_square-wrap"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 mb-4 mb-sm-0">
          <div class="row">
            <div class="col-sm-12 col-lg-6 offset-lg-6">
              <ul class="nav nav-stacked nav-stacked_rules nav-stacked_footer two darker">
                <li><a href="/about">About</a></li>
                <li><a href="/about/people">Our People</a></li>
                <li><a href="/about/locations">Our Offices</a></li>
                <li><a href="/join-our-team">Join Our Team</a></li>
                <li><a href="/our-culture/wise-firm-culture">Wise Firm&copy;</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-lg-2">
			@if (CurrentPage.Id != 3591)
			{
	          <div class="hubspot-signup append-btm clearfix">
	            <h4 class="regular h5">Subscribe to beBetter<sup>&copy;</sup></h4>
	            <script charset="utf-8" src="//js.hsforms.net/forms/current.js"></script>
	            <script>
	              hbspt.forms.create({
	                portalId: '345447',
	                formId: '3a0d609d-6a9a-4f51-b939-d0d078279b89',
	                css: '.form-columns-2 {display:none;} label {display:none;} .hs-button {background-color:#545759;border-color:#545759;color:#ffffff;border:0px;margin-right:16px;margin-top:7px;} .hs-button:hover {background-color:#3b3d3f;border-color:#36383a;} .inputs-list {display:none;}'
	              });
	            </script>
	          </div>
			}
          <div class="footer-contact mt-3">
            <h4 class="h5 regular">Contact Us</h4>
            <ul class="list-unstyled">
              <li class="h4 font-weight-bold regular no-margin">601-326-1000</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid container_footer-copyright">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline list-inline_separate">
            <li class="list-inline-item">&copy; @DateTime.Now.Year HORNE LLP</li>
            <li class="list-inline-item"><a href="/privacy-policy" class="plain">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="/legal-disclaimer" class="plain">Legal Disclaimer</a></li>
            <li class="list-inline-item"><a href="/sitemap" class="plain">Sitemap</a></li>
            <li class="list-inline-item"><a rel="nofollow" href="https://csg.horne-llp.com/Citrix/XenApp/clientDetection/downloadNative.aspx" target="_blank" class="plain">Team Member Login</a></li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="list-inline text-right footer-badges">
			@*<li><img alt="McGladrey Alliance" src="/media/1561/mga_ver_color_rgb.png"></li>*@
			<li class="list-inline-item"><img alt="Great Place to Work" src="/media/1992/gptw-2016.png"></li>
			<li class="list-inline-item"><img alt="McGladrey Alliance" src="/media/1967/rsm-alliance-logo.png"></li>
			<li class="list-inline-item"><img alt="IPA TOP 100" src="/media/2153/top-100-ipa-2017-web.png"></li>
			<li class="list-inline-item"><img alt="AT TOP 100" src="/media/2342/act_top100_2018.png"</li>
			@*<li><img alt="AT TOP 100" src="/media/1900/act_top100_2016_regional.png"></li> *@
            @*<li><img alt="AT REGIONAL LEADERS" src="/media/1189/logo-at-regional-leaders-2014.png"></li>*@
			  
          </ul>
        </div>
      </div>
    </div>
  </footer>    
  
  <script src="/assets/js/horne.js"></script>
</body></html>
