@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
	
  // Look at what site we're on
  var horneCapitalHomeId = 9256;
  var hornePuertoRicoHomeId = 9259;
  var homeNodeId = CurrentPage.AncestorOrSelf(1).Id;

  // Set some stuff
  var horneLogoPath = "/assets/img/logo-horne-web-v2.svg";
  var horneCapitalLogoPath = "/assets/img/logo-horne-capital.svg";
  var logoPath = horneLogoPath;

  // Show/hide some stuff
  var showSearch = true;
  var fullFooter = true;

  // Mini/external site conditionals
  var isHorneCapital = false;
  var isHornePuertoRico = false;

  // Is this Horne Capital?
  @*if (homeNodeId == horneCapitalHomeId)*@
  if (Request.Url.Host.ToLower().Contains("hornecapital.com"))
  {
    showSearch = false;
    fullFooter = false;
    isHorneCapital = true;
    logoPath = horneCapitalLogoPath;
  }

  // Helper classes to vary layout
  var footerClasses = "footer-standard";
  if (!fullFooter)
  {
    footerClasses = "footer-slim";
  }

  // Get the correct menu node
  @*var thisMenuId = Umbraco.Content(homeNodeId).siteNavigationID;*@
  @*var thisMenuId = CurrentPage.siteNavigationNode;*@
  var thisMenuId = Umbraco.Content(homeNodeId).siteNavigationNode;

	// TODO: configure for other page names once CSS is ready.
	string pageName = CurrentPage.AncestorOrSelf(2).Name;
	string bodyClass = "";
	string teamUrl = "";

  // Apply a class to the body to help show correct colors and images
	switch (pageName)
	{
    case "Franchise":
      bodyClass = "franchise";
      break;
    case "Government Services":
      bodyClass = "government";
      break;
    case "Public & Middle Market":
      bodyClass = "public-mid-market";
      break;
    case "Construction":
      bodyClass = "construction";
      break;
    case "HORNE Cyber":
      bodyClass = "cyber";
      break;
    case "Healthcare":
      bodyClass = "healthcare";
      break;
    case "Private Wealth":
      bodyClass = "private-wealth";
      break;
    case "Financial Integrity & Compliance":
      bodyClass = "financial";
      break;
    case "HORNE Capital":
      bodyClass = "capital";
      break;
    case "HORNE Puerto Rico":
      bodyClass = "puerto-rico";
      break;
    case "Work Here":
      bodyClass = "work-here";
      break;
    default:
      bodyClass = ""; // TODO: figure out correct class for default
      break;
	}

  // Override bodyClass for mini/external sites
  if (isHorneCapital) {
    bodyClass = "capital";
  }
  if (isHornePuertoRico) {
    bodyClass = "puerto-rico";
  }
	
  var meta = Model.Content.GetPropertyValue<SEOChecker.MVC.MetaData>("seoChecker");
  var joinTheConversationUrl = (Model.Content.Id == 2320) ? "http://connect.hornellp.com/contact-us": "http://hornellp.com/resources/horne-blogs/";
  var isStaging = Request.Url.Host.ToLower().StartsWith("staging");
  var mainDomain = (isStaging) ? "staging.hornellp.com" : "hornellp.com";
  var wealthDomain = (isStaging) ? "staging.hornewealth.com" : "hornewealth.com";
  var cyberDomain = (isStaging) ? "staging.hornecyber.com" : "hornecyber.com";
}

<!DOCTYPE html>
<html lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@meta.Title</title>
    <meta name="keywords" content="@meta.Keywords" />
    <meta name="description" content="@meta.Description" />
    <link rel="canonical" href="@meta.CanonicalUrl" />
    <meta name="robots" content="@meta.Robots" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.typekit.net/xaj2isa.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/horne.css?v=2018.1.74" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
  @*<script src="/scripts/webfont.js.download" type="text/javascript" async=""></script>*@
  @if (!isStaging)
  {
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-58VR9X');</script>
    <!-- End Google Tag Manager -->

	<!-- Hotjar Tracking Code for www.hornellp.com -->
	<script>
		(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:47008,hjsv:5};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
		})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
  }
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/345447.js"></script>
    <!-- End of HubSpot Embed Code -->
  </head>
  <body class="@bodyClass master-2018-v2" data-homepage="@homeNodeId">
  @if (isStaging){
	<div style="background-color: green; color: #fff; height: 30px; padding: 5px;">
		<i class="fa fa-exclamation-triangle fa-fw"></i>&nbsp;You are on the HORNE Staging Site
	</div>	
  }
  else {
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-58VR9X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  }

  <!--=BRAND HEADER NAV-->
  <header class="site-header-v2" id="siteHeaderV2" role="banner">
    <nav class="site-header-navbar-v2 navbar navbar-expand-xl navbar-light bg-white" role="navigation">
      <div class="container-fluid">

        <a class="navbar-brand mr-lg-5" href="/"><img class="site-logo-v2" src="@logoPath" alt="HORNE LLP | CPAs &amp;amp; Business Advisors"></a>
      
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarMainContent" aria-controls="navbarMainContent" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggler-icon"></span><span class="navbar-close-icon"></span></button>
          
        <div class="collapse navbar-collapse navbar-main-content-v2" id="navbarMainContent">

          @if (showSearch)
          {
            <form class="form-inline form-navbar-search-v2 form-navbar-search-mobile-v2" id="navbarSearchMobile">
              <svg class="icn-search-v2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z"/></svg>
              <input class="form-control form-control-search-v2" type="search" placeholder="How can we help you?" aria-label="How can we help you?">
              <button class="btn btn-outline-primary my-2 my-sm-0 sr-only" type="submit">Search</button>
            </form>
          }

          @Html.Partial("MainNavigation2018", Model.Content, new ViewDataDictionary {{"rootMenuId", @thisMenuId}})
          
          <a class="btn btn-primary btn-navbar-contact-mobile-v2" id="navbarContactMobileBtn" href="https://connect.hornellp.com/horne-capital-strategies-contact">Contact Us</a>
        
        </div>

        @if (showSearch)
        {
          <form class="form-inline my-2 my-lg-0 form-navbar-search-v2" id="navbarSearch">
            <svg class="icn-search-v2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z"/></svg>
            <input class="form-control form-control-search-v2 mr-sm-2" id="navbarSearchInput" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0 sr-only" type="submit">Search</button>
          </form>
        }
        
        <a class="btn btn-primary btn-navbar-contact-v2" id="navbarContactBtn" href="https://connect.hornellp.com/horne-capital-strategies-contact">Contact Us</a>
      
      </div>
    </nav>
  </header>

  @* begin do not modify *@
  @RenderSection("Body", false)
  @* end do not modify *@
    
  <!--=SITE FOOTER-->
  <footer class="site-footer-v2 @footerClasses" role="contentinfo">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-5 col-lg-6 mb-2 mb-md-0">

            @if (fullFooter)
            {
              <form class="footer-search-form-v2 form-inline" id="footerSearch" action="/search" method="get"><img class="icn-search-v2" src="/assets/img/icn-search.svg" alt="Search">
                <button class="btn-search-close hide-me btn btn-link d-none d-md-inline" id="footerBtnSearchClose" aria-label="Close search"><img class="icn-search-close" src="/assets/img/icn-x-circle.svg" alt="Close"></button>
                <input class="footer-search-input form-control" id="footerSearchInput" type="search" placeholder="How can we help you?" aria-label="How can we help you?">
                <button class="btn btn-outline-primary my-2 my-sm-0 sr-only" type="submit">Search</button>
              </form>
            }

            <div class="contact-info">
              <div>
                <h3>Contact Us</h3>
                <p class="footer-phone-number"><img class="icn-18px mr-2" src="/assets/img/icn-phone.svg" alt="Call"><a class="align-middle" href="tel:+1-601-326-1000">601-326-1000</a></p>
              </div>
            </div>
          </div>

          @if (fullFooter)
          {
            <div class="col-md-3 col-lg-3 mb-2 mb-md-0">
              <nav>
                <h3>Client Tools</h3>
                <ul class="list-unstyled">
                  <li><a href="https://clients.horne-llp.com" target="_blank">Client Login</a></li>
                  <li><a href="#">Bill Pay</a></li>
                  <li><a href="#">Tax Returns</a></li>
                  <li><a href="#">Franchise Forward</a></li>
                </ul>
              </nav>
            </div>

            <div class="col-md-4 col-lg-3">
              <h3>Join the Conversation</h3>
              <ul class="footer-social-links list-unstyled d-flex flex-column flex-wrap">
                <li><img class="icn-18px mr-2" src="/assets/img/icn-twitter-circle.svg" alt="Twitter"><a class="align-middle" href="http://twitter.com/HORNE_LLP" target="_blank">Twitter</a></li>
                <li><img class="icn-18px mr-2" src="/assets/img/icn-facebook-circle.svg" alt="Facebook"><a class="align-middle" href="https://www.facebook.com/HORNELLP" target="_blank">Facebook</a></li>
                <li><img class="icn-18px mr-2" src="/assets/img/icn-instagram-circle.svg" alt="Instagram"><a class="align-middle" href="https://www.instagram.com/hornellp" target="_blank">Instagram</a></li>
                <li><img class="icn-18px mr-2" src="/assets/img/icn-linkedin-circle.svg" alt="LinkedIn"><a class="align-middle" href="https://www.linkedin.com/company/horne-llp" target="_blank">LinkedIn</a></li>
                <li><img class="icn-18px mr-2" src="/assets/img/icn-googleplus-circle.svg" alt="Google Plus"><a class="align-middle" href="https://plus.google.com/104641593324473533369" target="_blank">Google+</a></li>
                <li><img class="icn-18px mr-2" src="/assets/img/icn-youtube-circle.svg" alt="YouTube"><a class="align-middle" href="http://www.youtube.com/user/HORNECPA?ob=5" target="_blank">YouTube</a></li>
              </ul>
            </div>
          }

        </div>
      </div>
    </footer>

    <div class="footer-nav @footerClasses container">
      <div class="row flex-column justify-content-around align-items-center flex-md-row justify-content-md-start align-items-md-start">
        <div class="col-md-2"><a href="/"><img class="logo" src="@logoPath" alt="HORNE LLP | CPAs &amp;amp; Business Advisors"></a></div>
        <div class="col-md-4 pl-md-4 text-center text-md-left">
          <nav class="mb-2 mb-md-0">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mb-2 mb-md-0"><a class="footer-nav-link" href="/privacy-policy">Privacy Policy</a></li>
              <li class="list-inline-item mb-2 mb-md-0"><a class="footer-nav-link" href="/legal-disclaimer">Legal Disclaimer</a></li>
              
              @if (fullFooter)
              {
                <li class="list-inline-item mb-2 mb-md-0"><a class="footer-nav-link" href="/sitemap">Sitemap</a></li>
                <li class="list-inline-item mb-2 mb-md-0"><a class="footer-nav-link" href="https://csg.horne-llp.com/Citrix/XenApp/clientDetection/downloadNative.aspx" target="_blank">Team Member Login</a></li>
              }
           
            </ul>
          </nav>
          <p class="footer-copyright">&copy; @DateTime.Now.Year Horne LLP</p>
        </div>
        @if (isHorneCapital)
        {
          <div class="col-md-6">
            <p class="disclaimer disclaimer-horne-capital small">*Investment, wealth advisory and insurance services are separately provided through HORNE Wealth Advisors, LLC, a SEC-registered investment advisor and a wholly owned subsidiary of HORNE LLP.</p>
          </div>
        }
      </div>
    </div>   
  
  <script src="/assets/js/horne.js?v=2018.1.11"></script>
</body></html>
