@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_WebsiteLayout2018_v2.cshtml";
}

@section Body{

    <main class="site-main L2-page-v2" role="main">
      <article class="page-content">
        @{
            var blades = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("blades");
              foreach (var blade in blades)
              {
                  switch (blade.ContentType.Alias)
                  {
                      case "introBlade":
                          Html.RenderPartial("BladeIntro", blade);
                          break;
                      case "videoHeroBlade":
                          Html.RenderPartial("BladeVideoHero", blade);
                          break;
                      case "quoteBlade":
                          Html.RenderPartial("BladeQuote", blade);
                          break;
                      case "teamBlade":
                          Html.RenderPartial("BladeTeam", blade);
                          break;
                      case "teamBladeExternal":
                          Html.RenderPartial("BladeTeamExternal", blade);
                          break;
                      case "servicesBlade":
                          Html.RenderPartial("BladeServices", blade);
                          break;
                      case "customLinksBlade":
                          Html.RenderPartial("BladeCustomLinks", blade);
                          break;
                      case "resourcesBlade":
                          Html.RenderPartial("BladeResources", blade);
                          break;
                      case "blogBlade":
                          Html.RenderPartial("BladeBlog", blade);
                          break;
                      case "signupBlade":
                          Html.RenderPartial("BladeSignup", blade);
                          break;
                      case "callToActionBlade":
                          Html.RenderPartial("BladeCallToAction", blade);
                          break;
                      case "eventsBlade":
                          Html.RenderPartial("BladeEvents", blade);
                          break;
                      case "l3IntroBlade":
                        Html.RenderPartial("BladeL3Intro", blade);
                        break;
                      case "l3ContentBlade":
                          Html.RenderPartial("BladeL3Content", blade);
                          break;
                      default:
                          break;
                  }
              }
        }     
      </article>
    </main>
}
