@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_WebsiteLayout2018_v2.cshtml";
    string icon = CurrentPage.GetPropertyValue<string>("icon");
}

@section Body{

    <main class="site-main L3-page-v2" role="main">
      <article class="page-content">
        <header class="section-L3-header">
          <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="col-12">

                  @Html.Partial("IconSwitcher", Model, new ViewDataDictionary {{"IconLabel", @icon}})
                
                  <h1 class="L3-header-h">@CurrentPage.Name</h1>
                  <h2 class="L3-header-sub-h">@CurrentPage.Parent.Name</h2>
                </div>
              </div>
            </div>
          </div>
        </header>          
        @{
        	var blades = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("blades");
            foreach (var blade in blades)
            {
                switch (blade.ContentType.Alias)
                {
                    case "introBlade":
                        Html.RenderPartial("BladeIntro", blade);
                        break;
                    case "videoHeroBlade":
                        Html.RenderPartial("BladeVideoHero", blade);
                        break;
                    case "quoteBlade":
                        Html.RenderPartial("BladeQuote", blade);
                        break;
                    case "teamBlade":
                        Html.RenderPartial("BladeTeam", blade);
                        break;
                    case "teamBladeExternal":
                        Html.RenderPartial("BladeTeamExternal", blade);
                        break;
                    case "servicesBlade":
                        Html.RenderPartial("BladeServices", blade);
                        break;
                    case "customLinksBlade":
                        Html.RenderPartial("BladeCustomLinks", blade);
                        break;
                    case "resourcesBlade":
                        Html.RenderPartial("BladeResources", blade);
                        break;
                    case "blogBlade":
                        Html.RenderPartial("BladeBlog", blade);
                        break;
                    case "signupBlade":
                        Html.RenderPartial("BladeSignup", blade);
                        break;
                    case "callToActionBlade":
                        Html.RenderPartial("BladeCallToAction", blade);
                        break;
                    case "eventsBlade":
                        Html.RenderPartial("BladeEvents", blade);
                        break;
                    case "l3IntroBlade":
                        Html.RenderPartial("BladeL3Intro", blade);
                        break;
                    case "l3ContentBlade":
                        Html.RenderPartial("BladeL3Content", blade);
                        break;
                    default:
                        break;
                }
            }
        }      
      </article>
    </main>
}
