@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_WebsiteLayout2018.cshtml";
    string icon = CurrentPage.GetPropertyValue<string>("icon");
}

@section Body{

    <main class="site-main" role="main">
      <article class="page-content">
        <header class="section-L3-header">
          <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="col-12">

                @switch (icon)
                {
                    case "joined hands":
                        <svg class="icn-svg icn-joined-hands" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12.82 12.82"><defs><style>.cls-1,.cls-4{fill:none;}.cls-2{fill:#aa1e2e;}.cls-3{clip-path:url(#clip-path);}.cls-4{stroke:#2c2c43;stroke-miterlimit:10;stroke-width:0.4px;}</style><clipPath id="clip-path" transform="translate(-0.43)"><rect class="cls-1" y="0.18" width="13.68" height="12.46"/></clipPath></defs><title>icn-joined-hands</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-2" x="5.41" y="8.21" width="2.6" height="3.61"/><rect class="cls-2" x="4.81" y="1" width="2.6" height="3.61"/><g class="cls-3"><path class="cls-4" d="M2.23,1.6V.8A.39.39,0,0,1,2.35.52.39.39,0,0,1,2.63.4a.4.4,0,0,1,.29.12A.43.43,0,0,1,3,.8v.8" transform="translate(-0.43)"/><path class="cls-4" d="M3,1.6V.6A.39.39,0,0,1,3.15.32.39.39,0,0,1,3.43.2a.4.4,0,0,1,.29.12A.38.38,0,0,1,3.83.6v1" transform="translate(-0.43)"/><path class="cls-4" d="M3.84,1.6V.8A.38.38,0,0,1,4,.52.4.4,0,0,1,4.24.4a.39.39,0,0,1,.28.12A.39.39,0,0,1,4.64.8V2.2" transform="translate(-0.43)"/><path class="cls-4" d="M2.23,1.6V1A.43.43,0,0,0,2.12.72.42.42,0,0,0,1.83.6a.41.41,0,0,0-.4.4V3.81l.4,1.6H4.64v-.6l.8-1.4V2.2A.41.41,0,0,0,5,1.8a.4.4,0,0,0-.29.12.43.43,0,0,0-.11.28V3" transform="translate(-0.43)"/></g><polyline class="cls-4" points="4.61 7.81 4.61 5.41 1 5.41 1 8.01"/><line class="cls-4" x1="3.81" y1="6.01" x2="3.81" y2="6.41"/><g class="cls-3"><line class="cls-4" x1="1" y1="11.82" x2="1" y2="12.82"/><line class="cls-4" x1="4.61" y1="12.82" x2="4.61" y2="11.62"/><path class="cls-4" d="M11.65,1.8h.8a.41.41,0,0,1,.4.4.4.4,0,0,1-.12.29.38.38,0,0,1-.28.11h-.8" transform="translate(-0.43)"/><path class="cls-4" d="M11.65,2.6h1a.39.39,0,0,1,.28.12.4.4,0,0,1,.12.29.41.41,0,0,1-.4.4h-1" transform="translate(-0.43)"/><path class="cls-4" d="M11.65,3.41h.8a.38.38,0,0,1,.28.11.4.4,0,0,1,.12.29.41.41,0,0,1-.4.4h-1.4" transform="translate(-0.43)"/><path class="cls-4" d="M11.65,1.8h.6a.43.43,0,0,0,.28-.11.4.4,0,0,0,.12-.29.41.41,0,0,0-.4-.4H9.44l-1.6.4V4.21h.6l1.4.8h1.21a.41.41,0,0,0,.4-.4.42.42,0,0,0-.12-.29.43.43,0,0,0-.28-.11h-.8" transform="translate(-0.43)"/></g><polyline class="cls-4" points="5.01 4.61 7.41 4.61 7.41 1 4.81 1"/><line class="cls-4" x1="6.81" y1="3.81" x2="6.41" y2="3.81"/><g class="cls-3"><line class="cls-4" x1="1" y1="1" y2="1"/><line class="cls-4" y1="4.61" x2="1.2" y2="4.61"/><path class="cls-4" d="M11.45,11.22V12a.41.41,0,0,1-.4.4.4.4,0,0,1-.29-.12.43.43,0,0,1-.11-.28v-.8" transform="translate(-0.43)"/><path class="cls-4" d="M10.65,11.22v1a.38.38,0,0,1-.12.28.39.39,0,0,1-.28.12A.4.4,0,0,1,10,12.5a.37.37,0,0,1-.11-.28v-1" transform="translate(-0.43)"/><path class="cls-4" d="M9.84,11.22V12a.38.38,0,0,1-.11.28.4.4,0,0,1-.29.12A.41.41,0,0,1,9,12v-1.4" transform="translate(-0.43)"/><path class="cls-4" d="M11.45,11.22v.6a.43.43,0,0,0,.11.28.42.42,0,0,0,.29.12.41.41,0,0,0,.4-.4V9l-.4-1.6H9V8l-.8,1.41v1.2a.41.41,0,0,0,.4.4.4.4,0,0,0,.29-.12A.43.43,0,0,0,9,10.62v-.8" transform="translate(-0.43)"/></g><polyline class="cls-4" points="8.21 5.01 8.21 7.41 11.82 7.41 11.82 4.81"/><line class="cls-4" x1="9.01" y1="6.41" x2="9.01" y2="6.81"/><line class="cls-4" x1="11.82" y1="1" x2="11.82"/><line class="cls-4" x1="8.21" x2="8.21" y2="1.2"/><path class="cls-4" d="M2,11h-.8a.41.41,0,0,1-.4-.4A.42.42,0,0,1,1,10.33a.43.43,0,0,1,.28-.11H2" transform="translate(-0.43)"/><path class="cls-4" d="M2,10.22H1a.41.41,0,0,1-.4-.4.4.4,0,0,1,.12-.29A.38.38,0,0,1,1,9.42H2" transform="translate(-0.43)"/><path class="cls-4" d="M2,9.42h-.8A.41.41,0,0,1,.83,9,.4.4,0,0,1,1,8.73a.39.39,0,0,1,.28-.12h1.4" transform="translate(-0.43)"/><path class="cls-4" d="M2,11h-.6a.39.39,0,0,0-.28.12.38.38,0,0,0-.12.28.41.41,0,0,0,.4.4H4.24l1.6-.4V8.61h-.6l-1.4-.8H2.63a.41.41,0,0,0-.4.4.4.4,0,0,0,.12.29.38.38,0,0,0,.28.11h.8" transform="translate(-0.43)"/><polyline class="cls-4" points="7.81 8.21 5.41 8.21 5.41 11.82 8.01 11.82"/><line class="cls-4" x1="6.41" y1="9.01" x2="6.01" y2="9.01"/><line class="cls-4" x1="11.82" y1="11.82" x2="12.82" y2="11.82"/><line class="cls-4" x1="12.82" y1="8.21" x2="11.62" y2="8.21"/></g></g></svg>
                        break;
                    case "building blocks":
                        <svg class="icn-svg icn-building-blocks" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.58 10.64"><defs><style>.cls-1{fill:#aa1e2e;}.cls-2{fill:none;stroke:#2c2c42;stroke-miterlimit:10;stroke-width:0.18px;}.cls-3{fill:#2c2c42;}</style></defs><title>icn-building-blocks</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M.09,10.55V8.63h1.6a.76.76,0,0,1,1.16,0H6.22a.76.76,0,0,1,1.16,0h3.38a.76.76,0,0,1,1.16,0h1.56v1.92H11.92"/><path class="cls-2" d="M.09,10.55V8.63h1.6a.76.76,0,0,1,1.16,0H6.22a.76.76,0,0,1,1.16,0h3.38a.76.76,0,0,1,1.16,0h1.56v1.92H11.92"/><path class="cls-1" d="M2.27,8.36a.75.75,0,0,0-.58.27H.09v1.92H13.48V8.63H11.92a.76.76,0,0,0-1.16,0H7.38a.76.76,0,0,0-1.16,0H2.85a.75.75,0,0,0-.58-.27"/><path class="cls-2" d="M2.27,8.36a.75.75,0,0,0-.58.27H.09v1.92H13.48V8.63H11.92a.76.76,0,0,0-1.16,0H7.38a.76.76,0,0,0-1.16,0H2.85a.75.75,0,0,0-.58-.27"/><path class="cls-3" d="M11.35,3.68a.54.54,0,0,0-.43.2L10.86,4H9.36V5h1.27a1.17,1.17,0,0,1,.72-.25,1.14,1.14,0,0,1,.72.25h1.24V4H11.84l-.05-.07a.57.57,0,0,0-.44-.2m0-.19a.78.78,0,0,1,.58.27h1.56v1.4H12a1,1,0,0,0-.65-.26,1,1,0,0,0-.65.26H9.17V3.76h1.6a.78.78,0,0,1,.58-.27"/><path class="cls-3" d="M11.35,6.92a.57.57,0,0,0-.44.2l-.06.07H9.35v1h1.28A1.14,1.14,0,0,1,11.35,8a1.1,1.1,0,0,1,.72.26H13.3v-1H11.84l-.06-.07,0,0h0L11.68,7h0L11.6,7h0l-.1,0h-.1m0-.19h.13l.14,0,0,0,0,0,.07,0,0,0,.09.06h0l.05.06h1.57V8.4H12a.94.94,0,0,0-.65-.25,1,1,0,0,0-.65.25H9.17V7h1.6a.74.74,0,0,1,.58-.28"/><path class="cls-3" d="M11.35,5.3a.57.57,0,0,0-.44.2l-.06.07H9.35v1h1.27a1.14,1.14,0,0,1,1.45,0H13.3v-1H11.84l-.06-.07a.57.57,0,0,0-.43-.2m0-.18a.71.71,0,0,1,.57.27h1.57V6.78H12a1,1,0,0,0-1.31,0H9.17V5.39h1.6a.73.73,0,0,1,.58-.27"/><path class="cls-3" d="M6.81,3.67a.58.58,0,0,0-.44.21l0,.06H4.81V5H6.09a1.1,1.1,0,0,1,.72-.26A1.12,1.12,0,0,1,7.53,5H8.77v-1H7.3l0-.06a.58.58,0,0,0-.44-.21m0-.18a.75.75,0,0,1,.58.27H9V5.15H7.46a1,1,0,0,0-.65-.25.94.94,0,0,0-.65.25H4.63V3.76h1.6a.75.75,0,0,1,.58-.27"/><path class="cls-3" d="M6.8,6.91a.55.55,0,0,0-.43.21l-.06.06H4.81v1H6.09a1.16,1.16,0,0,1,1.44,0H8.76v-1H7.29l0-.06,0,0h0L7.13,7h0L7.06,7H7l-.1,0H6.8m0-.18h.14l.13,0h0l0,0,.08.05h0l.08.07h0l0,.06H8.94V8.4H7.46a.94.94,0,0,0-.65-.26.92.92,0,0,0-.65.26H4.62V7h1.6a.75.75,0,0,1,.58-.27"/><path class="cls-3" d="M6.8,5.29a.55.55,0,0,0-.43.21l-.06.07H4.81v1H6.08a1.17,1.17,0,0,1,.72-.25,1.14,1.14,0,0,1,.72.25H8.76v-1H7.29l0-.07a.58.58,0,0,0-.44-.21m0-.18a.78.78,0,0,1,.58.27H8.94v1.4H7.45a.91.91,0,0,0-.65-.26.94.94,0,0,0-.65.26H4.62V5.38h1.6a.78.78,0,0,1,.58-.27"/><path class="cls-3" d="M2.28,3.67a.55.55,0,0,0-.43.21l-.06.06H.29V5H1.56a1.12,1.12,0,0,1,.72-.26A1.1,1.1,0,0,1,3,5H4.24v-1H2.77l0-.06a.58.58,0,0,0-.44-.21m0-.18a.75.75,0,0,1,.58.27H4.42V5.15H2.93a.94.94,0,0,0-.65-.25,1,1,0,0,0-.65.25H.1V3.76H1.7a.75.75,0,0,1,.58-.27"/><path class="cls-3" d="M2.28,6.91a.58.58,0,0,0-.44.21l-.06.06H.28v1H1.56A1.19,1.19,0,0,1,2.28,8,1.14,1.14,0,0,1,3,8.21H4.23v-1H2.77l-.06-.06,0,0h0L2.61,7h0L2.53,7h0l-.1,0h-.1m0-.18h.13l.14,0h0l0,0,.07.05h0l.09.07h0L2.85,7H4.42V8.4H2.93a.91.91,0,0,0-.65-.26.94.94,0,0,0-.65.26H.1V7H1.7a.73.73,0,0,1,.58-.27"/><path class="cls-3" d="M2.28,5.29a.58.58,0,0,0-.44.21l-.06.07H.28v1H1.55A1.18,1.18,0,0,1,3,6.59H4.23v-1H2.77L2.71,5.5a.58.58,0,0,0-.43-.21m0-.18a.74.74,0,0,1,.57.27H4.42v1.4H2.93a1,1,0,0,0-1.31,0H.1V5.38H1.7a.76.76,0,0,1,.58-.27"/><path class="cls-3" d="M7.53,2.34a1.14,1.14,0,0,1-.44.22v.56a1.07,1.07,0,0,1,.45.23h3v-1h-3m-.07-.19h3.22V3.54H7.47a1,1,0,0,0-.56-.27V2.41a1,1,0,0,0,.55-.26"/><path class="cls-3" d="M3.11,2.34v1H6.06a1.11,1.11,0,0,1,.46-.23V2.56a1.18,1.18,0,0,1-.45-.22h-3m-.18-.19H6.14a.91.91,0,0,0,.56.26v.86a1,1,0,0,0-.57.27H2.93Z"/><path class="cls-3" d="M4.81.18V1.73H6.32l0,.07a.57.57,0,0,0,.88,0l0-.07H8.77V.18h-4M4.63,0H9V1.92H7.39a.76.76,0,0,1-1.16,0H4.63Z"/></g></g></svg>
                        break;
                    case "group of people":
                        <svg class="icn-svg icn-group-of-people" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.15 11.78"><defs><style>.cls-1{fill:#aa1e2e;}.cls-2{fill:none;stroke:#2c2c43;stroke-miterlimit:10;stroke-width:0.32px;}</style></defs><title>icn-group-of-people</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M6.07,6.29c.79,0,2.33.43,2.33,1.26V10.1a.8.8,0,0,1-.85.83H7.34v.85H4.81v-.85H4.6a.8.8,0,0,1-.85-.83V7.55c0-.83,1.53-1.26,2.32-1.26"/><path class="cls-2" d="M4.6,11a.82.82,0,0,1-.85-.85V7.55c0-.83,1.53-1.26,2.32-1.26S8.4,6.72,8.4,7.55V10.1a.83.83,0,0,1-.85.85"/><path class="cls-2" d="M6.07,5.65A1.06,1.06,0,0,1,5,4.57V4.21a1.06,1.06,0,1,1,2.11,0v.36A1.06,1.06,0,0,1,6.07,5.65Z"/><path class="cls-2" d="M7.76,2.68a1.06,1.06,0,0,1-1-1.08V1.24a1.06,1.06,0,1,1,2.11,0V1.6A1.07,1.07,0,0,1,7.76,2.68Z"/><path class="cls-2" d="M4.38,2.68a1.07,1.07,0,0,1-1-1.08V1.24a1.06,1.06,0,1,1,2.11,0V1.6A1.07,1.07,0,0,1,4.38,2.68Z"/><line class="cls-2" x1="4.81" y1="11.78" x2="4.81" y2="8.4"/><line class="cls-2" x1="7.34" y1="8.4" x2="7.34" y2="11.78"/><line class="cls-2" x1="10.93" y1="11.78" x2="10.93" y2="8.4"/><path class="cls-2" d="M9.66,5.63a1.06,1.06,0,0,0,1.06-1.07V4.2a1.06,1.06,0,1,0-2.11,0v.36A1.05,1.05,0,0,0,9.66,5.63Z"/><path class="cls-2" d="M8.4,6.53a3.92,3.92,0,0,1,1.26-.24c.79,0,2.33.43,2.33,1.26V10.1a.83.83,0,0,1-.85.85"/><line class="cls-2" x1="1.22" y1="11.78" x2="1.22" y2="8.4"/><path class="cls-2" d="M2.48,5.63a1.06,1.06,0,0,1-1-1.07V4.2a1.06,1.06,0,1,1,2.11,0v.36A1.06,1.06,0,0,1,2.48,5.63Z"/><path class="cls-2" d="M3.75,6.53a4,4,0,0,0-1.27-.24c-.79,0-2.32.43-2.32,1.26V10.1A.82.82,0,0,0,1,11"/></g></g></svg>
                        break;
                    case "people making building":
                        <svg class="icn-svg icn-people-making-building" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.67 12.61"><defs><style>.cls-1{fill:#aa1e2e;}.cls-2{fill:#2c2c43;}</style></defs><title>icn-people-w-building</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="6.33 1.33 3.37 4.69 3.37 12.38 9.3 12.38 9.3 4.69 6.53 1.33 6.33 1.33"/><path class="cls-2" d="M10.49,2.52a1,1,0,1,0-1-1,1,1,0,0,0,1,1m0-1.59a.6.6,0,1,1,0,1.19.6.6,0,0,1,0-1.19"/><rect class="cls-2" x="11.48" y="8.45" width="0.4" height="4.16"/><rect class="cls-2" x="9.3" y="7.27" width="1.78" height="0.4"/><rect class="cls-2" x="10.29" y="8.06" width="0.4" height="4.55"/><path class="cls-2" d="M2.18,2.52a1,1,0,1,0,0-2,1,1,0,1,0,0,2m0-1.59a.6.6,0,1,1-.6.6.6.6,0,0,1,.6-.6"/><rect class="cls-2" x="0.79" y="8.45" width="0.4" height="4.16"/><rect class="cls-2" x="1.58" y="7.27" width="1.78" height="0.4"/><rect class="cls-2" x="1.98" y="8.06" width="0.4" height="4.55"/><path class="cls-2" d="M3.17,12.61h.39V4.77L6.33,1.62,9.11,4.77v7.84H9.5V4.69l-.05-.13-3-3.36-.15-.07-.14.07-3,3.36-.05.13Z"/><path class="cls-2" d="M.2,8.06H1a.2.2,0,0,0,.2-.2V4.3H.79V7.66H.4v-4a.38.38,0,0,1,.39-.39H3.37l.14-.06L6.33.42,9.16,3.25l.14.06h2.58a.38.38,0,0,1,.39.39v4h-.39V4.3h-.4V7.86a.2.2,0,0,0,.2.2h.79a.2.2,0,0,0,.2-.2V3.7a.8.8,0,0,0-.79-.79H9.39L6.47,0H6.19L3.28,2.91H.79A.8.8,0,0,0,0,3.7V7.86a.2.2,0,0,0,.2.2"/><rect class="cls-2" x="6.14" y="0.14" width="0.4" height="1.19"/><rect class="cls-2" x="7.52" y="8.26" width="0.79" height="0.79"/><rect class="cls-2" x="5.94" y="8.26" width="0.79" height="0.79"/><rect class="cls-2" x="4.35" y="8.26" width="0.79" height="0.79"/><rect class="cls-2" x="7.52" y="9.44" width="0.79" height="0.79"/><rect class="cls-2" x="5.94" y="9.44" width="0.79" height="0.79"/><rect class="cls-2" x="4.35" y="9.44" width="0.79" height="0.79"/><rect class="cls-2" x="7.52" y="7.07" width="0.79" height="0.79"/><rect class="cls-2" x="5.94" y="7.07" width="0.79" height="0.79"/><rect class="cls-2" x="4.35" y="7.07" width="0.79" height="0.79"/><rect class="cls-2" x="7.52" y="5.88" width="0.79" height="0.79"/><rect class="cls-2" x="5.94" y="5.88" width="0.79" height="0.79"/><rect class="cls-2" x="4.35" y="5.88" width="0.79" height="0.79"/><rect class="cls-2" x="7.52" y="4.69" width="0.79" height="0.79"/><rect class="cls-2" x="5.94" y="4.69" width="0.79" height="0.79"/><rect class="cls-2" x="5.94" y="3.11" width="0.79" height="0.79"/><rect class="cls-2" x="4.35" y="4.69" width="0.79" height="0.79"/><rect class="cls-2" x="6.14" y="11.22" width="0.4" height="1.39"/><polygon class="cls-2" points="4.36 12.61 4.75 12.61 4.75 11.42 7.92 11.42 7.92 12.61 8.31 12.61 8.31 11.03 4.36 11.03 4.36 12.61"/></g></g></svg>
                        break;
                    case "person next to diagram":
                        <svg class="icn-svg icn-person-with-diagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.12 12.46"><defs><style>.cls-1{fill:#aa1e2e;}.cls-2{fill:#2c2c43;}</style></defs><title>icn-person-next-to-diagram</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M9.76.5a.48.48,0,0,1-.11.66A.47.47,0,1,1,9.1.4a.48.48,0,0,1,.66.1"/><path class="cls-1" d="M9.72,4.2a.47.47,0,0,1-.1.66A.48.48,0,0,1,9,4.75a.47.47,0,0,1,.11-.65.45.45,0,0,1,.65.1"/><path class="cls-1" d="M9.72,7.9a.47.47,0,0,1-.1.66.47.47,0,1,1-.55-.77.47.47,0,0,1,.65.11"/><path class="cls-1" d="M9.72,11.4a.47.47,0,1,1-.65-.1.47.47,0,0,1,.65.1"/><path class="cls-2" d="M8.18,11.87H6.81a1,1,0,0,1-1-1V1.56a1,1,0,0,1,1-1H8.18V1H6.81a.59.59,0,0,0-.58.59V10.9a.58.58,0,0,0,.58.58H8.18Z"/><path class="cls-2" d="M9.34,1.56a.78.78,0,1,1,.78-.78.78.78,0,0,1-.78.78m0-1.17A.39.39,0,0,0,9,.78a.4.4,0,0,0,.39.39A.39.39,0,0,0,9.73.78.38.38,0,0,0,9.34.39"/><path class="cls-2" d="M9.34,9a.78.78,0,1,1,.78-.78A.78.78,0,0,1,9.34,9m0-1.16a.39.39,0,1,0,0,.77.39.39,0,1,0,0-.77"/><path class="cls-2" d="M9.34,12.46a.78.78,0,1,1,.78-.78.78.78,0,0,1-.78.78m0-1.17a.39.39,0,0,0-.39.39.4.4,0,0,0,.39.39.39.39,0,0,0,.39-.39.38.38,0,0,0-.39-.39"/><rect class="cls-2" x="5.06" y="7.98" width="3.11" height="0.39"/><path class="cls-2" d="M9.34,5.26a.78.78,0,1,1,.78-.78.78.78,0,0,1-.78.78m0-1.17A.39.39,0,0,0,9,4.48a.4.4,0,0,0,.39.39.39.39,0,0,0,.39-.39.38.38,0,0,0-.39-.39"/><rect class="cls-2" x="5.06" y="4.28" width="3.11" height="0.39"/><rect class="cls-2" x="2.14" y="7.98" width="0.39" height="4.48"/><path class="cls-2" d="M2.34,2.34A1.17,1.17,0,1,1,3.5,1.17,1.17,1.17,0,0,1,2.34,2.34m0-1.95a.78.78,0,1,0,.77.78A.78.78,0,0,0,2.34.39"/><path class="cls-2" d="M3.89,12.46H3.5V7.2h.78V4.28A1.17,1.17,0,0,0,3.11,3.11H1.56A1.17,1.17,0,0,0,.39,4.28V7.2h.78v5.26H.78V7.59H0V4.28A1.55,1.55,0,0,1,1.56,2.73H3.11A1.55,1.55,0,0,1,4.67,4.28V7.59H3.89Z"/><rect class="cls-2" x="2.14" y="3.5" width="0.39" height="0.39"/><rect class="cls-2" x="2.14" y="4.28" width="0.39" height="0.39"/></g></g></svg>
                        break;
                    case "person wearing mortarboard":
                        <svg class="icn-svg icn-person-w-mortarboard" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.67 15"><defs><style>.cls-1{fill:#aa1e2e;}.cls-2{fill:#2c2c43;}</style></defs><title>icn-person-w-mortarboard</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="6.33 0.28 10.32 1.63 6.33 3.04 2.35 1.63 6.33 0.28"/><path class="cls-2" d="M0,15H.47V12.42c0-1.22,1-1.63,2.42-2.12h0l.94-.47L3.65,9.4l-.93.46C1.44,10.29,0,10.77,0,12.42Z"/><path class="cls-2" d="M12.2,15h.47V12.42c0-1.65-1.45-2.13-2.73-2.56L9,9.4l-.21.42.94.47h0c1.46.49,2.42.9,2.42,2.12Z"/><rect class="cls-2" x="9.85" y="13.13" width="0.47" height="1.88"/><rect class="cls-2" x="2.35" y="13.13" width="0.47" height="1.88"/><rect class="cls-2" x="7.51" y="7.49" width="0.47" height="1.17"/><rect class="cls-2" x="4.69" y="7.49" width="0.47" height="1.17"/><path class="cls-2" d="M5.4,11,5.56,11l.77-.78.78.78a.23.23,0,0,0,.28,0L9.5,9.81l.12-.18-.09-.21L8.36,8.48l-.21,0L6.33,8.9,4.51,8.44l-.2,0-1.17.94-.09.21.12.18L5.28,11l.12,0m.93-1.4-.16.07-.81.81L3.7,9.57l.81-.65,1.77.44h.11l1.77-.44.8.65-1.65.92L6.5,9.68l-.17-.07"/><rect class="cls-2" x="6.1" y="11.72" width="0.47" height="3.28"/><path class="cls-2" d="M6.33,3.27h.08l4.22-1.41a.23.23,0,0,0,0-.44L6.41,0H6.26L2,1.41a.23.23,0,0,0,0,.44L6.26,3.26h.07M9.82,1.63,6.33,2.79,2.85,1.63,6.33.47Z"/><path class="cls-2" d="M6.33,8.2c1.83,0,2.55-1.77,2.58-2.95L9.15,5V3H8.68c0,.28-.94.7-2.35.7S4,3.32,4,3H3.52V5l.24.24c0,1.18.75,2.95,2.57,2.95M8.68,4.82l-.23.23v.1c0,1-.58,2.58-2.12,2.58S4.22,6.15,4.22,5.15v-.1L4,4.82V3.72a5.88,5.88,0,0,0,4.69,0Z"/><rect class="cls-2" x="1.88" y="1.63" width="0.47" height="2.58"/><rect class="cls-2" x="1.88" y="4.68" width="0.47" height="0.47"/><rect class="cls-2" x="6.1" y="10.78" width="0.47" height="0.47"/></g></g></svg>
                        break;
                    case "person with outward arrows":
                        <svg class="icn-svg icn-person-w-outward-arrows" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.46 12.46"><defs><style>.cls-1{fill:#aa1e2e;}.cls-2{fill:#2c2c43;}</style></defs><title>icn-person-outward-arrows</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="5.06 2.98 4.42 3.21 4.03 4.1 4.03 7.31 4.85 7.52 4.67 12.46 7.61 12.46 7.79 7.59 8.56 7.59 8.43 3.75 7.68 2.88 6.23 2.78 5.06 2.98"/><path class="cls-2" d="M9.09,4.61,11.68,2l.45.44.21,0,.12-.18V.2a.2.2,0,0,0-.2-.2H10.12L9.94.12l0,.21.45.45-2,2,.27.28L10.84.92V.64L10.59.39h1.48V1.87l-.25-.26h-.28L8.82,4.34Z"/><path class="cls-2" d="M.2,12.46H2.34l.18-.12,0-.21L2,11.68,4.42,9.29,4.14,9,1.61,11.54v.28l.26.25H.39V10.59l.25.25H.92L3.84,7.92l-.28-.27L.78,10.43.33,10l-.21,0L0,10.12v2.14a.2.2,0,0,0,.2.2"/><path class="cls-2" d="M3.37,4.61l.27-.27L.92,1.61H.64l-.25.26V.39H1.87L1.61.64V.92L3.76,3.06,4,2.78l-2-2L2.47.33l0-.21L2.34,0H.2A.2.2,0,0,0,0,.2V2.34l.12.18.21,0L.78,2Z"/><path class="cls-2" d="M10.12,12.46h2.14a.2.2,0,0,0,.2-.2V10.12l-.12-.18-.21,0-.45.45L8.9,7.65l-.28.27,2.92,2.92h.28l.25-.25v1.48H10.59l.25-.25v-.28L8.31,9,8,9.29l2.39,2.39-.45.45,0,.21.18.12"/><rect class="cls-2" x="6.03" y="7.98" width="0.39" height="4.48"/><path class="cls-2" d="M6.23,2.34A1.17,1.17,0,0,0,6.23,0a1.17,1.17,0,1,0,0,2.34m0-1.95a.78.78,0,1,1-.78.78A.78.78,0,0,1,6.23.39"/><path class="cls-2" d="M4.67,12.46h.39V7.2H4.28V4.28A1.18,1.18,0,0,1,5.45,3.11H7A1.18,1.18,0,0,1,8.18,4.28V7.2H7.4v5.26h.39V7.59h.77V4.28A1.54,1.54,0,0,0,7,2.73H5.45A1.55,1.55,0,0,0,3.89,4.28V7.59h.78Z"/><rect class="cls-2" x="6.03" y="3.5" width="0.39" height="0.39"/><rect class="cls-2" x="6.03" y="4.28" width="0.39" height="0.39"/></g></g></svg>
                        break;
                    case "person through magnifying lense":
                        <svg class="icn-svg icn-person-through-mag-lense" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.54 11.88"><defs><style>.cls-1{fill:#aa1e2e;}.cls-2{fill:none;stroke:#2c2c43;stroke-miterlimit:10;stroke-width:0.37px;}</style></defs><title>icn-person-through-mag-lense</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="5.36 5.13 6.12 5.77 6.12 7.05 4.95 7.61 4.06 7.6 2.99 7.36 2.41 7.05 2.43 6 2.78 5.36 3.53 5.01 4.27 5.75 5.01 5.01 5.36 5.13"/><path class="cls-2" d="M3.34,3.34a.93.93,0,1,0,.93-.93A.93.93,0,0,0,3.34,3.34Z"/><line class="cls-2" x1="5.38" y1="6.5" x2="5.38" y2="7.42"/><line class="cls-2" x1="3.15" y1="6.5" x2="3.15" y2="7.42"/><path class="cls-2" d="M6.12,7.05V6.18a1.07,1.07,0,0,0-.21-.65,1.1,1.1,0,0,0-.55-.4L5,5l-.74.74L3.53,5l-.36.12a1.19,1.19,0,0,0-.55.4,1.14,1.14,0,0,0-.21.65v.87"/><polyline class="cls-2" points="3.34 11.88 3.34 9.09 5.2 9.09 5.2 11.88"/><line class="cls-2" x1="4.27" y1="9.65" x2="4.27" y2="10.02"/><line class="cls-2" x1="4.27" y1="10.39" x2="4.27" y2="10.76"/><line class="cls-2" x1="4.27" y1="11.14" x2="4.27" y2="11.51"/><polyline class="cls-2" points="5.75 8.17 5.75 9.09 2.78 9.09 2.78 8.17"/><path class="cls-2" d="M.19,4.27A4.08,4.08,0,1,0,4.27.19,4.08,4.08,0,0,0,.19,4.27Z"/><path class="cls-2" d="M1.49,2.41a3.35,3.35,0,0,1,5.56,0"/><path class="cls-2" d="M7.05,6.12a3.34,3.34,0,0,1-5.56,0"/></g></g></svg>
                        break;
                    case "megaphone":
                        <svg class="icn-svg icn-megaphone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.67 9.11"><defs><style>.cls-1{fill:#aa1e2e;}.cls-2{fill:#2c2c43;}</style></defs><title>icn-megaphone</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="7.13 7.13 6.93 1.93 0.98 3.96 0.98 5.15 7.13 7.13"/><path class="cls-2" d="M10.49.59h-.06L.93,3.77A.2.2,0,0,0,.8,4a.21.21,0,0,0,.25.13L10.55,1a.2.2,0,0,0,.13-.25L10.49.59"/><path class="cls-2" d="M1,5,.8,5.08a.19.19,0,0,0,.13.25l9.5,3.17a.2.2,0,0,0,.25-.12.19.19,0,0,0-.13-.25L1.05,5H1"/><path class="cls-2" d="M.59,3.37A.59.59,0,0,0,0,4V5.15a.6.6,0,0,0,.59.59.6.6,0,0,0,.6-.59V4a.59.59,0,0,0-.6-.59m0,2A.19.19,0,0,1,.4,5.15V4a.2.2,0,0,1,.19-.2.2.2,0,0,1,.2.2V5.15a.19.19,0,0,1-.2.19"/><path class="cls-2" d="M11.09,0a.8.8,0,0,0-.8.79V3.17h.4V.79a.4.4,0,0,1,.79,0V3.17h.4V.79A.8.8,0,0,0,11.09,0"/><path class="cls-2" d="M11.88,5.94h-.4V8.31a.4.4,0,1,1-.79,0V5.94h-.4V8.31a.8.8,0,1,0,1.59,0Z"/><polygon class="cls-2" points="5.15 1.39 5.08 1.4 2.31 2.39 2.18 2.57 2.18 3.56 2.57 3.56 2.57 2.71 4.95 1.86 4.95 2.57 5.34 2.57 5.34 1.58 5.26 1.42 5.15 1.39"/><rect class="cls-2" x="6.73" y="1.98" width="0.4" height="5.15"/><path class="cls-2" d="M11.88,4.75a.6.6,0,0,0-.55.27.24.24,0,0,1-.24.13A.25.25,0,0,1,10.84,5a.6.6,0,0,0-.55-.27A.63.63,0,0,0,9.74,5a.29.29,0,0,1-.48,0,.63.63,0,0,0-.55-.27v.4A.23.23,0,0,1,9,5.27a.63.63,0,0,0,.55.27.61.61,0,0,0,.55-.27.23.23,0,0,1,.24-.12.24.24,0,0,1,.25.12.6.6,0,0,0,.55.27.63.63,0,0,0,.55-.27.23.23,0,0,1,.24-.12.23.23,0,0,1,.24.12.63.63,0,0,0,.55.27V5.15A.24.24,0,0,1,12.43,5a.63.63,0,0,0-.55-.27"/><path class="cls-2" d="M11.88,3.56a.6.6,0,0,0-.55.28.25.25,0,0,1-.24.12.26.26,0,0,1-.25-.12.6.6,0,0,0-.55-.28.63.63,0,0,0-.55.28.3.3,0,0,1-.48,0,.68.68,0,0,0-1.1,0A.25.25,0,0,1,7.92,4v.4a.63.63,0,0,0,.55-.28.3.3,0,0,1,.48,0,.63.63,0,0,0,.55.28.62.62,0,0,0,.55-.28A.25.25,0,0,1,10.29,4a.26.26,0,0,1,.25.12.6.6,0,0,0,.55.28.63.63,0,0,0,.55-.28A.24.24,0,0,1,11.88,4Z"/></g></g></svg>
                        break;
                    case "dollar in circle":
                        <svg class="icn-svg icn-dollar-sign-shining" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60.1 60"> <defs> <style>.cls-1{fill:#fff;opacity:0.7;}.cls-2{fill:#2c2c43;}</style> </defs> <title>@CurrentPage.Name</title> <g id="Layer_2" data-name="Layer 2"> <path class="cls-1" d="M28,41.58a13.49,13.49,0,1,0-13.5-13.49A13.49,13.49,0,0,0,28,41.58ZM24.58,28a4,4,0,0,1,0-5.77,4.2,4.2,0,0,1,2.76-1.18V19.85h2.33v1.21a4.21,4.21,0,0,1,2.76,1.17,4.07,4.07,0,0,1,1.22,2.9H31.31a1.75,1.75,0,0,0-.53-1.27,1.84,1.84,0,0,0-1.28-.52h-2a1.81,1.81,0,0,0-1.28.53,1.75,1.75,0,0,0-.53,1.26,1.78,1.78,0,0,0,.53,1.26,1.84,1.84,0,0,0,1.28.52h2a4.17,4.17,0,0,1,2.93,1.19,4,4,0,0,1,0,5.77,4.15,4.15,0,0,1-2.77,1.18v1.22H27.34V35.05a4.14,4.14,0,0,1-2.76-1.17A4.07,4.07,0,0,1,23.37,31H25.7a1.77,1.77,0,0,0,.54,1.27,1.79,1.79,0,0,0,1.27.51h2a1.84,1.84,0,0,0,1.29-.52A1.81,1.81,0,0,0,31.31,31a1.72,1.72,0,0,0-.53-1.26,1.8,1.8,0,0,0-1.28-.52h-2A4.16,4.16,0,0,1,24.58,28Z"></path> </g> <g id="Layer_1" data-name="Layer 1"> <path class="cls-2" d="M9,28.09a19,19,0,1,0,19-19A19,19,0,0,0,9,28.09ZM28,11.36A16.73,16.73,0,1,1,11.22,28.09,16.75,16.75,0,0,1,28,11.36Z"></path> <rect class="cls-2" x="26.84" width="2.3" height="4.8" rx="1.15" ry="1.15"></rect> <rect class="cls-2" x="17.05" y="1.94" width="2.29" height="4.81" rx="1.15" ry="1.15" transform="translate(-0.28 7.3) rotate(-22.5)"></rect> <rect class="cls-2" x="8.75" y="7.48" width="2.29" height="4.81" rx="1.15" ry="1.15" transform="translate(-4.09 9.9) rotate(-45.01)"></rect> <rect class="cls-2" x="3.21" y="15.76" width="2.29" height="4.81" rx="1.15" ry="1.15" transform="translate(-14.09 15.24) rotate(-67.5)"></rect> <rect class="cls-2" y="26.79" width="4.81" height="2.29" rx="1.15" ry="1.15"></rect> <rect class="cls-2" x="1.95" y="36.56" width="4.8" height="2.3" rx="1.15" ry="1.15" transform="matrix(0.92, -0.38, 0.38, 0.92, -14.11, 4.54)"></rect> <rect class="cls-2" x="7.5" y="44.85" width="4.8" height="2.3" rx="1.15" ry="1.15" transform="translate(-29.63 20.47) rotate(-45)"></rect> <rect class="cls-2" x="15.8" y="50.39" width="4.8" height="2.3" rx="1.15" ry="1.15" transform="translate(-36.37 48.62) rotate(-67.49)"></rect> <rect class="cls-2" x="26.84" y="51.08" width="2.3" height="4.8" rx="1.15" ry="1.15"></rect> <rect class="cls-2" x="36.64" y="49.13" width="2.29" height="4.81" rx="1.15" ry="1.15" transform="translate(-16.83 18.37) rotate(-22.48)"></rect> <rect class="cls-2" x="50.49" y="35.31" width="2.29" height="4.81" rx="1.15" ry="1.15" transform="translate(-2.97 70.98) rotate(-67.49)"></rect> <rect class="cls-2" x="51.18" y="26.79" width="4.81" height="2.29" rx="1.15" ry="1.15"></rect> <rect class="cls-2" x="49.23" y="17.02" width="4.8" height="2.3" rx="1.15" ry="1.15" transform="matrix(0.92, -0.38, 0.38, 0.92, -3.02, 21.14)"></rect> <rect class="cls-2" x="43.69" y="8.73" width="4.8" height="2.3" rx="1.15" ry="1.15" transform="translate(6.51 35.48) rotate(-45)"></rect> <rect class="cls-2" x="35.39" y="3.2" width="4.8" height="2.3" rx="1.15" ry="1.15" transform="translate(19.32 37.6) rotate(-67.52)"></rect> <path class="cls-2" d="M44.28,45.67l4.59,12.66a1.15,1.15,0,0,0,1.89.42L54,55.52l4.14,4.14a1.15,1.15,0,0,0,1.63,0h0a1.16,1.16,0,0,0,0-1.62L55.62,53.9l3.23-3.23a1.15,1.15,0,0,0-.42-1.89L45.75,44.2A1.15,1.15,0,0,0,44.28,45.67Zm6.14,10.18-3.14-8.66L56,50.33Z"></path> </g> </svg>
                        break;
                    case "dollar with upward arrow":
                        <svg class="icn-svg icn-coin-up-arrow" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54.63 60"> <defs> <style>.cls-1{opacity:0.7;}.cls-2{fill:#fff;}.cls-3{fill:#2c2c43;}</style> </defs> <title>@CurrentPage.Name</title> <g id="Layer_2" data-name="Layer 2"> <g class="cls-1"> <path class="cls-2" d="M14.11,56.82A14.11,14.11,0,1,0,0,42.71,14.11,14.11,0,0,0,14.11,56.82ZM10.59,42.63a4.21,4.21,0,0,1,0-6,4.35,4.35,0,0,1,2.88-1.24V34.09h2.44v1.27a4.42,4.42,0,0,1,2.88,1.22,4.26,4.26,0,0,1,1.28,3H17.63a1.86,1.86,0,0,0-.56-1.32,1.92,1.92,0,0,0-1.34-.54H13.66a1.89,1.89,0,0,0-1.35.55,1.83,1.83,0,0,0-.55,1.32,1.86,1.86,0,0,0,.56,1.32,1.92,1.92,0,0,0,1.34.54h2.07a4.38,4.38,0,0,1,3.07,1.24,4.24,4.24,0,0,1,0,6A4.44,4.44,0,0,1,15.91,50v1.26H13.47V50a4.39,4.39,0,0,1-2.88-1.23,4.25,4.25,0,0,1-1.27-3h2.44a1.88,1.88,0,0,0,1.9,1.87h2.07a1.93,1.93,0,0,0,1.35-.55,1.85,1.85,0,0,0,0-2.63,1.93,1.93,0,0,0-1.35-.55H13.66A4.33,4.33,0,0,1,10.59,42.63Z" transform="translate(0)"></path> </g> </g> <path class="cls-3" d="M27.26,60a1,1,0,0,1-.58-1.74c4.19-3.14,7-8.14,7-10.84V18.82H23.22a1,1,0,0,1-.89-.58,1,1,0,0,1,.17-1L37.72.31a1,1,0,0,1,1.44,0L54.38,17.2a1,1,0,0,1,.17,1,1,1,0,0,1-.89.58H44.07v28.6c0,10.23-16,12.48-16.68,12.57ZM25.39,16.88h9.26a1,1,0,0,1,1,1V47.42c0,2.8-2.1,6.78-5,9.92,4.43-1.18,11.56-4,11.56-9.92V17.85a1,1,0,0,1,1-1h8.39L38.44,2.4Z" transform="translate(0)"></path> </svg>
                        break;
                    case "money in hand":
                        <svg class="icn-svg icn-hand-holding-money" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.13 60"> <defs> <style>.cls-1{fill:#fff;opacity:0.7;}.cls-2{fill:#2c2c43;}</style> </defs> <title>@CurrentPage.Name</title> <g id="Layer_2" data-name="Layer 2"> <polygon class="cls-1" points="71.16 35.9 35.27 0.97 29.37 7.03 15.89 11.6 22.5 31.12 27.65 25.65 31.08 25.65 31.31 25.87 47.19 25.87 44.75 31.98 44.83 32.3 44.83 32.3 41.09 33.2 32.32 32.93 31.31 39.31 26.57 43.13 31.96 59.03 51.63 52.37 48.46 43.02 56.68 50.78 71.16 35.9"></polygon> </g> <path class="cls-2" d="M71.84,35.2,35.94.27A1,1,0,0,0,35.25,0a1,1,0,0,0-.68.29l-5.73,5.9L15.58,10.68a.94.94,0,0,0-.56.49,1,1,0,0,0,0,.74l6.38,18.84a2.16,2.16,0,0,1-1,.26H12.93V27.1a1,1,0,0,0-1-1H1a1,1,0,0,0-1,1v3.65a1,1,0,0,0,1.94,0V28.06H11V57.89h-9V51.53H6.05a1,1,0,1,0,0-1.94H1a1,1,0,0,0-1,1v8.3a1,1,0,0,0,1,1H12a1,1,0,0,0,1-1v-2.7H30L31,59.34a.94.94,0,0,0,.49.56A.91.91,0,0,0,32,60a1.12,1.12,0,0,0,.31,0l19.67-6.66a1,1,0,0,0,.55-.49,1,1,0,0,0,0-.74l-1.92-5.67L56,51.48a1,1,0,0,0,1.36,0L71.85,36.57a1,1,0,0,0,.28-.69A1,1,0,0,0,71.84,35.2ZM35,6.16,41.3,24.91H28.87c-2.3,0-3.75,1.81-5,3.41-.3.38-.6.75-.9,1.09L17.11,12.2ZM47.19,24.91H43.34l-.92-2.73a5.11,5.11,0,0,1,7.14,0,5.13,5.13,0,0,1-2.49,8.7,7,7,0,0,0,1.09-3.75V25.87A1,1,0,0,0,47.19,24.91ZM12.93,54.22V33h7.39c2.3,0,3.75-1.82,5-3.42,1.11-1.38,2.15-2.69,3.52-2.69H46.23v.3a5.11,5.11,0,0,1-5.1,5.1h-8.6a1,1,0,0,0-1,1c0,.41-.13,10-11.25,10v1.94a15.7,15.7,0,0,0,5.6-.94l3.39,10Zm25.86-20a5.09,5.09,0,0,1-5,4.17,5.2,5.2,0,0,1-1.42-.22,14.54,14.54,0,0,0,1.09-3.95ZM32.56,57.81l-4.88-14.4a10.9,10.9,0,0,0,3.73-3.54,6.92,6.92,0,0,0,2.35.41,7,7,0,0,0,7-6c0-.05,0-.09,0-.14h.39a7,7,0,0,0,3.07-.71l6.2,18.3Zm24.09-8.39L49.3,42.48,46.07,33A7.07,7.07,0,0,0,50.9,20.8a7,7,0,0,0-4.92-2h-.11a7.05,7.05,0,0,0-4.12,1.4L36.47,4.62A1,1,0,0,0,36,4.06a1,1,0,0,0-.74,0l-2.38.8,2.42-2.48,34.5,33.58Z"></path> <path class="cls-2" d="M55.11,44.27a6.13,6.13,0,0,0,.94.76.94.94,0,0,0,.53.16,1,1,0,0,0,.81-.43,1,1,0,0,0-.27-1.35,4.22,4.22,0,0,1-.67-.53,4.8,4.8,0,0,1,3.22-8.26A4.86,4.86,0,0,1,63.09,36a5.16,5.16,0,0,1,.73.89,1,1,0,1,0,1.63-1,7.15,7.15,0,0,0-1-1.25,6.74,6.74,0,0,0-9.52.2A6.73,6.73,0,0,0,55.11,44.27Z"></path> <path class="cls-2" d="M27.45,19.92A6.73,6.73,0,0,0,33.81,11a6.48,6.48,0,0,0-.5-1.1,1,1,0,1,0-1.68.94,7,7,0,0,1,.35.79,4.79,4.79,0,0,1-6.63,5.88,4.76,4.76,0,0,1-2.43-2.74,4.86,4.86,0,0,1-.25-1.13,1,1,0,0,0-1.92.18,6.55,6.55,0,0,0,.34,1.58A6.73,6.73,0,0,0,27.45,19.92Z"></path> <path class="cls-2" d="M37.68,44a6.73,6.73,0,0,0-4.16,8.56,7.23,7.23,0,0,0,.49,1.1,1,1,0,0,0,.85.5.9.9,0,0,0,.47-.13,1,1,0,0,0,.37-1.32,4.54,4.54,0,0,1-.35-.78,4.79,4.79,0,0,1,9.06-3.14,4.38,4.38,0,0,1,.24,1.13,1,1,0,1,0,1.93-.19,6.58,6.58,0,0,0-.34-1.57A6.73,6.73,0,0,0,37.68,44Z"></path> </svg>
                        break;
                    case "checkbox":
                        <svg class="icn-svg icn-checkbox" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.48 60"> <defs> <style>.cls-1{opacity:0.7;}.cls-2{fill:#fff;}.cls-3{fill:#2c2c43;}</style> </defs> <title>@CurrentPage.Name</title> <g id="Layer_2" data-name="Layer 2"> <g class="cls-1"> <polygon class="cls-2" points="29.83 49.4 11.22 31.27 17.68 24.64 29.16 35.81 58.35 1.05 65.44 7 29.83 49.4"></polygon> </g> </g> <g id="Layer_1" data-name="Layer 1"> <path class="cls-3" d="M41.15,54.91H9.1a4,4,0,0,1-4-4V17.58a4,4,0,0,1,4-4h31a1,1,0,0,1,0,2.1H9.1a1.92,1.92,0,0,0-1.91,1.91V50.9A1.92,1.92,0,0,0,9.1,52.81H41.15a1.92,1.92,0,0,0,1.92-1.91V41.44a1,1,0,1,1,2.09,0V50.9A4,4,0,0,1,41.15,54.91Z"></path> <path class="cls-3" d="M41.29,60H9a9,9,0,0,1-9-9V17.44a9,9,0,0,1,9-9H45.22a1,1,0,1,1,0,2.1H9a6.88,6.88,0,0,0-6.87,6.86V51A6.89,6.89,0,0,0,9,57.91H41.29A6.88,6.88,0,0,0,48.16,51V34.22a1,1,0,0,1,2.1,0V51A9,9,0,0,1,41.29,60Z"></path> <path class="cls-3" d="M29.83,50.45a1.06,1.06,0,0,1-.73-.3L10.49,32a1.05,1.05,0,0,1,0-1.48l6.46-6.63a1,1,0,0,1,.74-.32h0a1,1,0,0,1,.73.3L29.08,34.28,57.55.37A1,1,0,0,1,59,.24l7.09,6a1.08,1.08,0,0,1,.37.71,1.05,1.05,0,0,1-.24.76l-35.6,42.4a1,1,0,0,1-.75.37ZM12.7,31.25,29.76,47.86,64,7.13,58.48,2.52,30,36.49a1.08,1.08,0,0,1-.75.37,1.06,1.06,0,0,1-.79-.3L17.7,26.12Z"></path> </g> </svg>
                        break;
                    case "detective":
                        <svg class="icn-svg icn-sneaky-man" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.91 60"> <defs> <style>.cls-1{fill:#fff;opacity:0.7;}.cls-2{fill:#2c2c43;}</style> </defs> <title>@CurrentPage.Name</title> <g id="Layer_2" data-name="Layer 2"> <polygon class="cls-1" points="8.23 16.57 19.62 0 33.08 6.21 47.58 4.14 53.79 23.81 8.23 16.57"></polygon> <path class="cls-1" d="M47.06,26.41a39.6,39.6,0,0,0-4.27.26c.39.13,3.1,4.27,3.1,4.27" transform="translate(0 -0.01)"></path> </g> <g id="Layer_1" data-name="Layer 1"> <path class="cls-2" d="M58.1,23.89,4.26,14.57a1,1,0,0,0-1.14.8,1,1,0,0,0,.8,1.14l6.21,1.07a36.39,36.39,0,0,0,2.33,9.62L5.43,25a1,1,0,0,0-1.25,1.22L9.14,43C3.09,46.8.16,58.28,0,58.78A1,1,0,0,0,.74,60a1,1,0,0,0,1.2-.72c0-.12,3.07-12,8.8-14.89l.11-.08.09,0c.07-.06,6.79-5.5,22.53,8.27a1,1,0,0,0,.65.25,1,1,0,0,0,.74-.34,1,1,0,0,0-.1-1.39C21.36,39.31,13.7,40.74,10.89,42L6.59,27.39,55.5,43,51.87,50.3a1,1,0,0,0-.07.68l2.07,8.28a1,1,0,0,0,1.19.72,1,1,0,0,0,.72-1.2l-2-7.93,4-8a1,1,0,0,0,0-.83,1,1,0,0,0-.61-.55L50.58,39.4l.3-2.36,3.22.68a1,1,0,0,0,1.15-1.23L51.85,24.8l5.91,1,.17,0a1,1,0,0,0,.17-1.95ZM52.9,35.46l-2.66-.57a1,1,0,0,0-.78.16,1,1,0,0,0-.4.68l-.38,3.06L15,28a33.45,33.45,0,0,1-2.82-10.08l37.54,6.5Z" transform="translate(0 -0.01)"></path> <path class="cls-2" d="M42.26,27.49c.37.39,1.73,2.34,2.81,4a1,1,0,0,0,.82.44,1,1,0,0,0,.54-.16,1,1,0,0,0,.29-1.36c-.87-1.32-1.51-2.26-2-2.92.72,0,1.57-.07,2.36-.09a1,1,0,0,0,0-2h0c-4.91.14-5.1.15-5.24,1.09A1,1,0,0,0,42.26,27.49Z" transform="translate(0 -0.01)"></path> </g> </svg>
                        break;
                    case "calculator":
                        <svg class="icn-svg icn-calculator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.29 60"> <defs> <style>.cls-1,.cls-2{fill:#fff;}.cls-1{opacity:0.7;}.cls-3{fill:#2c2c43;}</style> </defs> <title>@CurrentPage.Name</title> <g id="Layer_2" data-name="Layer 2"> <path class="cls-1" d="M30.43,15.08H29v2.14a1.11,1.11,0,0,1-1.11,1.1H6.42a1.1,1.1,0,0,1-1.1-1.1V15.08H3.86A2.89,2.89,0,0,0,1,18V56.14A2.89,2.89,0,0,0,3.86,59H30.43a2.89,2.89,0,0,0,2.89-2.89V18A2.89,2.89,0,0,0,30.43,15.08Z"></path> </g> <g id="Layer_1" data-name="Layer 1"> <circle class="cls-2" cx="8.63" cy="35.26" r="2.47"></circle> <circle class="cls-2" cx="17.31" cy="35.26" r="2.47"></circle> <circle class="cls-2" cx="25.99" cy="35.26" r="2.47"></circle> <circle class="cls-2" cx="8.63" cy="43.43" r="2.47"></circle> <circle class="cls-2" cx="17.31" cy="43.43" r="2.47"></circle> <circle class="cls-2" cx="25.99" cy="43.43" r="2.47"></circle> <circle class="cls-2" cx="8.63" cy="51.6" r="2.47"></circle> <circle class="cls-2" cx="17.31" cy="51.6" r="2.47"></circle> <circle class="cls-2" cx="25.99" cy="51.6" r="2.47"></circle> <path class="cls-3" d="M30.43,60H3.86A3.86,3.86,0,0,1,0,56.14V18a3.86,3.86,0,0,1,3.86-3.86H5.18a1,1,0,0,1,0,1.93H3.86A1.93,1.93,0,0,0,1.94,18V56.14a1.92,1.92,0,0,0,1.92,1.92H30.43a1.92,1.92,0,0,0,1.92-1.92V18A1.93,1.93,0,0,0,30.43,16H29.08a1,1,0,1,1,0-1.93h1.35A3.86,3.86,0,0,1,34.29,18V56.14A3.86,3.86,0,0,1,30.43,60Z"></path> <rect class="cls-3" x="5.55" y="21.86" width="23.53" height="6.44" rx="1.05" ry="1.05"></rect> <path class="cls-3" d="M8.63,38.69a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,8.63,38.69Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,8.63,33.76Z"></path> <path class="cls-3" d="M17.31,38.69a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,17.31,38.69Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,17.31,33.76Z"></path> <path class="cls-3" d="M26,38.69a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,26,38.69Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,26,33.76Z"></path> <path class="cls-3" d="M8.63,46.86a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,8.63,46.86Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,8.63,41.93Z"></path> <path class="cls-3" d="M17.31,46.86a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,17.31,46.86Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,17.31,41.93Z"></path> <path class="cls-3" d="M26,46.86a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,26,46.86Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,26,41.93Z"></path> <path class="cls-3" d="M8.63,55a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,8.63,55Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,8.63,50.1Z"></path> <path class="cls-3" d="M17.31,55a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,17.31,55Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,17.31,50.1Z"></path> <path class="cls-3" d="M26,55a3.44,3.44,0,1,1,3.44-3.43A3.44,3.44,0,0,1,26,55Zm0-4.93a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,26,50.1Z"></path> <path class="cls-3" d="M26.45,18.33H24.51V2.66l-2,1.18a1,1,0,0,1-1.12-.1L19.62,2.22l-2,1.55a1,1,0,0,1-1.17,0L14.34,2.21l-1.7,1.52a1,1,0,0,1-1.16.1L9.77,2.74V18.33H7.84V1a1,1,0,0,1,.5-.85,1,1,0,0,1,1,0L11.9,1.8,13.64.25A1,1,0,0,1,14.86.19L17,1.79l2-1.58a1,1,0,0,1,1.23,0l1.84,1.58L25,.13a1,1,0,0,1,1,0,1,1,0,0,1,.49.84Z"></path> <path class="cls-3" d="M20.93,9.17H13.36a1,1,0,1,1,0-1.94h7.57a1,1,0,0,1,0,1.94Z"></path> <path class="cls-3" d="M20.93,12.74H13.36a1,1,0,1,1,0-1.93h7.57a1,1,0,1,1,0,1.93Z"></path> <path class="cls-3" d="M16.85,16.32H13.36a1,1,0,1,1,0-1.94h3.49a1,1,0,0,1,0,1.94Z"></path> </g> </svg>
                        break;
                    case "cyber padlock":
                        <svg class="icn-svg icn-padlock-cyber" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.48 60"> <defs> <style>.cls-1{opacity:0.7;}.cls-2{fill:#fff;}.cls-3{fill:#2c2c43;}</style> </defs> <title>@CurrentPage.Name</title> <g id="Layer_2" data-name="Layer 2"> <g class="cls-1"> <path class="cls-2" d="M33.55,27.52H3.87A2.92,2.92,0,0,0,.94,30.44V53a2.93,2.93,0,0,0,2.93,2.93H33.55A2.93,2.93,0,0,0,36.47,53V30.44A2.92,2.92,0,0,0,33.55,27.52ZM22.14,49H15.27l1-6.44c-1.59-.58-1.7-2.09-1.7-3.88a4.13,4.13,0,0,1,8.25,0c0,1.79-.11,3.3-1.7,3.88Z"></path> </g> </g> <g id="Layer_1" data-name="Layer 1"> <path class="cls-3" d="M57.66,41.46a2.43,2.43,0,0,0-2.22,1.47h-18V40h8.36a1,1,0,0,0,.7-.31l7.35-8.08a2.41,2.41,0,1,0-1.4-1.27l-7.07,7.77H37.41V30.27a3.69,3.69,0,0,0-3.22-3.65V15.49a15.49,15.49,0,1,0-31,0V26.62A3.69,3.69,0,0,0,0,30.27V53.18a3.7,3.7,0,0,0,3.69,3.7h30a3.7,3.7,0,0,0,3.69-3.7V49.37h8l7.14,7.41a2.31,2.31,0,1,0,3.79-.69,2.31,2.31,0,0,0-2.49-.56l-7.4-7.69a.9.9,0,0,0-.65-.28H37.41V44.82h18a2.42,2.42,0,1,0,2.22-3.36ZM18.71,2.11A13.4,13.4,0,0,1,32.09,15.49V26.57H28.93V15.8a10.23,10.23,0,0,0-20.45,0V26.57H5.33V15.49A13.39,13.39,0,0,1,18.71,2.11Zm8.11,24.46H10.59V15.8a8.12,8.12,0,0,1,16.23,0Zm8.7,26.61A1.81,1.81,0,0,1,33.72,55h-30a1.81,1.81,0,0,1-1.8-1.81V30.27a1.81,1.81,0,0,1,1.8-1.81h30a1.81,1.81,0,0,1,1.8,1.81Z"></path> <path class="cls-3" d="M23.74,38.71a5,5,0,1,0-8.55,3.59,61.65,61.65,0,0,1-.81,6.59.88.88,0,0,0,.2.73.9.9,0,0,0,.69.32h6.87a.9.9,0,0,0,.7-.33.92.92,0,0,0,.19-.75c-.48-2.48-1-5.41-1-6.37A5,5,0,0,0,23.74,38.71Zm-3.12,2.58c-.48.35-.75.55.43,6.84H16.33c1-6.36.66-6.65.27-7a3.19,3.19,0,0,1-1.12-2.43,3.23,3.23,0,0,1,6.45,0A3.17,3.17,0,0,1,20.62,41.29Z"></path> </g> </svg>
                        break;
                    default:
                        <svg class="icn-svg icn-checkbox" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.48 60"> <defs> <style>.cls-1{opacity:0.7;}.cls-2{fill:#fff;}.cls-3{fill:#2c2c43;}</style> </defs> <title>@CurrentPage.Name</title> <g id="Layer_2" data-name="Layer 2"> <g class="cls-1"> <polygon class="cls-2" points="29.83 49.4 11.22 31.27 17.68 24.64 29.16 35.81 58.35 1.05 65.44 7 29.83 49.4"></polygon> </g> </g> <g id="Layer_1" data-name="Layer 1"> <path class="cls-3" d="M41.15,54.91H9.1a4,4,0,0,1-4-4V17.58a4,4,0,0,1,4-4h31a1,1,0,0,1,0,2.1H9.1a1.92,1.92,0,0,0-1.91,1.91V50.9A1.92,1.92,0,0,0,9.1,52.81H41.15a1.92,1.92,0,0,0,1.92-1.91V41.44a1,1,0,1,1,2.09,0V50.9A4,4,0,0,1,41.15,54.91Z"></path> <path class="cls-3" d="M41.29,60H9a9,9,0,0,1-9-9V17.44a9,9,0,0,1,9-9H45.22a1,1,0,1,1,0,2.1H9a6.88,6.88,0,0,0-6.87,6.86V51A6.89,6.89,0,0,0,9,57.91H41.29A6.88,6.88,0,0,0,48.16,51V34.22a1,1,0,0,1,2.1,0V51A9,9,0,0,1,41.29,60Z"></path> <path class="cls-3" d="M29.83,50.45a1.06,1.06,0,0,1-.73-.3L10.49,32a1.05,1.05,0,0,1,0-1.48l6.46-6.63a1,1,0,0,1,.74-.32h0a1,1,0,0,1,.73.3L29.08,34.28,57.55.37A1,1,0,0,1,59,.24l7.09,6a1.08,1.08,0,0,1,.37.71,1.05,1.05,0,0,1-.24.76l-35.6,42.4a1,1,0,0,1-.75.37ZM12.7,31.25,29.76,47.86,64,7.13,58.48,2.52,30,36.49a1.08,1.08,0,0,1-.75.37,1.06,1.06,0,0,1-.79-.3L17.7,26.12Z"></path> </g> </svg>
                        break;
                }
                  <h1 class="L3-header-h">@CurrentPage.Name</h1>
                  <h2 class="L3-header-sub-h">@CurrentPage.Parent.Name</h2>
                </div>
              </div>
            </div>
          </div>
        </header>          
        @{
        	var blades = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("blades");
            foreach (var blade in blades)
            {
                switch (blade.ContentType.Alias)
                {
                    case "introBlade":
                        Html.RenderPartial("BladeIntro", blade);
                        break;
                    case "videoHeroBlade":
                        Html.RenderPartial("BladeVideoHero", blade);
                        break;
                    case "quoteBlade":
                        Html.RenderPartial("BladeQuote", blade);
                        break;
                    case "teamBlade":
                        Html.RenderPartial("BladeTeam", blade);
                        break;
                    case "teamBladeExternal":
                        Html.RenderPartial("BladeTeamExternal", blade);
                        break;
                    case "servicesBlade":
                        Html.RenderPartial("BladeServices", blade);
                        break;
                    case "resourcesBlade":
                        Html.RenderPartial("BladeResources", blade);
                        break;
                    case "blogBlade":
                        Html.RenderPartial("BladeBlog", blade);
                        break;
                    case "signupBlade":
                        Html.RenderPartial("BladeSignup", blade);
                        break;
                    case "callToActionBlade":
                        Html.RenderPartial("BladeCallToAction", blade);
                        break;
                    case "eventsBlade":
                        Html.RenderPartial("BladeEvents", blade);
                        break;
                    case "l3IntroBlade":
                        Html.RenderPartial("BladeL3Intro", blade);
                        break;
                    case "l3ContentBlade":
                        Html.RenderPartial("BladeL3Content", blade);
                        break;
                    case "blogsAndResourceBlade":
                        Html.RenderPartial("BladeBlogsAndResource", blade);
                        break;
                    default:
                        break;
                }
            }
        }      
      </article>
    </main>
}
