@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_WebsiteLayout2018.cshtml";
}

@section Body{

    <main class="site-main" role="main">
      <article class="page-content">

        <header class="section-L3-header">
          <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="col-12">
                    <svg class="icn-svg icn-locations" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102.3 102.3"><defs><style>.cls-1{fill:#aa182c;}.cls-2{fill:#2c2c43;}</style></defs><title>icn-radiating-arrows</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M51.15,86.81A35.67,35.67,0,1,1,86.81,51.15,35.71,35.71,0,0,1,51.15,86.81Zm0-67.13A31.47,31.47,0,1,0,82.62,51.15,31.51,31.51,0,0,0,51.15,19.68Z"/><path class="cls-2" d="M51.15,16A35.17,35.17,0,1,1,16,51.15,35.2,35.2,0,0,1,51.15,16m0,67.14a32,32,0,1,0-32-32,32,32,0,0,0,32,32m0-68.14A36.17,36.17,0,1,0,87.31,51.15,36.22,36.22,0,0,0,51.15,15Zm0,67.14a31,31,0,1,1,31-31,31,31,0,0,1-31,31Z"/><path class="cls-2" d="M50,.47l-6.4,6.39,2.26,2.26,3.67-3.66V28.77h3.2V5.46l3.66,3.66,2.26-2.26L52.28.47A1.59,1.59,0,0,0,50,.47Z"/><path class="cls-2" d="M52.75,96.84V73.53h-3.2V96.84l-3.67-3.67-2.26,2.26,6.4,6.4a1.59,1.59,0,0,0,2.26,0l6.39-6.4-2.26-2.26Z"/><path class="cls-2" d="M28.77,52.75v-3.2H5.46l3.66-3.67L6.86,43.62.47,50a1.59,1.59,0,0,0,0,2.26l6.39,6.39,2.26-2.26L5.46,52.75Z"/><path class="cls-2" d="M101.83,50l-6.4-6.4-2.26,2.26,3.67,3.67H73.53v3.2H96.84l-3.67,3.66,2.26,2.26,6.4-6.39A1.61,1.61,0,0,0,101.83,50Z"/><path class="cls-2" d="M22.38,14.39v-3.2H12.79a1.59,1.59,0,0,0-1.6,1.6v9.59h3.2V16.65L32.32,34.58l2.26-2.26L16.65,14.39Z"/><path class="cls-2" d="M87.91,85.65,70,67.71,67.71,70,85.65,87.91H79.92v3.2h9.59a1.6,1.6,0,0,0,1.6-1.6V79.92h-3.2Z"/><path class="cls-2" d="M32.32,67.71,14.39,85.65V79.92h-3.2v9.59a1.6,1.6,0,0,0,1.6,1.6h9.59v-3.2H16.65L34.58,70Z"/><path class="cls-2" d="M70,34.58,87.91,16.65v5.73h3.2V12.79a1.6,1.6,0,0,0-1.6-1.6H79.92v3.2h5.73L67.71,32.32Z"/><path class="cls-2" d="M51.15,67.13a16,16,0,1,1,16-16A16,16,0,0,1,51.15,67.13Zm0-28.77A12.79,12.79,0,1,0,63.94,51.15,12.81,12.81,0,0,0,51.15,38.36Z"/><path class="cls-1" d="M51.15,59.64a8.49,8.49,0,1,1,8.49-8.49A8.5,8.5,0,0,1,51.15,59.64Zm0-12.79a4.3,4.3,0,1,0,4.29,4.3A4.31,4.31,0,0,0,51.15,46.85Z"/><path class="cls-2" d="M51.15,43.16a8,8,0,1,1-8,8,8,8,0,0,1,8-8m0,12.78a4.8,4.8,0,1,0-4.8-4.79,4.8,4.8,0,0,0,4.8,4.79m0-13.78a9,9,0,1,0,9,9,9,9,0,0,0-9-9Zm0,12.78a3.8,3.8,0,1,1,3.79-3.79,3.8,3.8,0,0,1-3.79,3.79Z"/></g></g></svg>
                  <h1 class="L3-header-h">Our Offices</h1>
                  <h2 class="L3-header-sub-h">HORNE LLP</h2>
                </div>
              </div>
            </div>
          </div>
        </header>

        @Html.Partial("Locations2018")

      </article>
    </main>
}