@using System
@using System.Collections.Generic
@using System.Linq
@using System.Xml.Linq
@using System.Text.RegularExpressions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
Layout = "InteriorPage.cshtml";
}

@section Scripts{
<script src="//static.addtoany.com/menu/page.js"></script>	
}


@section Body{

<!--=SITE CONTENT | 2018 Healthcare Resources -->
<div class="wrapper wrapper_health-care wrapper_resources">
  <!-- SECTION HEADER-->
  <header class="container-fluid container_section-header">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="section-header reverse-hdr">@Helpers.PageTitle(CurrentPage.pageHeading, CurrentPage.Name)</h1>
      </div>
    </div>
  </header>
  @Html.Partial("ResourceMosaic2018")
</div>

}