@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
    Layout = "_WebsiteLayout.cshtml";
	@* YOU ARE HERE!!!  TODO: modify header to show section, not page heading *@
}

@section Body{

<!--=SITE CONTENT-->
    <div class="wrapper wrapper_standard wrapper_standard-interior">
      <!-- SECTION HEADER-->
      <header class="container-fluid container_section-header">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 class="section-header reverse-hdr">@Helpers.PageTitle(CurrentPage.pageHeading, CurrentPage.Name)</h1>
          </div>
        </div>
        <div class="container-fluid container_section-intro blank">
          <div class="container">
            <div class="row">
              <div class="col-sm-6"></div>
            </div>
          </div>
        </div>
      </header>
      <!-- BREADCRUMB-->
		@Html.Partial("Breadcrumb")
      <!-- MAIN AND SUB COLUMNS-->
      <div class="container container_page-cols append-btm-xl">
        <div class="row">
          <!-- MAIN CONTENT COLUMN-->
          <article class="col-md-9">
            <!-- Lead with graphic-->
            <div class="row append-btm">
              <div class="col-md-12">
				<p class="lead">@CurrentPage.introText</p>
              </div>
            </div>
            <!-- Page text/content-->
            <div class="row row_page-content append-btm">
              <div class="col-md-12">

               	<h1>Search Results</h1>

                <form role="search" action="/search" method="get" class="form-inline append-btm-lg">
                    <div class="form-group" style="display:inline-block; vertical-align:middle; margin-bottom:0; width:calc(100% - 60px);">
                        <input type="text" name="q" placeholder="Search" class="form-control input-lg" style="width:100%;">
                    </div>
                    <button type="submit" class="btn btn-lg btn-default"><span class="fa fa-search"></span></button>
                </form>

	            @Umbraco.RenderMacro("Search  Results")

			  </div>
            </div>
          </article>
          <!-- SUB CONTENT COLUMN-->
          <aside class="col-md-3">
            <!-- Section subpage links-->
          </aside>
        </div>
      </div>
      <!-- Section footer-->
      <footer class="container-fluid container_section-footer bg-light">
        <div class="container">

        </div>
      </footer>
    </div>

}