@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "_WebsiteLayout2018.cshtml";
}

@section Body{

    <main class="site-main" role="main">
      <article class="page-content">
        <header class="section-L3-header">
          <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="col-12">

                  <svg class="icn-svg icn-people" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 28.09 27.22"><defs><style>.cls-1,.cls-4{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#aa1e2e;}.cls-4{stroke:#2c2c43;stroke-miterlimit:10;stroke-width:0.75px;}</style><clipPath id="clip-path" transform="translate(-1.08 -0.6)"><rect class="cls-1" width="30.24" height="28.8"/></clipPath></defs><title>icn-people</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-2"><path class="cls-3" d="M15.12,15.13c-1.83,0-5.37,1-5.37,2.93V24a1.85,1.85,0,0,0,1.95,1.91h.49v1.95h5.86V25.87h.49A1.85,1.85,0,0,0,20.49,24v-5.9c0-1.93-3.54-2.93-5.37-2.93" transform="translate(-1.08 -0.6)"/><path class="cls-4" d="M18.54,25.91A1.88,1.88,0,0,0,20.49,24v-5.9c0-1.93-3.54-2.93-5.37-2.93s-5.37,1-5.37,2.93V24a1.88,1.88,0,0,0,1.95,1.95" transform="translate(-1.08 -0.6)"/><path class="cls-4" d="M15.12,13.66a2.45,2.45,0,0,0,2.44-2.49v-.83a2.44,2.44,0,1,0-4.88,0v.83A2.45,2.45,0,0,0,15.12,13.66Z" transform="translate(-1.08 -0.6)"/><path class="cls-4" d="M11.22,6.79A2.46,2.46,0,0,0,13.66,4.3V3.47a2.45,2.45,0,1,0-4.89,0V4.3A2.46,2.46,0,0,0,11.22,6.79Z" transform="translate(-1.08 -0.6)"/><path class="cls-4" d="M19,6.79A2.46,2.46,0,0,0,21.47,4.3V3.47a2.45,2.45,0,1,0-4.89,0V4.3A2.46,2.46,0,0,0,19,6.79Z" transform="translate(-1.08 -0.6)"/><line class="cls-4" x1="16.97" y1="27.22" x2="16.97" y2="19.41"/><line class="cls-4" x1="11.11" y1="19.41" x2="11.11" y2="27.22"/><line class="cls-4" x1="2.82" y1="27.22" x2="2.82" y2="19.41"/><path class="cls-4" d="M6.82,13.62a2.45,2.45,0,0,1-2.44-2.49V10.3a2.44,2.44,0,1,1,4.88,0v.83A2.45,2.45,0,0,1,6.82,13.62Z" transform="translate(-1.08 -0.6)"/><path class="cls-4" d="M9.75,15.69a9.17,9.17,0,0,0-2.93-.56c-1.83,0-5.37,1-5.37,2.93V24a1.88,1.88,0,0,0,2,1.95" transform="translate(-1.08 -0.6)"/><line class="cls-4" x1="25.27" y1="27.22" x2="25.27" y2="19.41"/><path class="cls-4" d="M23.42,13.62a2.45,2.45,0,0,0,2.44-2.49V10.3a2.44,2.44,0,1,0-4.88,0v.83A2.45,2.45,0,0,0,23.42,13.62Z" transform="translate(-1.08 -0.6)"/><path class="cls-4" d="M20.49,15.69a9.17,9.17,0,0,1,2.93-.56c1.83,0,5.37,1,5.37,2.93V24a1.88,1.88,0,0,1-1.95,1.95" transform="translate(-1.08 -0.6)"/></g></g></g></svg>

                  <h1 class="L3-header-h">Meet Our People</h1>
                  <h2 class="L3-header-sub-h">HORNE LLP</h2>
                </div>
              </div>
            </div>
          </div>
        </header>

        @Html.Partial("TeamMemberFilter2018")

      </article>
    </main>
}