@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "_WebsiteLayout2018.cshtml";
  var teamMember = Umbraco.Content(CurrentPage.teamMember);
  var employeeEmail = teamMember.EmployeeemailAddress.Replace("horne-llp","hornellp");
	var photoUrl = Umbraco.Media(teamMember.EmployeePhoto.ToString()).GetCropUrl(cropAlias: "Team Photo Profile");
}

@section Body{
    <main class="site-main" role="main">
      <article class="page-content">

        <header class="section-L3-header">
          <div class="jumbotron jumbotron-fluid">
            <div class="container-fluid">
              <div class="row text-center">
                <div class="col-12">
                  <svg class="icn-svg icn-people" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 28.09 27.22"><defs><style>.cls-1,.cls-4{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#aa1e2e;}.cls-4{stroke:#2c2c43;stroke-miterlimit:10;stroke-width:0.75px;}</style><clipPath id="clip-path" transform="translate(-1.08 -0.6)"><rect class="cls-1" width="30.24" height="28.8"/></clipPath></defs><title>icn-people</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-2"><path class="cls-3" d="M15.12,15.13c-1.83,0-5.37,1-5.37,2.93V24a1.85,1.85,0,0,0,1.95,1.91h.49v1.95h5.86V25.87h.49A1.85,1.85,0,0,0,20.49,24v-5.9c0-1.93-3.54-2.93-5.37-2.93" transform="translate(-1.08 -0.6)"/><path class="cls-4" d="M18.54,25.91A1.88,1.88,0,0,0,20.49,24v-5.9c0-1.93-3.54-2.93-5.37-2.93s-5.37,1-5.37,2.93V24a1.88,1.88,0,0,0,1.95,1.95" transform="translate(-1.08 -0.6)"/><path class="cls-4" d="M15.12,13.66a2.45,2.45,0,0,0,2.44-2.49v-.83a2.44,2.44,0,1,0-4.88,0v.83A2.45,2.45,0,0,0,15.12,13.66Z" transform="translate(-1.08 -0.6)"/><path class="cls-4" d="M11.22,6.79A2.46,2.46,0,0,0,13.66,4.3V3.47a2.45,2.45,0,1,0-4.89,0V4.3A2.46,2.46,0,0,0,11.22,6.79Z" transform="translate(-1.08 -0.6)"/><path class="cls-4" d="M19,6.79A2.46,2.46,0,0,0,21.47,4.3V3.47a2.45,2.45,0,1,0-4.89,0V4.3A2.46,2.46,0,0,0,19,6.79Z" transform="translate(-1.08 -0.6)"/><line class="cls-4" x1="16.97" y1="27.22" x2="16.97" y2="19.41"/><line class="cls-4" x1="11.11" y1="19.41" x2="11.11" y2="27.22"/><line class="cls-4" x1="2.82" y1="27.22" x2="2.82" y2="19.41"/><path class="cls-4" d="M6.82,13.62a2.45,2.45,0,0,1-2.44-2.49V10.3a2.44,2.44,0,1,1,4.88,0v.83A2.45,2.45,0,0,1,6.82,13.62Z" transform="translate(-1.08 -0.6)"/><path class="cls-4" d="M9.75,15.69a9.17,9.17,0,0,0-2.93-.56c-1.83,0-5.37,1-5.37,2.93V24a1.88,1.88,0,0,0,2,1.95" transform="translate(-1.08 -0.6)"/><line class="cls-4" x1="25.27" y1="27.22" x2="25.27" y2="19.41"/><path class="cls-4" d="M23.42,13.62a2.45,2.45,0,0,0,2.44-2.49V10.3a2.44,2.44,0,1,0-4.88,0v.83A2.45,2.45,0,0,0,23.42,13.62Z" transform="translate(-1.08 -0.6)"/><path class="cls-4" d="M20.49,15.69a9.17,9.17,0,0,1,2.93-.56c1.83,0,5.37,1,5.37,2.93V24a1.88,1.88,0,0,1-1.95,1.95" transform="translate(-1.08 -0.6)"/></g></g></g></svg>
                  <h1 class="L3-header-h">Meet Our People</h1>
                  <h2 class="L3-header-sub-h">HORNE LLP</h2>
                </div>
              </div>
            </div>
          </div>
        </header>

        <div class="container py-5">
            <div class="row py-5">

                <!-- PHOTO -->
                <div class="col-sm-4 col-md-3 mb-3 mb-md-0">
                    <img src="@photoUrl" class="img-fluid people-single-photo people-hex-photo" alt="@teamMember.Name">
                </div>

                <div class="col-sm-8 col-md-9 color-white bg-color-secondary element-links-white">
                    <div class="row">

                        <!-- NAME AND CONTACT INFO -->
                        <div class="col-md-9">
                            <div class="pt-3 pr-3 pb-0 pl-3 p-md-5 p-lg-6">
                                <h2 class="h4">@teamMember.Name@{if (!String.IsNullOrEmpty(teamMember.EmployeeProfessionalDesignation)){@Html.Raw(", " + teamMember.EmployeeProfessionalDesignation) }}</h2>
                                <ul class="list-unstyled mb-0">
                                    <li>@teamMember.EmployeePosition</li>
                                    <li><a href="mailto:@employeeEmail">@employeeEmail</a></li>
                                    <li class="mt-3">@Html.Partial("OfficeCityState", new ViewDataDictionary { { "officeNodeId", @teamMember.EmployeeOfficeLocation } })</li>
                                </ul>

                                <ul class="list-inline">
                                    @if(!String.IsNullOrEmpty(teamMember.EmployeePhoneDirect.ToString()))
                                    {
                                        <li class="list-inline-item">
                                        @Html.Raw("Direct: <a href='tel:1" + teamMember.EmployeePhoneDirect + "'>" + teamMember.EmployeePhoneDirect + "</a>")	
                                        </li>
                                    }
                                    @if(!String.IsNullOrEmpty(teamMember.EmployeeFax.ToString()))
                                    {
                                        <li class="list-inline-item">
                                        @Html.Raw("FAX: " + teamMember.EmployeeFax)
                                        </li>	
                                    }
                                </ul>
                            </div>
                        </div>

                        @{
                            var employeeResourcePath = "";
                            var resourceGroup = teamMember.EmployeeGroup;
                            
                            if (resourceGroup.Contains("Banking Leadership"))
                            {
                                employeeResourcePath = "/resources/financial-institutions/";
                            }
                            else if (resourceGroup.Contains("Construction Leadership"))
                            {
                                employeeResourcePath = "/resources/construction/";
                            }
                            else if (resourceGroup.Contains("Franchise Leadership"))
                            {
                                employeeResourcePath = "/resources/franchise/";
                            }
                            else if (resourceGroup.Contains("Government Services Leadership"))
                            {
                                employeeResourcePath = "/resources/government-services/";
                            }
                            else if (resourceGroup.Contains("Health Care Leadership"))
                            {
                                employeeResourcePath = "/resources/healthcare/";
                            }
                            else if (resourceGroup.Contains("HORNE Wealth Advisors Leadership"))
                            {
                                employeeResourcePath = "/resources/private-wealth/";
                            }
                            else if (resourceGroup.Contains("Private Wealth Leadership"))
                            {
                                employeeResourcePath = "/resources/private-wealth/";
                            }
                            else if (resourceGroup.Contains("HORNE Wealth Strategies Leadership"))
                            {
                                employeeResourcePath = "/resources/private-wealth/";
                            }
                            else if (resourceGroup.Contains("Public & Middle Market Leadership"))
                            {
                                employeeResourcePath = "/resources/public-middle-market/";
                            }
                            else
                            {
                                employeeResourcePath = "/resources/horne/";
                            }
                        }

                        <!-- SOCIAL MEDIA -->
                        <div class="col-md-3 text-md-right">
                            <div class="pt-0 pr-3 pb-3 pl-3 p-md-5 p-lg-6">
                                <ul class="list-unstyled">
                                    @if (!String.IsNullOrEmpty(teamMember.LinkedInUrl))
                                    {
                                        string linkedInUrl = (teamMember.LinkedInUrl.Contains("http")) ? teamMember.LinkedInUrl : "http://" + teamMember.LinkedInUrl;
                                        <li class="d-inline mr-2 d-md-block mr-md-0 mb-md-3"><a href="@linkedInUrl" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
                                    }
                                    @if (!String.IsNullOrEmpty(teamMember.TwitterUrl))
                                    {
                                        string TwitterUrl = (teamMember.TwitterUrl.Contains("http")) ? teamMember.TwitterUrl : "http://" + teamMember.TwitterUrl;
                                        <li class="d-inline mr-2 d-md-block mr-md-0 mb-md-3"><a href="@TwitterUrl" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>
                                    }
                                    @if (!String.IsNullOrEmpty(teamMember.BlogUrl))
                                    {
                                        string BlogUrl = (teamMember.BlogUrl.Contains("http")) ? teamMember.BlogUrl : "http://" + teamMember.BlogUrl;
                                        <li class="d-inline mr-2 d-md-block mr-md-0 mb-md-3"><a href="@BlogUrl" target="_blank"><i class="fa fa-2x fa-blog-temp"></i></a></li>
                                    }
                                    @if (!String.IsNullOrEmpty(employeeResourcePath))
                                    {
                                        <li class="d-inline mr-2 d-md-block mr-md-0"><a href="@employeeResourcePath" target="_blank"><i class="fa fa-2x fa-lightbulb-white"></i></a></li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row pt-4">
                <div class="col-12 employee-text">

                    @{
                        var hasBio = !String.IsNullOrEmpty(teamMember.EmployeeBio.ToString());
                        var hasSummary = !String.IsNullOrEmpty(teamMember.EmployeeSummary.ToString());
                        var hasAffiliations = !String.IsNullOrEmpty(teamMember.EmployeeProfessionalAffiliations.ToString());
                    }

                    @if(hasBio)
                    {
                        <div id="employeeBio" class="employee-bio">
                            @teamMember.EmployeeBio
                        </div>
                    }

                    @if(hasBio && (hasSummary || hasAffiliations))
                    {
                        @:<div class="collapse" id="moreEmployeeInfo">
                    }

                        @if(hasSummary)
                        {
                            <div id="employeeSummary" class="employee-summary">
                                <h2>About</h2>	
                                @teamMember.EmployeeSummary
                            </div>
                        }

                        @if(hasAffiliations)
                        {
                            <div id="professionalAffiliations" class="professional-affiliations">
                                <h2>Professional Affiliations</h2>	
                                @teamMember.EmployeeProfessionalAffiliations
                            </div>
                        }

                    @if(hasBio && (hasSummary || hasAffiliations))
                    {
                        @:</div>
                    }

                    @if(hasBio && (hasSummary || hasAffiliations))
                    {
                        <p class="text-right">
                            <button class="btn btn-link link-plus-caps link-plain" type="button" data-toggle="collapse" data-target="#moreEmployeeInfo" aria-expanded="false" aria-controls="moreEmployeeInfo">Full Bio</button>
                        </p>
                    }
                </div>
            </div>

        </div>

      </article>
    </main>
}