@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "InteriorPage.cshtml";
	var employeeEmail = CurrentPage.EmployeeemailAddress.Replace("horne-llp","hornellp");
@*var contentCurrent = Umbraco.Content(CurrentPage.Id); *@
@*string photoUrl = contentCurrent.GetCropUrl(propertyAlias: "employeephoto" , cropAlias: "Team Photo Profile"); *@
	@*var photoUrl = CurrentPage.GetCropUrl(propertyAlias: "employeephoto" , cropAlias: "Team Photo Profile");*@
	
	var photoUrl = Umbraco.Media(CurrentPage.EmployeePhoto).GetCropUrl(cropAlias: "Team Photo Profile");
}

@section Body{
	<!--=SITE CONTENT-->
    <div class="wrapper wrapper_standard wrapper_team">
      <!-- SECTION HEADER-->
      <header class="container-fluid container_section-header">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 class="section-header reverse-hdr">Our People</h1>
          </div>
        </div>
      </header>
      <!-- SORT BUTTONS-->
		@Html.Partial("TeamMemberFilter")
      <!-- TEAM BIO-->
      <div class="container container_team-bio">
        <div class="row append-btm-lg">
          <div class="col-sm-3"><img src="@photoUrl" class="img-responsive" alt="@CurrentPage.Name">
            <div class="social-icons pull-right prepend-top-sm">
              <ul class="list-inline">
				@if (!String.IsNullOrEmpty(CurrentPage.LinkedInUrl)){
					string linkedInUrl = (CurrentPage.LinkedInUrl.Contains("http")) ? CurrentPage.LinkedInUrl : "http://" + CurrentPage.LinkedInUrl;
                	<li><a href="@linkedInUrl" target="_blank"><i class="fa fa-linkedin fa_square-wrap fa_color"></i></a></li>
				}
              </ul>
            </div>
          </div>
          <div class="col-sm-9">
			  <h1 class="h3 plain no-margin-btm">@CurrentPage.Name@{if (!String.IsNullOrEmpty(CurrentPage.EmployeeProfessionalDesignation)){@Html.Raw(", " + CurrentPage.EmployeeProfessionalDesignation) }}</h1>
            <ul class="list-unstyled">
              <li>@CurrentPage.EmployeePosition</li>
              <li><a href="mailto:@employeeEmail">@employeeEmail</a></li>
            </ul>
			@Html.Partial("Office Address", new ViewDataDictionary { { "officeNodeId", @CurrentPage.EmployeeOfficeLocation } })
			@if(!String.IsNullOrEmpty(CurrentPage.EmployeePhoneDirect.ToString())){
			<br />
			@Html.Raw("Direct: <a href='tel:1" + CurrentPage.EmployeePhoneDirect + "'>" + CurrentPage.EmployeePhoneDirect + "</a>")	
			}
			@if(!String.IsNullOrEmpty(CurrentPage.EmployeeFax.ToString())){
			<br />
			@Html.Raw("FAX: " + CurrentPage.EmployeeFax)	
			}
			<br /><br />
           <!-- <ul class="list-unstyled">
              <li>1020 Highland Colony Parkway</li>
              <li>Suite 400</li>
              <li>Ridgeland, MS 39157</li>
              <li>Main: 601.326.1000</li>
              <li>Direct: 601.326.1080</li>
            </ul>
				-->
            @CurrentPage.EmployeeSummary
			@if(!String.IsNullOrEmpty(CurrentPage.EmployeeProfessionalAffiliations.ToString())){
			<strong>Professional Affiliations</strong>	
			@CurrentPage.EmployeeProfessionalAffiliations
			}
				
				
				
			
          </div>
        </div>
      </div>
    </div>
}