//- PATH FOR DEV AND PRODUCTION
//---------------------------------------------------
- var path = "http://localhost:8080"
//- var path = "http://horne2018.addisonhall.com/v5"

block vars
    - var bodyClass = "home"
    - var headJs = null

include ../includes/components/_search

doctype html
html(lang="en")

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title HORNE LLP 2018
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(href="https://use.typekit.net/xaj2isa.css", rel="stylesheet")
        link(href=path + "/assets/css/horne.css?v=1.0.6", rel="stylesheet")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js")
        meta(name="robots", content="noindex, nofollow")
        != headJs

    body(class=bodyClass)

        include ../includes/_nav-2018.pug

        main.site-main(role="main")
            block content

        include ../includes/_horne-site-footer-v2.pug

    script(src=path + '/assets/js/horne.js')