.section-quote {
    background-color: $secondary;
    color: $white;
    padding-top: calculateRem(40px);
    padding-bottom: calculateRem(30px);
    box-shadow: inset 0 -6px 8px 0 rgba($color: #000000, $alpha: 0.5);

    @include media-breakpoint-up(md) {
        padding-top: calculateRem(56px);
        padding-bottom: calculateRem(40px);
    }
}

.quote-text {
    background: transparent url('../img/quote-bar-2x.png') no-repeat center bottom;
    background-size: 502px 25px;
    @include fontSize(20px);
    line-height: 1.3;
    margin-bottom: calculateRem(15px);
    padding-bottom: calculateRem(50px);

    @include media-breakpoint-up(md) {
        @include fontSize(24px);
    }
}

.quote-person-img-wrap {
    width: 64px;
    height: 64px;
    overflow: hidden;
}

.quote-person-img {
    width: 64px;
    height: auto;
}

.quote-person-name {
    @include fontSize(16px);
    font-weight: bold;
    margin-bottom: 0;
}

.quote-person-title {
    @include fontSize(14px);
}