// TODO: Clean up transitions

// Search (mainly big screen search)
.form-navbar-search-v2 {
    position: relative;
    right: 0;
    z-index: 2;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}
.form-navbar-search-v2.slide-over {
    right: -140px;
}
.form-navbar-search-v2,
.form-control-search-v2 {
    transition: all 0.3s ease;
}
.form-control-search-v2 {
    background-color: transparent;
    border-color: transparent;
    border-radius: 36px;
    @include fontSize(14px);
    font-weight: bold;
    padding-left: 45px;
    transition: width 0.3s ease, background-color 0.3s ease;

    @include media-breakpoint-up(xl) {
        @include fontSize(16px);
    }
    
    &::placeholder {
        opacity: 0.7;
    }

    &:focus {
        border-color: transparent;
        box-shadow: none;
    }
}
.form-navbar-search-v2:not(.form-navbar-search-mobile-v2) .form-control-search-v2 {
    width: 140px;

    &:focus {
        background-color: $color-background-xtra-pale;
        width: 400px;
    }
}
.icn-search-v2 {
    position: absolute;
    left: 18px;
    top: 15px;
    opacity: 0.3;
    width: 20px;
    height: 20px;
    z-index: 3;
}

.btn-search-close {
    transition: opacity 0.3s ease;
    position: absolute;
    top: 8px;
    right: 26px;
    width: 18px;
    height: 18px;
    padding: 0;
}
.btn-search-close.hide-me {
    transition-duration: 0.1s;
}
.icn-search-close {
    width: 18px;
    height: 18px;
}

// Little screen search (inherits some styling from big screen search)
.form-navbar-search-mobile-v2 {
    background-color: $color-background-pale;
    display: block;
    padding: calculateRem(18px) calculateRem(15px);

    @include media-breakpoint-up(xl) {
        display: none;
    }

    .icn-search-v2 {
        left: 30px;
        top: 31px;
        opacity: 0.8;
    }

    .form-control-search-v2 {
        background-color: $white;
        width: 100%;
    }
}

// Footer search
.footer-search-form-v2 {
    max-width: 420px;
    position: relative;
    
    .icn-search-v2 {
      opacity: .8;
    }
    .footer-search-input {
      padding-left: 45px;
      border-radius: 36px;
      border-color: transparent;
      @include fontSize(14px);
      font-weight: bold;
      transition: width 0.3s ease;

      @include media-breakpoint-up(md) {
        width: 240px;
      }

      @include media-breakpoint-up(xl) {
        @include fontSize(16px);
      }

      &::placeholder {
        opacity: 0.7;
      }

      &:focus {
        border-color: transparent;
        box-shadow: none;
        width: 420px;
      }
    }
  }