.section-L2-header .page-breadcrumb {
    color: $white;
    @include fontSize(14px);
    position: absolute;
    top: calculateRem(6px);
    left: calculateRem(18px);

    .breadcrumb-item + .breadcrumb-item::before {
        color: $white;
    }

    .breadcrumb-item.active a {
        color: rgba($white, 0.5);
        border-bottom: 1px solid rgba($white, 0.5);
    }

    .breadcrumb-item a {
        border-bottom: 1px solid $white;
        color: $white;
    }
    .breadcrumb-item a:focus,
    .breadcrumb-item a:hover {
        text-decoration: none;
    }
}

.section-L3-intro .page-breadcrumb {
    color: #828282;
    @include fontSize(14px);
    position: absolute;
    top: calculateRem(6px);
    left: calculateRem(18px);

    .breadcrumb-item + .breadcrumb-item::before {
        color: #828282;
    }

    .breadcrumb-item.active a {
        color: #989A9C;
        border-bottom: 1px solid #989A9C;
        opacity: 0.5;
    }

    .breadcrumb-item a {
        border-bottom: 1px solid #989A9C;
        color: #989A9C;
    }
    .breadcrumb-item a:focus,
    .breadcrumb-item a:hover {
        text-decoration: none;
    }
}
