.section-resources {
    background-color: $color-background-pale;
    border-bottom: 1px solid #D5D5D5;
    padding-top: calculateRem(48px);
    padding-bottom: calculateRem(54px);

    @include media-breakpoint-up(md) {
        padding-top: calculateRem(80px);
        padding-bottom: calculateRem(80px);
    }
}

@include media-breakpoint-down(md) {
    .section-resources-header {
        padding-left: calculateRem(16px);
        padding-right: calculateRem(16px);
    }
}

.resources-item {
    display: flex;
}

.card-resources-h {
    @include fontSize(18px);
}

.card-resources-text {
    color: $color-text-gray;
    @include fontSize(15px);
}

.resources-item-btn {
    position: absolute;
    bottom: calculateRem(30px);
    z-index: 1;
}

.card-resources {
    background-color: $white;
    background-color: rgba($color: $white, $alpha: 0.7);
    border: none;
    display: -ms-grid;
    position: relative;
    transition: background-color 0.25s ease-in-out;
    z-index: 1;
}
.card-resources:focus,
.card-resources:hover {
    background-color: rgba($color: $white, $alpha: 1.0);
}
.card-resources::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    box-shadow: 0 2px 6px rgba(#000000, 0.1);
    transition: opacity 0.25s ease-in-out;
}
.card-resources:focus::after,
.card-resources:hover::after {
    opacity: 1;
}

.card-resources-img {
    position: absolute;
    top: calculateRem(12px);
    right: calculateRem(12px);
}

.card-resources-body {
    padding: calculateRem(40px) calculateRem(21px) calculateRem(48px) calculateRem(21px);
}