.btn-arrow {
    background: transparent url('../img/text-link-arrow.svg') no-repeat -4px center;
    background-size: 20px 20px;
    color: $primary;
    @include fontSize(13px);
    padding: 2px 0 2px 18px;
    
    @include media-breakpoint-up(sm) {
        background-size: 28px 28px;
        @include fontSize(15px);
        padding-left: 26px;
    }
}
