//== Level 3 page header
//=======================

// General header styling
.section-L3-header {

    color: $white;

    .jumbotron {
        background-color: $primary;
        margin-bottom: 0;
        padding-top: calculateRem(30px);
        padding-bottom: calculateRem(24px);

        @include media-breakpoint-up(md) {
            padding-top: calculateRem(40px);
            padding-bottom: calculateRem(30px);
        }
    }

}

.L3-header-h {
    @include fontSize(36px);
    margin-top: calculateRem(16px);
    margin-bottom: calculateRem(8px);

    @include media-breakpoint-up(lg) {
        @include fontSize(48px);
    }
}

.L3-header-sub-h {
    @include fontSize(20px);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    opacity: 0.7;
}

// Franchise
.franshise .section-L3-header .jumbotron {
    background-color: $color-franchise;
}

// Government Services
.government .section-L3-header .jumbotron {
    background-color: $color-government;
}

// Public/Middle Market
.public-mid-market .section-L3-header .jumbotron {
    background-color: $color-public-mid-market;
}

// Construction
.construction .section-L3-header .jumbotron {
    background-color: $color-construction;
}

// Cyber
.cyber .section-L3-header .jumbotron {
    background-color: $color-cyber;
}

// Healthcare
.healthcare .section-L3-header .jumbotron {
    background-color: $color-healthcare;
}

// Private Wealth
.private-wealth .section-L3-header .jumbotron {
    background-color: $color-private-wealth;
}

// Financial
.financial .section-L3-header .jumbotron {
    background-color: $color-financial-institution;
}

// Capital
.capital .section-L3-header .jumbotron {
    background-color: $color-public-mid-market;
}

// Puerto Rico
.puerto-rico .section-L3-header .jumbotron {
    background-color: $color-government;
}
