// Pixels to rem font sizes
// http://www.stubbornella.org/content/2013/07/01/easy-peasy-rem-conversion-with-sass/
@mixin fontSize($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
}

// Mixin for header colors/images
@mixin L2-header-style($color, $imgbig, $imgsm, $lg-top: 0, $lg-right: -124px, $xl-top: 0, $xl-right: 0) {
    background-color: $color;
    background-image: url($imgsm);
    
    @include media-breakpoint-up(lg) {
        background-image: url($imgbig);
        background-position: top $lg-top right $lg-right;
    }
    @include media-breakpoint-up(xl) {
        background-position: top $xl-top right $xl-right;
    }
}

// Mixing for coloring icons
@mixin iconColors($iconFill: $primary, $headerIconFill: rgba($color: #fff, $alpha: 0.7)) {
  .icn-dollar-sign-shining .cls-1,
  .icn-coin-up-arrow .cls-2,
  .icn-hand-holding-money .cls-1,
  .icn-checkbox .cls-2,
  .icn-sneaky-man .cls-1,
  .icn-calculator .cls-1, .icn-calculator .cls-2,
  .icn-padlock-cyber .cls-2,
  .icn-hands-w-gear .cls-1, .icn-hands-w-gear .cls-4,
  .icn-lighthouse .cls-1,
  .icn-puzzle-pieces .cls-1,
  .icn-shaking-hands .cls-1,
  .icn-bag-of-money .cls-1,
  .icn-joined-hands .cls-2,
  .icn-group-of-people .cls-1,
  .icn-person-w-outward-arrows .cls-1  {
    fill: $iconFill;
  }
  .section-L3-header {
    .icn-dollar-sign-shining .cls-1,
    .icn-coin-up-arrow .cls-2,
    .icn-hand-holding-money .cls-1,
    .icn-checkbox .cls-2,
    .icn-sneaky-man .cls-1,
    .icn-calculator .cls-1, .icn-calculator .cls-2,
    .icn-padlock-cyber .cls-2,
    .icn-hands-w-gear .cls-1, .icn-hands-w-gear .cls-4,
    .icn-lighthouse .cls-1,
    .icn-puzzle-pieces .cls-1,
    .icn-shaking-hands .cls-1,
    .icn-bag-of-money .cls-1,
    .icn-joined-hands .cls-2,
    .icn-group-of-people .cls-3,
    .icn-person-w-outward-arrows .cls-1 {
      fill: $headerIconFill;
    }
  }
}