.site-logo {
    height: 115px;
    width: 210px;
}

// Recreate old nav
.site-brand-logo {
    height: 115px;
    width: 210px;
    padding: 20px 0 12px;
}
@media (max-width: 767px) {
	.navbar-header {
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
}
@media (min-width: 768px) {
	.site-brand-logo {
		padding: 25px 0 30px;
	}
}
@media (min-width: 768px) {
    .navbar-header {
		float: left;	
    }
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after {
  display: table;
  content: " ";
}
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after {
  clear: both;
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 8px 15px;
	}
}

.fa-brand-red, a .fa-brand-red {
    color: $primary;
}

// Site utility nav
.navbar_utility {
    background-color: #ece9e2;
    border-bottom: 1px solid #d1cabb;
	font-size: 12px;
    margin-bottom: 0;
    padding: 0;
	z-index: 1100;

	> .container-fluid {
		padding-left: 0;
	}

	.navbar-header {
		float: right;
	}

	.navbar-toggler {
		border: 0;
		padding: 4px 14px;
	}

	.navbar-toggler:focus, .navbar-toggler:hover {
		background-color: transparent;
	}

	.navbar-toggler-icon {
		width: 1em;
		height: 1em;
	}

	.navbar-nav>li>a {
		color: #414042;
	}
}

@media screen and (min-width: 1042px) {
	.navbar_utility {
		padding-left: 32px;

		> .container-fluid {
			padding-left: 15px;
		}
	}
}

.navbar_site-toggle {
	background-color: lighten(#D7D1C4, 7%);
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	line-height: 25px;
	margin-bottom: 0;
	margin-top: 0;

	.nav-item .nav-link {
		padding: 8px 15px;
	}


	@media screen and (max-width: 418px) {
		float: none;
		width: 254px;
		height: 45px;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;

		.nav-item .nav-link {
			padding: 11px 15px;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 208px;
			width: 45px;
			height: 45px;
			background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 100%);
			background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
			background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.15) 100%);
		}
	}

	@media screen and (min-width: 480px) {
		display: block;
	}

	@media screen and (min-width: 1042px) {
		border-left: 1px solid #d1cabb;
	}
}

.navbar_site-toggle > li {
	border-right: 1px solid #d1cabb;
	float: left;

	@media screen and (max-width: 418px) {
		float: none;
		display: inline-block;
	}
}

.navbar_utility .navbar_site-toggle > .active > a {
	background-color: #fff;
}

.navbar_utility .navbar_site-toggle > .active > a:after {
	color: $primary;
	content: '\f0d7';
	font-family: 'FontAwesome';
	font-size: 120%;
	line-height: 1;
	margin-left: 6px;
}

.site-toggle-mobile {
	display: none;
	margin-top: 3px;

	@media screen and (max-width: 479px) {
		display: block;
	}
}

.navbar-nav_utility {
	line-height: 25px;
}

.navbar-nav_utility li {
	position: relative;
}

.navbar-nav_utility a:after {
	background-color: #d1cabb;
	content: '';
	height: 50%;
	position: absolute;
	top: 25%;
	right: 0;
	width: 1px;
}

.nav-itm_no-divide > a:after,
.navbar-nav_utility li:last-child > a:after {
	background-color: transparent;
	content: '';
}

.navbar_utility .navbar-nav_utility .nav-itm_bold > a {
	background-color: $primary;
	color: #fff;

	// .fa_circle-wrap-bold:extend(.fa_circle-wrap) {
	// 	background-color: $primary;
	// }
}

.navbar_utility .navbar-nav_utility .nav-itm_bold > a:focus,
.navbar_utility .navbar-nav_utility .nav-itm_bold > a:hover {
	background-color: darken($primary, 10%);
	color: #fff;

	// .fa_circle-wrap-bold:extend(.fa_circle-wrap) {
	// 	background-color: darken($primary, 10%);
	// }
}

.navbar_utility .navbar-nav_utility {
	.fa {
		font-size: 110%;
	}
	.nav-itm_twitter, .nav-itm_linkedin {
		font-size: 14px;
	}
	.nav-itm_twitter a {
		padding-right: 8px;
		padding-left: 15px;
	}
	.nav-itm_linkedin a {
		padding-left: 8px;
		padding-right: 15px;
	}
}

.navbar-form_search {
	padding: 0;

	// @media screen and (max-width: 769px) {
	// 	background-color: lighten(@brand-accent-light, 5%);
	// }
}

.navbar-form_search {
	.form-control {
		background-color: transparent;
		border: none;
		box-shadow: none;
		font-size: 12px;
		padding: 0.55rem 1.25rem;
		width: 136px;
	}
	.btn-default {
		background-color: transparent;
		border: none;
		color: $color-text-gray;
	}
}

@media screen and (max-width: 1199px) {

	.navbar_utility {
		padding-left: 0;

		> .container-fluid {
			padding-left: 15px;
		}
	}

	.navbar-nav_utility {
		flex-direction: row;
		margin-bottom: 0;

		.nav-item .nav-link {
			padding: 10px;
		}
	}

	.navbar-nav_utility a:after {
		border: none;
	}

	.navbar-nav_utility .nav-item:not(.nav-itm_twitter):not(.nav-itm_linkedin){
		width: 100%;
	}

	.navbar-collapse_utility {
		background-color: lighten(#D7D1C4, 10%);
		clear: both;

		.navbar-toggler {
			border: none;
		}

		.navbar-form {
			margin-top: 0;
			border-top: none;
		}

		.navbar-form .form-group {
			float: left;
			margin: 0;
		}
		.navbar-form .btn {
			float: right;
			padding: 9px 18px;
		}
	}
	.navbar_utility-hornewealth .navbar-collapse_utility .navbar-form {
		margin-top: 0;
		margin-bottom: 0;
		border-top: none;
		border-bottom: none;
	}

	.navbar-form_search {
		position: relative;

		.form-group {
			width: 100%;
			margin-bottom: 0;
		}
		.form-control {
			line-height: 25px;
		}
		.btn-default {
			position: absolute;
			top: 0;
			right: 0;
			padding: 9px 18px;
		}
	}
}

// Temp main nav
.navbar_site-brand-hdr .navbar-nav_brand {
	flex-direction: row;
    font-family: 'proxima-nova-condensed', sans-serif;
    font-size: 13px;
    position: relative;
	z-index: 100;

	.navbar-brand {
		margin-right: 0;
	}
	
	.dropdown-menu {
		border: 1px solid #7C858C;
		border-radius: 0;
		-webkit-box-shadow: 0 6px 6px rgba(118,104,74,0.3);
		box-shadow: 0 6px 6px rgba(118,104,74,0.3);
		background-color: #fff;
		font-size: 15px;
		margin-top: -1px;
		padding: 0;
		position: absolute;
		z-index: -1;
	}

	@media (max-width: 421px) {
		.nav-item.dropdown {
			position: unset;
		}
		.dropdown-menu.pull-center {
			right: 0;
		}
	}

	@media (min-width: 422px) {
		.dropdown-menu.pull-center {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	>li>a {
		color: #414042;
		padding: 8px 4px 18px;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
	}

	>.show>a,
	>.show>a:focus,
	.navbar_site-brand-hdr .navbar-nav_brand>.show>a:hover {
		background-color: #fff;
		border-color: #7C858C;
	}

	>li>a:focus,
	>li>a:hover {
		background-color: transparent;
	}
}
@media screen and (min-width: 562px) {
	.navbar_site-brand-hdr .navbar-nav_brand {
		font-family: 'proxima-nova', sans-serif;
		font-size: 20px;
	}
}
@media screen and (min-width: 991px) {
	.navbar_site-brand-hdr {
		padding: 0 72px 0 36px;
	}
}
.navbar_site-brand-hdr .navbar-nav_brand>li>a {
	color: #414042;
    padding: 8px 4px 18px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
@media screen and (min-width: 562px) {
	.navbar_site-brand-hdr .navbar-nav_brand>li>a {
		padding: 14px 12px;
	}
}

.nav-stacked_rules.dropdown-menu .dropdown-item {
	padding: 8px 15px;
	position: relative;

	&:focus, &:hover, &:active{
		background-color: #ece9e2;
	}
}
.nav-stacked_rules.dropdown-menu .dropdown-item::after {
	content: "";
    position: absolute;
    width: 84%;
    height: 2px;
    bottom: 0;
    left: 15px;
    background-color: #ece9e2;
}
.nav-stacked_rules.dropdown-menu .dropdown-item:last-child::after {
	display: none;
}
.nav-stacked_rules.dropdown-menu .dropdown-item + .dropdown-item {
    margin: -2px 0;
}