.section-subpages {
    background-color: $white;
    padding-top: calculateRem(48px);
    padding-bottom: calculateRem(48px);
    
    @include media-breakpoint-up(md) {
        padding-top: calculateRem(86px);
        padding-bottom: calculateRem(64px);
    }
}

.subpages-h-wrap {
    margin-bottom: calculateRem(24px);
}
.subpages-h {
    @include fontSize(30px);
    border-top: 3px solid $primary;
    letter-spacing: calculateRem(-.5px);
    border-bottom: 3px solid $primary;
    padding: calculateRem(16px) 0 calculateRem(18px);
}
@include media-breakpoint-up(md) {
    .subpages-h-wrap {
        margin-bottom: calculateRem(60px);
    }
    .subpages-h {
        @include fontSize(36px);
        border-top: 3px solid $primary;
        letter-spacing: calculateRem(-.5px);
        border-bottom: 3px solid $primary;
        padding: calculateRem(16px) 0 calculateRem(18px);
    }
}

.subpages-intro {
    @include fontSize(18px);
}

.subpages-item {
    position: relative;
    margin-bottom: calculateRem(48px);
}
.subpages-item-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    text-align: right;
    padding-right: calculateRem(12px);
}
.subpages-item-content {
    padding-left: 20%;
    padding-right: calculateRem(10px);
}
.subpages-item-h {
    @include fontSize(20px);
}
.subpages-item-text {
    @include fontSize(15px);
}

@include media-breakpoint-down(xs) {
    .section-subpages > .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .subpages-item {
        display: flex;
        margin-bottom: calculateRem(20px);
    }
    .subpages-item-inner {
        border: 1px solid $color-background-pale;
        border-radius: calculateRem(2px);
        box-shadow: 0 2px 6px rgba(#000000, 0.1);
        padding: calculateRem(12px) calculateRem(18px) calculateRem(36px);
        text-align: center;
        width: 100%;
    }
    .subpages-item-icon {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .subpages-item-content {
        padding: 0;
    }
    .subpages-item-h {
        @include fontSize(16px);
    }
    .subpages-item-text {
        display: none;
    }
    .subpages-item-btn {
        position: absolute;
        bottom: calculateRem(12px);
        transform: translateX(-50%);
        line-height: 1;
    }
}