.section-team {
  background-color: $color-background-pale;
  border-bottom: 1px solid #D5D5D5;
  padding-top: calculateRem(48px);
  padding-bottom: calculateRem(54px);
  
  @include media-breakpoint-up(md) {
    padding-top: calculateRem(80px);
    padding-bottom: calculateRem(80px);
  }
}

@include media-breakpoint-down(md) {
  .section-team-header {
    padding-left: calculateRem(16px);
    padding-right: calculateRem(16px);
  }
}

@include media-breakpoint-down(sm) {
  .section-team > .container {
    max-width: 100%;
  }
  .section-team-row {
    display: block;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .team-item {
    display: inline-block;
    width: calc(100vw - 35%);
  }
}

@include media-breakpoint-down(xs) {
  .team-item {
    width: calc(100vw - 25%);
  }
}

.one-team-member .card-team {
  opacity: 1;
}
.card-team {
  background-image: url('../img/bg-angle-right-red.png');
  background-repeat: no-repeat;
  background-size: 9px 16px;
  background-position: bottom 24px right 20px;
  position: relative;
  opacity: 0.7;
  -webkit-transition: opacity .6s;
  transition: opacity .25s ease-in-out;
  z-index: 1;
}
.card-team::before {
  content: '';
  display: block;
  width: 23px;
  height: 16px;
  background-image: url('../img/bg-angle-right-red-arrow.png');
  background-repeat: no-repeat;
  background-size: 23px 16px;
  position: absolute;
  right: 20px;
  bottom: 24px;
  opacity: 0;
  -webkit-transition: opacity .6s;
  transition: opacity .25s ease-in-out;
}
.card-team:focus::before,
.card-team:hover::before {
  opacity: 1;
}
.card-team::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  box-shadow: 0 2px 6px rgba(#000000, 0.1);
  transition: opacity 0.25s ease-in-out;
}
.card-team:hover,
.card-team:hover::after {
  opacity: 1;
}

.card-team-img {
  padding: 6px 6px 0 6px;
  flex-shrink: 0;
}

.card-team-body {
  padding: calculateRem(20px) calculateRem(26px);
}