// Default icon
.icn-18px {
  width: 18px;
  height: 18px;
}
.icn-30px {
  width: 30px;
  height: 30px;
}

// Icon colors
.icn-svg {
  .cls-1,
  .cls-2,
  .cls-3 {
    // set default dark color,
    // so that inline svg styles
    // don't mess with each other
    fill: $secondary;
  }
}

// Default icon colors
@include iconColors();

// Services icons
.icn-dollar-sign-shining {
  width: 35px;
  height: 35px;
}
.icn-coin-up-arrow {
  width: 30px;
  height: 33px;
}
.icn-hand-holding-money {
  width: 37px;
  height: 31px;
}
.icn-checkbox {
  width: 32px;
  height: 29px;
  clip-path: unset;
}
.icn-sneaky-man {
  width: 29px;
  height: 30px;
}
.icn-calculator {
  width: 18px;
  height: 31px;
}
.icn-padlock-cyber {
  width: 33px;
  height: 33px;
}
.icn-people-making-building {
  width: 33px;
  height: 33px;
  
  .cls-1 { fill: $primary; }
  .cls-2 { stroke-width: .1px; }
}
.icn-building-blocks {
  width: 50px;
  height: 50px;
  
  .cls-2 { fill: $primary; }
}
.icn-joined-hands {
  width: 50px;
  height: 50px;
  
  .cls-2 { fill: $primary; }
}
.icn-person-through-mag-lense {
  width: 40px;
  height: 40px;
  
  .cls-1 { fill: $primary; }
  .cls-2 { fill: none; stroke-width: .4px; }
}
.icn-person-w-outward-arrows {
  width: 35px;
  height: 35px;
  
  .cls-1 { fill: $primary; }
  .cls-2 { stroke-width: .1px; }
}
.icn-group-of-people {
  width: 35px;
  height: 35px;
  
  .cls-1 { fill: $primary; }
  .cls-2 { fill: none; stroke-width: .4px; }
}
.icn-person-with-diagram {
  width: 40px;
  height: 40px;
  
  .cls-1 { fill: $primary; }
  .cls-2 { stroke-width: .1px; }
}
.icn-person-w-mortarboard {
  width: 40px;
  height: 40px;
  
  .cls-1 { fill: $primary; }
  .cls-2 { stroke-width: .1px; }
}
.icn-megaphone {
  width: 40px;
  height: 40px;
  
  .cls-1 { fill: $primary; }
  .cls-2 { stroke-width: .1px; }
}
.icn-hands-w-gear {
  width: 40px;
  height: 40px;
  
  .cls-1 { fill: rgba($color: #fff, $alpha: 0.7); }
  .cls-4 { fill: transparent; }
}
.icn-lighthouse {
  width: 40px;
  height: 40px;
  
  .cls-1 { fill: rgba($color: #fff, $alpha: 0.7); }
}
.icn-puzzle-pieces {
  width: 40px;
  height: 40px;
  
  .cls-1 { fill: rgba($color: #fff, $alpha: 0.7); }
}
.icn-shaking-hands {
  width: 40px;
  height: 40px;
  
  .cls-1 { fill: rgba($color: #fff, $alpha: 0.7); }
}
.icn-bag-of-money {
  width: 40px;
  height: 40px;
  
  .cls-1 { fill: rgba($color: #fff, $alpha: 0.7); }
}

// Header icons
.section-L3-header {
  .icn-dollar-sign-shining {
    width: 60px;
    height: 62px;
  }
  .icn-coin-up-arrow {
    width: 51px;
    height: 55px;
  }
  .icn-hand-holding-money {
    width: 69px;
    height: 57px;
  }
  .icn-checkbox {
    width: 64px;
    height: 58px;
  }
  .icn-sneaky-man {
    width: 55px;
    height: 57px;
  }
  .icn-calculator {
    width: 34px;
    height: 59px;
  }
  .icn-padlock-cyber {
    width: 57px;
    height: 57px;
  }
  .icn-people {
    width: 60px;
    height: 57px;
    
    .cls-3 { fill: darken($primary, 5%); }
  }
  .icn-locations {
    width: 60px;
    height: 60px;
    
    .cls-1 { fill: $primary; }
    .cls-2 { fill: $secondary; }
  }
  .icn-people-making-building {
    width: 60px;
    height: 60px;
    
    .cls-1 { fill: none; fill: rgba($secondary, 0.25); }
  }
  .icn-building-blocks {
    width: 60px;
    height: 60px;
    
    .cls-2 { fill: none; fill: rgba($secondary, 0.25); }
  }
  .icn-joined-hands {
    width: 60px;
    height: 60px;
    
    .cls-2 { fill: none; fill: rgba($secondary, 0.25); }
  }
  .icn-person-through-mag-lense {
    width: 50px;
    height: 50px;
    
    .cls-1 { fill: none; fill: rgba($secondary, 0.25); }
    .cls-2 { fill: none; }
  }
  .icn-person-w-outward-arrows {
    width: 50px;
    height: 50px;
    
    .cls-1 { fill: none; fill: rgba($secondary, 0.25); }
  }
  .icn-group-of-people {
    width: 50px;
    height: 50px;
    
    .cls-1 { fill: none; fill: rgba($secondary, 0.25); }
    .cls-2 { fill: none; }
  }
  .icn-person-with-diagram {
    width: 50px;
    height: 50px;
    
    .cls-1 { fill: none; fill: rgba($secondary, 0.25); }
  }
  .icn-person-w-mortarboard {
    width: 50px;
    height: 50px;
    
    .cls-1 { fill: none; fill: rgba($secondary, 0.25); }
  }
  .icn-hands-w-gear {
    width: 70px;
    height: 70px;
    
    .cls-1 { fill: rgba($color: #fff, $alpha: 0.7); }
    .cls-4 { fill: transparent; }
  }
  .icn-lighthouse {
    width: 60px;
    height: 70px;
    
    .cls-1 { fill: rgba($color: #fff, $alpha: 0.7); }
  }
  .icn-puzzle-pieces {
    width: 64px;
    height: 64px;
    
    .cls-1 { fill: rgba($color: #fff, $alpha: 0.7); }
  }
  .icn-shaking-hands {
    width: 72px;
    height: 60px;
    
    .cls-1 { fill: rgba($color: #fff, $alpha: 0.7); }
  }
  .icn-bag-of-money {
    width: 64px;
    height: 64px;
    
    .cls-1 { fill: rgba($color: #fff, $alpha: 0.7); }
  }
}

// Resource icons
.icn-page-w-line-graph {
  width: 14px;
  height: 18px;
  opacity: 1;
  
  .cls-1 { fill: $primary; }
}
.icn-stack-of-papers {
  width: 22px;
  height: 18px;
  opacity: 1;
  
  .cls-1 { fill: $primary; }
}
.icn-pie-chart {
  width: 18px;
  height: 18px;
  opacity: 1;
  
  .cls-1 { fill: none; }
  .cls-2 { fill: $primary; }
}
.icn-article {
  width: 14px;
  height: 18px;
  opacity: 1;
  
  .cls-1 { fill: $primary; }
}
.icn-blogging {
  width: 15px;
  height: 18px;
  opacity: 1;
  
  .cls-1 { fill: $primary; }
}
.icn-link {
  width: 16px;
  height: 16px;
  opacity: 1;
  
  .cls-1 { fill: $primary; }
}
.icn-video {
  width: 16px;
  height: 16px;
  opacity: 1;
  
  .cls-1 { fill: $primary; }
}
.icn-calendar {
  width: 16px;
  height: 16px;
  opacity: 1;
  
  .cls-1 { fill: $primary; }
}

// Healthcare icon colors
.healthcare {
  @include iconColors($color-healthcare, rgba($color: #fff, $alpha: 0.7));
}

// HORNE Capital icon colors
.capital {
  @include iconColors($color-public-mid-market, rgba($color: #fff, $alpha: 0.7));
}

// Temp blog icon SVG
.fa-blog-temp {
	background: transparent url('/assets/img/icn-fa-blog-temp.svg') no-repeat 0 0;
	width: 0.9em;
	height: 0.9em;
	position: relative;
	top: 0.1em;
}

.fa-lightbulb-white {
	background: transparent url('/assets/img/icn-lightbulb-white.svg') no-repeat 0 0;
	width: 0.9em;
	height: 0.9em;
	position: relative;
	top: 0.1em;
}