// Special dropdown styling, primarily on people page
.dropdown-special-wrapper {
	position: relative;

	.btn {
		font-size: 18px;
		padding-left: 22px;
		padding-right: 22px;
	}
}

.dropdown-special {
	background-color: #fff;
	border: 1px solid $primary;
	box-shadow: 0 6px 6px rgba(118, 104, 74, 0.5);
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	.btn:focus, .btn:hover {
		color: $color-text-gray;
	}

	.nav {
		font-size: 12px;
		line-height: 15px;
		text-align: left;

		li > ul {
			display: none;
			height: 0;
			visibility: hidden;
            transition: height .3s ease, visibility .3s ease;
		}
		li > ul.open {
			display: block;
			height: auto;
			visibility: visible;
		}

		@media screen and (min-width: 769px) {
			li > ul {
				position: absolute;
				top: -12px;
				left: 100%;
				background-color: $white;
				border: 1px solid $primary;
				height: auto;
				visibility: visible;
				width: 100%;
			}

			li:hover > ul {
				display: block;
			}
		}

	}
}