.section-people-list {
    padding-bottom: calculateRem(54px);

    @include media-breakpoint-up(md) {
        padding-bottom: calculateRem(80px);
    }
}

// Try to compensate for open people cards
// being pulled out of flow due to
// absolute positioning
// .row-people-list.has-open {
//   padding-bottom: 328px;
// }
// @include media-breakpoint-up(sm) {
//   .people-single-photo {
//     padding-bottom: 294px;
//   }
// }
// @include media-breakpoint-up(md) {
//   .people-single-photo {
//     padding-bottom: 612px;
//   }
// }

.people-hex-photo {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#people-list-img-svg-defs {
  position: absolute;
  top: 0;
  left: -9999px;
}

.people-list-img-svg {
  width: 236px;
  height: 272px;
}
.people-list-img-svg .people-svg {
  clip-path: url(#people-img-hex-clip);
  width: 100%;
}

@include media-breakpoint-up(md) {
    .people-single-photo {
        max-width: 90%;
    }
}

.people-list-person-h {
    @include fontSize(18px);
    
    @include media-breakpoint-up(lg) {
        @include fontSize(24px);
    }
}

.people-list-person-summary,
.people-list-person-info {
    display: none;
}

.people-list-person {
    position: relative;

    .close-reveal-wrapper {
        display: none;
        position: absolute;
        top: 0;
        right: 0;

        img {
            width: 16px;
            height: 16px;
        }
    }
}

.people-list-img {
    max-width: 100%;
    height: auto;
}

.people-list-name .people-team-title {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

.people-list-person.open {

    .people-list-name {
        display: none;
    }
    .close-reveal-wrapper {
        display: block;
        padding: 0.25em 0.5em;
    }

    .reveal-wrapper {
        background-color: $secondary;
        color: $white;
        position: absolute;
        z-index: 1;
        width: 775px;
        height: 649px;
        left: -5px;
        padding-left: 15px;
        padding-bottom: 123%; // Helps fill space due to absolute positioning
    }

    .people-list-person-summary {
        display: block;
        text-align: left;
        position: absolute;
        top: 60px;
        left: 266px;
        width: 472px;

        @include media-breakpoint-down(md) {
            font-size: 90%;
        }
    }

    .people-list-person-info {
        display: block;
        margin-left: -10px;

        @include media-breakpoint-up(lg) {
            margin-left: -15px;
        }

        .people-employee-summary p {
            display: none;
        }
        .people-employee-summary p:first-child {
            display: block;
        }
    }
}

@include media-breakpoint-only(sm) {
  .capital .people-list-person.open .reveal-wrapper {
    height: 336px;
  }
  .people-list-person.open .reveal-wrapper {
    max-width: unset;
    width: 200%;
    height: 100%;
  }
  .people-list-person.open .people-list-person-summary {
    top: 10%;
    left: 51.5%;
    width: 45.5%;
  }
  .people-list-person:nth-child(2n) {
    text-align: right;

    &.open .reveal-wrapper {
        left: auto;
        right: -5px;
        padding-right: 15px;
    }

    &.open .people-list-person-summary {
        left: 20px;
    }
  }
}

@include media-breakpoint-only(md) {

    .people-list-person:nth-child(3n) {
        text-align: right;
    
        &.open .reveal-wrapper {
            left: auto;
            right: -5px;
            padding-right: 15px;
        }
    
        &.open .people-list-person-summary {
            left: 20px;
        }
    }
}

@include media-breakpoint-up(lg) {

    .people-list-person:nth-child(4n-1),
    .people-list-person:nth-child(4n) {
        text-align: right;
    
        &.open .reveal-wrapper {
            left: auto;
            right: -5px;
            padding-right: 15px;
        }
    
        &.open .people-list-person-summary {
            left: 40px;
        }
    }
}

.people-list-person-social {
    @include media-breakpoint-down(md) {
        li {
            display: inline-block;
        }
    }
}

.people-list-person .reveal-wrapper,
.people-list-img-svg,
.people-list-img {

    @include media-breakpoint-down(sm) {
        display: inline-block;
    }
}

@include media-breakpoint-down(md) {
    .people-list-person.open .people-list-link {
        width: 47%;
        display: inline-block;
    }

    // Smaller icons for small screens
    .people-list-person-social .fa {
        font-size: 1.5em;
    }

}

@include media-breakpoint-down(xs) {

  .people-list-person {
      text-align: center;

      &.open {
        height: 662px;
      }
  
      &.open .reveal-wrapper {
          left: 0;
          width: 100%;
          height: 662px;
          padding-right: 15px;
      }

      &.open .people-list-link {
        width: 100%;
      }
  
      &.open .people-list-person-summary {
          position: relative;
          top: 0;
          left: auto;
          width: auto;
      }
  }
}

// Person reveal for medium screens
@include media-breakpoint-up(md) {
    .people-list-person .reveal-wrapper,
    .people-list-img {
        width: 220px;
    }
    .people-list-img-svg {
      width: 220px;
      height: 254px;
    }
    .people-list-person.open .reveal-wrapper {
        width: 485px;
        height: 294px;
    }
    .people-list-person.open .people-list-person-summary {
        top: 50px;
        left: 255px;
        width: 200px;
    }

    // HORNE Capital
    .capital .people-list-person.open .reveal-wrapper {
      height: 318px;
    }
}

// Person reveal for large screens
@include media-breakpoint-up(lg) {
    .people-list-person .reveal-wrapper,
    .people-list-img {
        width: 220px;
    }
    .people-list-img-svg {
      width: 220px;
      height: 254px;
    }
    .people-list-person.open .reveal-wrapper {
        width: 725px;
        height: 612px;
    }
    .people-list-person.open .people-list-person-summary {
        top: 60px;
        left: 266px;
        width: 472px;
    }

    // HORNE Capital
    .capital .people-list-person.open .reveal-wrapper {
      height: 659px;
    }
}

// Person reveal for x-large screens
@include media-breakpoint-up(xl) {
    .people-list-person .reveal-wrapper,
    .people-list-img {
        width: 236px;
    }
    .people-list-img-svg {
      width: 236px;
      height: 272px;
    }
    .people-list-person.open .reveal-wrapper {
        width: 775px;
        height: 649px;
    }
    .people-list-person.open .people-list-person-summary {
        top: 60px;
        left: 266px;
        width: 472px;
    }
}

.employee-text {

    h2 {
        color: $primary;
        font-size: 1em;
        text-transform: uppercase;
    }

    p + h2 {
        margin-top: 1.5rem;
    }
}