.site-header-navbar-v2 {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 99px;

    // Toggler
    .navbar-toggler {
        border: none;

        &:focus, &:active {
            outline: none;
        }
    }
    .navbar-close-icon {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3e%3cpath fill='%23adb5bd' d='M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z'/%3e%3c/svg%3e");
        display: inline-block;
        font-size: 0.75rem;
        line-height: 1;
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: middle;
        content: '';
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
    }

    // Show/hide nav toggle icons
    .navbar-toggler.collapsed .navbar-close-icon {
        display: none;
    }
    .navbar-toggler .navbar-toggler-icon {
        display: none;
    }
    .navbar-toggler.collapsed .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd'%3e%3cpath d='M24 18v1h-24v-1h24zm0-6v1h-24v-1h24zm0-6v1h-24v-1h24z'/%3e%3cpath fill='%23adb5bd' d='M24 19h-24v-1h24v1zm0-6h-24v-1h24v1zm0-6h-24v-1h24v1z'/%3e%3c/svg%3e");
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }

    .container-fluid {
        position: relative;
    }

    .navbar-main-content-v2 {
        transition: opacity 0.3s ease;

        @include media-breakpoint-down(lg) {
            margin-left: -1rem;
            margin-right: -1rem;
        }
    }

    .navbar-nav-main-v2 {
        position: relative;

        @include media-breakpoint-down(lg) {
            margin: 1rem 1rem 0 1rem;
            padding-bottom: 1rem;

            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin-left: -1rem;
                margin-right: -1rem;
                background-color: $color-background-pale;
                height: 3px;
            }
        }
        @include media-breakpoint-up(xl) {
            position: absolute;
            top: 0;
        }
    }

    .nav-item {
        text-transform: uppercase;
        letter-spacing: 0.015em;
        position: relative;
    }

    .navbar-nav .nav-link {
        @include fontSize(15px);
        background-color: $white;
        color: $gray-700;
        padding-left: 7px;
        padding-right: 7px;
        transition: all 0.3s ease;
                
        @include media-breakpoint-up(xl) {
            @include fontSize(16px);
            border-bottom: 4px solid transparent;
            padding-top: 37px; // balance border-bottom
            padding-bottom: 34px;
            padding-left: 15px;
            padding-right: 15px;
        }

        &:focus, &:hover {
            color: $primary;
        }
    }

    .nav-item.show .nav-link {
        color: $primary;
    }

    @include media-breakpoint-up(xl) {
        .nav-item.show .nav-link,
        .nav-link:focus,
        .nav-link:hover {
            background-color: $color-background-xtra-pale;
            border-color: $primary;
        }
    }

    .site-logo-v2 {
        height: 96px;
        width: 192px;
        margin-top: -7px;
    }

    // Big screen contact button
    .btn-navbar-contact-v2 {
        display: none;
        @include fontSize(14px);
        position: relative;
        right: 0;
        transition: all 0.3s ease;

        @include media-breakpoint-up(xl) {
            display: inline-block;
            @include fontSize(16px);
        }
    }
    .btn-navbar-contact-v2.slide-over {
        right: -160px;
    }

    // Little screen contact button
    .btn-navbar-contact-mobile-v2 {
        display: none;
        @include fontSize(14px);
        margin: calculateRem(24px) auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @include media-breakpoint-down(lg) {
            display: inline-block;
        }
    }
}

// Dropdown styling
.navbar-nav-main-v2 {

    .nav-item .icn-dropdown {
        margin-left: calculateRem(4px);
    }

    .nav-item .icn-dropdown .icn-angle-down {
        width: 8px;
        height: 8px;
        transition: all .3s ease;
    }

    .nav-link:focus .icn-angle-down,
    .nav-link:hover .icn-angle-down {
        fill: $primary;
    }

    .nav-item.show .icn-angle-down {
        transform: rotate(180deg);
    }
    
    .dropdown-menu {
        margin: 0;
        border: none;
        border-radius: 0;
        text-transform: none;
        letter-spacing: 0;

        @include media-breakpoint-down(xl) {
            padding-top: 0;
        }

        @include media-breakpoint-up(xl) {
            box-shadow: inset 0 20px 16px -20px rgba(0,0,0,.2);
            min-width: 100%;
            max-width: calculateRem(240px);
        }

        a {
            transition: color .3s ease, background-color .3s ease;
        }

        //  sub-sub menus
        ul {
            list-style: none;
            padding: 0;
        }
        ul a {
            font-weight: normal;
            padding-left: calculateRem(30px);
        }
    }

    .dropdown-item {
        font-weight: 600;
        @include fontSize(15px);
        padding: 0;

        &:focus, &:hover {
            background-color: transparent;
        }

    }

    .dropdown-item a {
        color: inherit;
        display: block;
        padding: calculateRem(7px) calculateRem(24px);

        &:focus, &:hover {
            background-color: $color-background-xtra-pale;
            color: $primary;
            text-decoration: none;
        }
    }

    .dropdown-item ul li a {
        padding-left: calculateRem(40px);
    }
}