.location-state-h {
    color: $primary;
    font-size: unset;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.location-h {
    margin-bottom: 0;
    font-size: unset;
    font-weight: bold;
    line-height: inherit;
}