.site-footer-v2 {
  padding: 60px 15px;
  background-color: $cream;
  border-top: 3px solid $primary;

  &.footer-slim {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }

  a {
    color: $primary !important;
    font-weight: 600;
  }

  .contact-info {
    margin: 25px auto;
  }

  &.footer-slim .contact-info {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }

  .footer-phone-number {
    color: $primary;
    font-size: 1.5rem;

    a {
      font-weight: 500;
    }
  }

  ul li {
    padding: 10px 0;
  }

  .footer-social-links {
    max-height: 150px;
  }
}

.footer-nav {
  padding-top: 25px;
  background-color: $white;

  .row {
    min-height: 180px;
  }

  &.footer-slim .row {
    min-height: unset;
  }

  .logo {
    max-width: 150px;
  }

  nav {
    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    //   max-width: 75%;
    }
  }

  .list-inline-item {
    position: relative;

    @include media-breakpoint-up(md) {
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 1px;
          height: 50%;
          transform: translateY(-50%);
          background: $black;
        }
    
        &:last-child {
          &:after {
            display: none;
          }
        }
    }
  }

  .footer-nav-link {
      padding-left: .5rem;
      @include media-breakpoint-up(md) {
        padding-left: 0;
        padding-right: 15px;
      }
    color: $secondary;
  }

  .footer-copyright {
    color: $gray-500;
    font-size: 0.875rem;
  }
}