.section-page-text {
  background-color: $color-background-pale;
  padding-top: calculateRem(48px);
  padding-bottom: calculateRem(44px);
  
  @include media-breakpoint-up(md) {
    padding-top: calculateRem(64px);
    padding-bottom: calculateRem(60px);
  }

}

.page-text-h-wrap {
  margin-bottom: calculateRem(18px);
}
.page-text-h {
  @include fontSize(24px);
}
@include media-breakpoint-up(md) {
  .page-text-h-wrap {
    margin-bottom: calculateRem(24px);
  }
  .page-text-h {
    @include fontSize(28px);
  }
}

.section-page-text .page-text-content {
  h2 {
    font-size: inherit;
    font-weight: bold;
    margin-bottom: calculateRem(4px);
  }
  p, ul, ol, blockquote {
    margin-bottom: calculateRem(24px);
  }

  @include media-breakpoint-up(md) {
    
    .img-inset-right {
      float: right;
      margin: 3px 0 6px 14px;
    }
    .img-inset-left {
      float: left;
      margin: 3px 18px 6px 0;
    }
  }

  hr {
    visibility: hidden;
    clear: both;
  }
}

.resource-callout {
  align-items: center;
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  margin-top: calculateRem(50px);
  margin-bottom: calculateRem(50px);
  padding-top: calculateRem(24px);
  padding-bottom: calculateRem(28px);
  
  .resource-callout-img-wrap {        
    @include media-breakpoint-down(sm) {
      img {
        max-width: 80px;
      }
    }
    @include media-breakpoint-up(sm) {
      padding: 0 30px;
    }
    @include media-breakpoint-up(md) {
      padding: 0 20px;
    }
    @include media-breakpoint-up(lg) {
      padding: 0 50px;
    }
  }
  
  .page-text-content .resource-callout-h,
  .resource-callout-h {
    @include fontSize(24px);
    font-weight: 400;
  }
}
