.container_join-conversation {
    background-color: #747272;
    color: #fff;
    font-size: 18px;
    padding-bottom: 16px;
    padding-top: 16px;
}

.container_join-conversation a {
    color: #ece9e2;
    font-weight: bold;
}

.caps {
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container_footer-info {
    background-color: #ece9e2;
    font-size: 14px;
    padding: 16px 15px;
}
@media screen and (min-width: 768px) {
    .container_footer-info {
        padding: 24px 56px;
    }
}

.fa_square-wrap {
    background-color: #414042;
    color: #ece9e2;
    font-size: 21px;
    padding: 7px 10px;
}
.social-icons a {
    opacity: .7;
}
.social-icons a:focus, .social-icons a:hover {
    opacity: 1;
}

.nav.nav-stacked {
    display: block;
}
.nav.nav-stacked>li {
    float: none;
}
.nav.nav-stacked>li {
    position: relative;
    display: block;
}
.nav.nav-stacked>li>a, .site-hornewealth .nav.nav-stacked>li>a {
    color: #414042;
}
.nav.nav-stacked>li>a {
    position: relative;
    display: block;
    padding: 8px 15px;
}
.nav.nav-stacked_rules.darker li:after {
    background-color: #D7D1C4;
}
.nav.nav-stacked_rules li:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: 0;
    left: 15px;
    background-color: #ece9e2;
}
.nav-stacked_rules.darker a:focus, .nav-stacked_rules.darker a:hover {
    background-color: #D7D1C4;
}
.nav-stacked>li+li {
    margin-top: 2px;
    margin-left: 0;
}
.nav-stacked_rules li+li {
    margin: -2px 0;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #ece9e2;
}

.container_footer-copyright {
    background-color: #fff;
    font-size: 12px;
    padding: 24px 56px 48px;
    -webkit-box-shadow: 0 6px 6px rgba(118,104,74,0.2);
    box-shadow: 0 6px 6px rgba(118,104,74,0.2);
    margin-bottom: 48px;
}

ul.list-inline_separate li {
    border-right: 1px solid #414042;
    line-height: 1;
    padding-right: 10px;
}
ul.list-inline_separate li:last-child {
    border: none;
}
a.plain, a.plain-hover {
    color: #414042 !important;
}

.footer-badges img {
    display: block;
    height: 55px;
    width: auto;
}