.section-news-and-events {
    background-color: $secondary;
    color: $white;
    box-shadow: inset 0 -6px 8px 0 rgba($color: #000000, $alpha: 0.5);
    padding-top: calculateRem(48px);
    padding-bottom: calculateRem(54px);

    @include media-breakpoint-up(md) {
        padding-top: calculateRem(80px);
        padding-bottom: calculateRem(80px);
    }
}

@include media-breakpoint-down(md) {
    .section-news-and-events-header {
        padding-left: calculateRem(16px);
        padding-right: calculateRem(16px);
    }
}

.news-and-events-item {
    display: flex;
}

.card-news-and-events-h {
    @include fontSize(18px);
}

.card-news-and-events-text {
    color: $color-text-gray;
    @include fontSize(15px);
}

.news-and-events-item-btn {
    position: absolute;
    bottom: calculateRem(30px);
    z-index: 1;
}

.card-news-and-events {
    background-color: $white;
    background-color: rgba($color: $white, $alpha: 0.9);
    border: none;
    display: -ms-grid;
    position: relative;
    transition: background-color 0.25s ease-in-out;
    z-index: 1;
}
.card-news-and-events:focus,
.card-news-and-events:hover {
    background-color: rgba($color: $white, $alpha: 1.0);
}
.card-news-and-events::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    box-shadow: 0 2px 6px rgba(#000000, 0.1);
    transition: opacity 0.25s ease-in-out;
}
.card-news-and-events:focus::after,
.card-news-and-events:hover::after {
    opacity: 1;
}

.card-news-and-events-img {
    position: absolute;
    top: calculateRem(12px);
    right: calculateRem(12px);
}

.card-news-and-events-body {
    padding: calculateRem(40px) calculateRem(21px) calculateRem(48px) calculateRem(21px);
}