.color-white { color: $white; }
.color-black { color: $black; }

.color-primary                  { color: $primary; } // HORNE Brand Red
.color-secondary                { color: $secondary; }
.color-dark-gray                { color: $color-text-gray; }
.color-pale-gray                { color: $color-background-pale; }
.color-paler-gray               { color: $color-background-xtra-pale; }
.color-franchise                { color: $color-franchise; }
.color-government               { color: $color-government; }
.color-public-mid-market        { color: $color-public-mid-market; }
.color-construction             { color: $color-construction; }
.color-cyber                    { color: $color-cyber; }
.color-healthcare               { color: $color-healthcare; }
.color-private-wealth           { color: $color-private-wealth; }
.color-financial-institution    { color: $color-financial-institution; }

.bg-color-white { background-color: $white; }
.bg-color-black { background-color: $black; }

.bg-color-primary                  { background-color: $primary; } // HORNE Brand Red
.bg-color-secondary                { background-color: $secondary; }
.bg-color-pale-gray                { background-color: $color-background-pale; }
.bg-color-paler-gray               { background-color: $color-background-xtra-pale; }
.bg-color-franchise                { background-color: $color-franchise; }
.bg-color-government               { background-color: $color-government; }
.bg-color-public-mid-market        { background-color: $color-public-mid-market; }
.bg-color-construction             { background-color: $color-construction; }
.bg-color-cyber                    { background-color: $color-cyber; }
.bg-color-healthcare               { background-color: $color-healthcare; }
.bg-color-private-wealth           { background-color: $color-private-wealth; }
.bg-color-financial-institution    { background-color: $color-financial-institution; }