.section-blog-posts {
    background-color: $white;
    padding-top: calculateRem(48px);
    padding-bottom: calculateRem(54px);

    @include media-breakpoint-up(md) {
        padding-top: calculateRem(80px);
        padding-bottom: calculateRem(80px);
    }
}

@include media-breakpoint-down(md) {
    .section-blog-posts-header {
        padding-left: calculateRem(16px);
        padding-right: calculateRem(16px);
    }
}

@include media-breakpoint-down(sm) {
    .section-blog-posts > .container {
        max-width: 100%;
    }
    .section-blog-posts-row {
        display: block;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .blog-posts-item {
        display: inline-block;
        white-space: normal;
        width: calc(100vw - 35%);
    }
}

@include media-breakpoint-down(xs) {
    .blog-posts-item {
        width: calc(100vw - 25%);
    }
}

.card-blog-posts {
    border: none;
    padding-top: 41%;
    overflow: hidden;
}

.card-blog-posts-img-a {
    flex-shrink: 0;
}

.card-blog-posts-img,
.card-blog-posts-body {
    padding: 0;
}

.card-blog-posts-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-blog-posts-body {
    background-color: #fff;
    padding-top: calculateRem(16px);
    position: relative;
    z-index: 2;
}

.card-blog-posts-h {
    @include fontSize(20px);

    a {
        color: $black;
    }
}