.section-L3-intro {
    background-color: $white;
    padding-top: calculateRem(48px);
    padding-bottom: calculateRem(48px);
    position: relative; // for absolute positioned breadcrumb
    
    @include media-breakpoint-up(md) {
        padding-top: calculateRem(86px);
        padding-bottom: calculateRem(64px);
    }
}

.L3-intro-h-wrap {
    margin-bottom: calculateRem(18px);
}
.L3-intro-h {
    @include fontSize(30px);
    border-top: 3px solid $primary;
    letter-spacing: calculateRem(-.5px);
    border-bottom: 3px solid $primary;
    padding: calculateRem(16px) 0 calculateRem(18px);

    p {
        margin: 0; // Fix for Umbraco inserting tags
    }
}
@include media-breakpoint-up(md) {
    .L3-intro-h-wrap {
        margin-bottom: calculateRem(24px);
    }
    .L3-intro-h {
        @include fontSize(36px);
        border-top: 3px solid $primary;
        letter-spacing: calculateRem(-.5px);
        border-bottom: 3px solid $primary;
        padding: calculateRem(16px) 0 calculateRem(18px);
    }
}

.L3-intro-img {
    max-width: 90%;
}
