//== Level 2 page header
//=======================

// General header styling
.section-L2-header {

    color: $white;
    position: relative; // for absolute positioned breadcrumb

    .jumbotron {
        background-color: $primary;
        background-position: top 0 right 0;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 0;
        padding-top: calculateRem(40px);
        padding-bottom: calculateRem(40px);

        @include media-breakpoint-up(md) {
            padding-top: calculateRem(100px);
            padding-bottom: calculateRem(90px);
        }
    }

}

.L2-header-h {
    @include fontSize(36px);
    margin-bottom: calculateRem(24px);

    @include media-breakpoint-up(lg) {
        @include fontSize(48px);
    }
}

.L2-header-lead {
    @include fontSize(20px);
}

// Franchise
.franshise .section-L2-header .jumbotron {
    @include L2-header-style(
        $color-franchise,
        '../img/hc-homepage-@2x.png',
        '../img/hc-homepage-mobile@2x.png'
    );
}

// Government Services
.government .section-L2-header .jumbotron {
    @include L2-header-style(
        $color-government,
        '../img/hc-homepage-@2x.png',
        '../img/hc-homepage-mobile@2x.png'
    );
}

// Public/Middle Market
.public-mid-market .section-L2-header .jumbotron {
    @include L2-header-style(
        $color-public-mid-market,
        '../img/hc-homepage-@2x.png',
        '../img/hc-homepage-mobile@2x.png'
    );
}

// Construction
.construction .section-L2-header .jumbotron {
    @include L2-header-style(
        $color-construction,
        '../img/hc-homepage-@2x.png',
        '../img/hc-homepage-mobile@2x.png'
    );
}

// Cyber
.cyber .section-L2-header .jumbotron {
    @include L2-header-style(
        $color-cyber,
        '../img/hc-homepage-@2x.png',
        '../img/hc-homepage-mobile@2x.png'
    );
}

// Healthcare
.healthcare .section-L2-header .jumbotron {
    @include L2-header-style(
        $color-healthcare,
        '../img/hc-homepage-@2x.png',
        '../img/hc-homepage-mobile@2x.png'
    );
}

// Private Wealth
.private-wealth .section-L2-header .jumbotron {
    @include L2-header-style(
        $color-private-wealth,
        '../img/hc-homepage-@2x.png',
        '../img/hc-homepage-mobile@2x.png'
    );
}

// Financial
.financial .section-L2-header .jumbotron {
    @include L2-header-style(
        $color-financial-institution,
        '../img/hc-homepage-@2x.png',
        '../img/hc-homepage-mobile@2x.png'
    );
}

// Capital
.capital .section-L2-header .jumbotron {
    @include L2-header-style(
        $color-public-mid-market,
        '/media/2507/horne-hero_images-horne-capital.png',
        '../img/hc-homepage-mobile@2x.png',
        $lg-top: 0,
        $lg-right: -224px,
        $xl-top: 0,
        $xl-right: -65px
    );
}

// Puerto Rico
.puerto-rico .section-L2-header .jumbotron {
    @include L2-header-style(
        $color-government,
        '../img/hc-homepage-@2x.png',
        '../img/hc-homepage-mobile@2x.png'
    );
}

// Work Here
.work-here .section-L2-header .jumbotron {
    @include L2-header-style(
        $primary,
        '/media/2413/bg-pgande-homepage-2x.png',
        '../img/hc-homepage-mobile@2x.png'
    );
}
