.hubspot-signup {
    .hs-input,
    .hs-button {
        height: 30px;
    }
    .hs-button {
        float: none;
    }
    @media (min-width: 992px) {
        .hs-email,
        .hs-email .hs-input {
            width: 100%;
        }
    }
    .hs-email,
    .hs-submit {
        display: inline-block;
    }
    .hs-email label {
        display: none;
    }
    .hs-error-msgs {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}