// Plain links
.link-plain,
.link-plain:visited {
    color: $secondary;
}
.link-plain:focus,
.link-plain:hover {
    color: darken($secondary, 10%);
}
.link-plain-reverse,
.link-plain-reverse:visited {
    color: white;
}
.link-plain-reverse:focus,
.link-plain-reverse:hover {
    color: white;
    opacity: 9;
}
.link-no-underline,
.link-no-underline:focus,
.link-no-underline:hover {
    text-decoration: none;
}

// Normal text within link area
.link-block {
    color: $secondary;
    text-decoration: none;
    
    &:focus, &:hover {
        color: $secondary;
        text-decoration: none;
    }
}

// Normal reversed text within link area
.link-block-reverse {
    color: $white;
    text-decoration: none;
    
    &:focus, &:hover {
        color: $white;
        text-decoration: none;
    }
}

// White links within element
.element-links-white {

    a {
        color: $white;
        text-decoration: none;
        
        &:focus, &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}

// Plus caps link
.link-plus-caps {
    text-transform: uppercase;

    &::before {
        content: '+';
        display: inline-block;
        margin-right: 0.35em;
    }
}

// Hide and disable
.hide-me {
    opacity: 0;
    pointer-events: none;
}

// Overflow stuff
.overflow-hidden {
    overflow: hidden;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
.overflow-y-hidden {
    overflow-y: hidden;
}